.history-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;

    h4.title {
        font-family: Chillax;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #000000;
        margin-bottom: 20px;
    }

    .average-profitability {
        .inner-box {
            background: #ffffff;
            border-radius: 30px;
            padding: 25px;
            &.chart-loader {
                min-height: 500px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        ::ng-deep .apexcharts-series-markers {
            .apexcharts-marker {
                cursor: pointer;
                &:hover {
                    fill: #00d091;
                    fill-opacity: 1;
                    filter: none;
                }
                &[selected="true"] {
                    fill: #ffffff;
                    fill-opacity: 1;
                    filter: none;

                    &:hover {
                        fill: #00d091;
                        fill-opacity: 1;
                        filter: none;
                    }
                }
            }
        }

        .button-style mat-button-toggle {
            background: #fff;
            border: 2px solid #62eed3 !important;
        }

        .button-style .mat-button-toggle-checked {
            background: #e0fcf6;
            border: 2px solid #62eed3 !important;
        }
    }

    .total-earnings {
        margin: 40px 0px;

        .inner-box {
            background: #ffffff;
            border-radius: 30px;
            padding: 25px;

            span {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: #000000;
            }

            h2 {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 68px;
                line-height: 68px;
                margin-top: 15px;
                color: #00d091;

                ::ng-deep sub {
                    font-family: Chillax;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 36px;
                    color: #00d091;
                }
            }

            &.green {
                background: #00d091 !important;
                margin-top: 1.3rem;

                span {
                    color: #fff;
                }
                h2 {
                    color: #fff;

                    ::ng-deep sub {
                        color: #fff;
                    }
                }
            }
        }
    }
}

:host-context(.dark) .history-wrap {
    .average-profitability {
        h4 {
            color: #fff;
        }
        .inner-box {
            background: #1e2126;
        }

        .button-style mat-button-toggle {
            background: #1e2126;
            border: 2px solid #0e785b !important;
        }

        .button-style .mat-button-toggle-checked {
            background: #24413e;

            border: 2px solid #62eed3 !important;
        }
        ::ng-deep .mat-button-toggle-group .mat-button-toggle.mat-button-toggle-checked .mat-button-toggle-label-content {
            color: #62eed3 !important;
        }

        ::ng-deep .mat-button-toggle-group .mat-button-toggle .mat-button-toggle-label-content {
            color: #0e785b !important;
        }

        ::ng-deep {
            .apexcharts-text {
                fill: #879b95;
            }
            .apexcharts-datalabel {
                fill: #879b95;
            }
        }
    }

    .total-earnings {
        h4 {
            color: #fff;
        }

        .inner-box {
            background: #1e2126;

            span {
                color: #fff;
            }
        }
    }



}
