<div class="history-wrap">
    <section class="average-profitability">
        <h4 class="title">Average Profitability </h4>
        <div class="inner-box" [ngClass]="chartDataLoader?'chart-loader':''">
            <mat-progress-spinner [diameter]="50" [mode]="'indeterminate'" *ngIf="chartDataLoader"></mat-progress-spinner>
            <div class="w-full mb-5" [ngClass]="chartDataLoader?'d-none':'flex'">
                <mat-button-toggle-group
                    class="sm:inline-flex border-none space-x-1 button-style"
                    [value]="avgProfitType" (change)="changeAvgProfitType($event)"
                    #visitorsYearSelector="matButtonToggleGroup">
                    <mat-button-toggle
                        class="px-1.5 rounded-full font-medium"
                        value="hourly">Hourly
                    </mat-button-toggle>
                    <mat-button-toggle
                        class="px-1.5 rounded-full font-medium"
                        value="daily">Daily
                    </mat-button-toggle>
                    <mat-button-toggle
                        class="px-1.5 rounded-full font-medium"
                        value="weekly">Weekly
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div class="h-100 w-full" [ngClass]="chartDataLoader?'d-none':'flex'">
                <apx-chart #avgProfitChart
                    class="flex-auto w-full h-full"
                    [chart]="avgProfitChartOpts.chart"
                    [colors]="avgProfitChartOpts.colors"
                    [dataLabels]="avgProfitChartOpts.dataLabels"
                    [fill]="avgProfitChartOpts.fill"
                    [grid]="avgProfitChartOpts.grid"
                    [markers]="avgProfitChartOpts.markers"
                    [series]="avgProfitChartOpts.series"
                    [stroke]="avgProfitChartOpts.stroke"
                    [tooltip]="avgProfitChartOpts.tooltip"
                    [xaxis]="avgProfitChartOpts.xaxis"
                    [yaxis]="avgProfitChartOpts.yaxis"></apx-chart>
            </div>
        </div>
    </section>
    <section class="total-earnings">
        <h4 class="title">Total Earnings </h4>
        <div class="row">
            <div class="col-lg-6">
                <div class="inner-box 30-days-earnings">
                    <span>Past 30 days</span>
                    <h2 [innerHtml]="pastDaysEarning | currency1 | safeHtml"></h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="inner-box green sm:mt-0 all-time-earnings">
                    <span>All Time</span>
                    <h2 [innerHtml]="allTimeEarning | currency1 | safeHtml"></h2>
                </div>
            </div>
        </div>
    </section>
</div>


