<div class="account-wrap">
        <form>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control" id="email" placeholder="Email Address" value="{{ user.email }}" disabled="" />
                    </div>
                </div>
            </div>
        </form>
        <hr />
        <form class="mt-8" [formGroup]="changePasswordForm">
            <div class="row">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-9">
                            <label for="pwd" class="mb-2">Reset Password</label>
                            <p class="mt-0 mb-5">To change your password, enter your current password followed by your new password.</p>
                        </div>
                    </div>
                    <fuse-alert class="mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [dismissible]="true">
                        {{alert.message}}
                    </fuse-alert>
                    <div class="row align-items-center mb-4">
                        <div class="col-lg-6">
                            <input type="password" class="form-control" placeholder="Current Password" [formControlName]="'currentPwd'" />
                            <span class="error text-danger" *ngIf="changePasswordForm.get('currentPwd').touched && changePasswordForm.get('currentPwd').hasError('required')">
                            Current password is required
                        </span>
                        </div>
                        <div class="col-lg-6">
                            <a [routerLink]="['/forgot-password']"><span class="fp-text">Forgot your password?</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="New Password" [formControlName]="'password'" />
                        <span class="error text-danger" *ngIf="changePasswordForm.get('password').touched && changePasswordForm.get('password').hasError('required')">
                            Password is required
                        </span>
                        <span class="error text-danger" *ngIf="changePasswordForm.get('password').touched && changePasswordForm.get('password').hasError('pattern')">
                            Password requires at least 8 characters in length, one lowercase and uppercase letter, one number, one special character
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm New Password" [formControlName]="'passwordConfirm'" />
                        <span class="error text-danger" *ngIf="changePasswordForm.get('passwordConfirm').touched && changePasswordForm.get('passwordConfirm').hasError('required')">
                            Confirm password is required
                        </span>
                        <span class="error text-danger" *ngIf="changePasswordForm.get('passwordConfirm').touched && changePasswordForm.get('passwordConfirm').hasError('mustMatch')">
                            Confirm password does not match
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                        <button class="fuse-mat-button-large w-full mt-3" mat-flat-button [disabled]="changePasswordForm.disabled" (click)="changePassword()">
                            <span *ngIf="!changePasswordForm.disabled" class="d-flex align-items-center"> Update Password <img src="assets/images/r-arrow.svg" class="ml-2" /> </span>
                            <mat-progress-spinner *ngIf="changePasswordForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                        </button>
                </div>
            </div>
        </form>
    <hr />
    <div class="row">
        <div class="two-factor">
            <div class="col-lg-8">
                <div class="d-flex align-items-center">
                    <label for="tfi" class="mr-4">Two-Factor Identification</label>
                    <label class="switch">
                        <input type="checkbox" />
                        <span class="slider round"></span>
                    </label>
                </div>
                <p class="mt-2">Set up two-factor identification to protect your account from unauthorized access.</p>
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="withdrawal">
            <h5>Withdrawal Addresses</h5>
            <div class="titles">
                <div class="row">
                    <div class="col-lg-3 pl-2"><h6>Wallet Nickname</h6></div>
                    <div class="col-lg-7"><h6>Wallet Address</h6></div>
                </div>
            </div>
            <div class="address-row">
                <div class="row align-items-center">
                    <div class="col-lg-3"><h6>Coinbase</h6></div>
                    <div class="col-lg-7"><h6>xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</h6></div>
                    <div class="col-lg-2">
                        <ul class="d-flex align-items-center justify-content-end p-0 m-0">
                            <li class="mr-3"><img src="assets/images/edit.svg" (click)="AddEditWalletModal.openModal(1)" /></li>
                            <li><img src="assets/images/delete.svg" (click)="DeleteWalletConfirm.openModal(1)" /></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="address-row">
                <div class="row align-items-center">
                    <div class="col-lg-3"><h6>Coinbase</h6></div>
                    <div class="col-lg-7"><h6>xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</h6></div>
                    <div class="col-lg-2">
                        <ul class="d-flex align-items-center justify-content-end p-0 m-0">
                            <li class="mr-3"><img src="assets/images/edit.svg" (click)="AddEditWalletModal.openModal(2)" /></li>
                            <li><img src="assets/images/delete.svg" (click)="DeleteWalletConfirm.openModal(2)" /></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="address-row">
                <div class="row align-items-center">
                    <div class="col-lg-3"><h6>Coinbase</h6></div>
                    <div class="col-lg-7"><h6>xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</h6></div>
                    <div class="col-lg-2">
                        <ul class="d-flex align-items-center justify-content-end p-0 m-0">
                            <li class="mr-3"><img src="assets/images/edit.svg" (click)="AddEditWalletModal.openModal(3)" /></li>
                            <li><img src="assets/images/delete.svg" (click)="DeleteWalletConfirm.openModal(3)" /></li>
                        </ul>
                    </div>
                </div>
            </div>

            <h6 class="d-flex align-items-center add-new" (click)="AddEditWalletModal.openModal()"><img class="w-5 mr-4" src="assets/images/plus-round.svg" /> Add a new wallet</h6>
        </div>
    </div>
</div>

<add-edit-wallet-modal #addEditWalletModal></add-edit-wallet-modal>
<delete-wallet-confirm #deleteWalletConfirm></delete-wallet-confirm>