.account-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;

    form {
        label {
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            color: #000000;
            margin-bottom: 15px;
        }
        input[type="text"] {
            background: #ffffff;
            border: 2px solid #a4e9d5;
            border-radius: 20px;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
            color: #7e7e80;
            padding: 12px;
        }
        input[type="email"] {
            background: #ffffff;
            border: 2px solid #a4e9d5;
            border-radius: 20px;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
            color: #7e7e80;
            padding: 12px;
        }
        input[type="password"] {
            background: #ffffff;
            border: 2px solid #a4e9d5;
            border-radius: 20px;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
            color: #7e7e80;
            padding: 12px;
        }

        .fp-text {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 16px;
            text-decoration-line: underline;

            color: #000000;
        }

        button {
            background: #e3fdf8;
            border: 2px solid #00d091;
            border-radius: 25px;
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #00d091;
        }
    }

    hr {
        margin: 40px 0px 35px 0px;
        border-color: #e4e4e6;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 56px;
        height: 30px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #9c9c9e;
        border-radius: 15px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 5px;
        bottom: 5px;
        background-color: #fff;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    input:checked + .slider {
        background-color: #9c9c9e;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #9c9c9e;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    p {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        color: #7e7e80;
    }

    .withdrawal {
        h5 {
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            color: #000;
        }

        .titles {
            padding-left: 12px;
            h6 {
                font-style: normal;

                font-size: 18px;
                line-height: 24px;
                color: #00d091;
                margin-top: 15px;
            }
        }

        .address-row {
            background: #ffffff;
            border-radius: 20px;
            padding: 12px 20px;
            margin-top: 15px;

            h6 {
                margin: 0px;
            }
            img {
                width: 30px;
                cursor: pointer;
            }
        }

        .add-new {
            font-size: 16px;
            color: #00d091;
            margin-top: 30px;
            margin-bottom: 20px;
            cursor: pointer;
        }
    }
}
