<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->
<fuse-vertical-navigation class="print:hidden" [mode]="isScreenSmall ? 'over' : 'side'" [name]="'mainNavigation'" [navigation]="navigation.default" [opened]="!isScreenSmall">
    <!-- Navigation header hook -->
    <ng-container fuseVerticalNavigationContentHeader>
        <div class="flex items-center w-full p-4 pl-6">
            <!-- Logo -->
            <div class="flex items-center justify-center">
                <img src="assets/images/logo/logo-nav-{{config.scheme}}.svg" />
            </div>
            <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2 mt-4">
                <user></user>
            </div>
        </div>
    </ng-container>
    <!-- Navigation footer hook -->
    <ng-container fuseVerticalNavigationContentFooter>
        <div class="flex flex-0 items-center justify-center h-16 pr-6 pl-2 mt-2 mb-4 opacity-12">
            <img class="max-w-36" src="assets/images/logo/logo-text-on-dark.svg" />
        </div>
    </ng-container>
</fuse-vertical-navigation>

<!-- Wrapper -->


<div class="flex flex-col flex-auto w-full min-w-0 position-relative main-wrapper">
    <!-- Header -->

    <div class="responsive-header" *ngIf="isScreenSmall">
        <div class="header">
            <div class="row align-items-center">
                <div class="col-7 col-sm-4">
                    <!--<img src="assets/images/logo/logo-nav-{{config.scheme}}.svg" />-->
                    <img src="assets/images/logo/logo-nav-light.svg" />
                </div>
                <div class="col-5 col-sm-8 text-right">
                    <button mat-icon-button (click)="toggleNavigation('mainNavigation')">
                        <img src="assets/images/hamburger.svg" />
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="common-header" *ngIf="!hasRoute('earnings') && !hasRoute('wallet') && !hasRoute('account') && !hasRoute('bithome-coin')">
        <div class="header-balance">
            <div class="relative flex flex-0 items-center">
                <!--<button mat-icon-button (click)="toggleNavigation('mainNavigation')">
                    <img src="assets/images/hamburger.svg" />
                </button>-->
                <h1 class="mb-0">Account Balance</h1>

                <div class="pl-2 ml-auto space-x-0.5 sm:space-x-2">
                    <setting-change-scheme></setting-change-scheme>
                </div>
            </div>
            <div class="show-balance-area mt-2">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-12">
                        <div class="cal-amount">
                            <div class="calendar">
                                <h6 [innerHtml]="currDayMonth | safeHtml"></h6>
                            </div>
                            <h2 [innerHtml]="minerBalance | currency1 | safeHtml"></h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="per-amount-details">
                            <h6><img src="assets/images/top-arrow.svg" /> 0% <span> Comp. last week</span></h6>
                            <div class="view-earnings">
                                <a [routerLink]="['/wallet']">
                                    View Earnings <span> <img src="assets/images/arrow.svg" /> </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="earning-header" *ngIf="hasRoute('wallet') || hasRoute('earnings')">
        <div class="header-balance">
            <div class="relative flex flex-0 items-center">
                <!--<button mat-icon-button (click)="toggleNavigation('mainNavigation')">
                    <img src="assets/images/hamburger.svg" />
                </button>-->

                <h1 class="mb-0">Current Balance</h1>

                <div class="pl-2 ml-auto space-x-0.5 sm:space-x-2">
                    <setting-change-scheme></setting-change-scheme>
                </div>
            </div>
            <div class="show-balance-area mt-2">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-6">
                        <div class="cal-amount">
                            <div class="calendar">
                                <h6 [innerHtml]="currDayMonth | safeHtml"></h6>
                            </div>
                            <h2 [innerHtml]="minerBalance | currency1 | safeHtml"></h2>
                        </div>

                        <div class="usd-bit-balance">
                            <ul>
                                <li>
                                    <span> <img src="assets/images/coin-dollar.svg" /></span> {{ minerBalance | currency0 }}
                                </li>
                                <li>
                                    <span> <img src="assets/images/bit-coin.svg" /> </span> --
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-6">
                        <div class="per-amount-details">
                            <h6><img src="assets/images/top-arrow.svg" /> 0% <span> Comp. last week</span></h6>
                        </div>
                    </div>
                </div>

                <div class="withdraw-earnings">
                    <button type="button" (click)="WithdrawEarningModal.openModal()" *ngIf="hasRoute('earnings')">
                        Withdraw Earnings <span> <img src="assets/images/arrow.svg" /> </span>
                    </button>
                    <button type="button" (click)="WithdrawWalletModal.openModal()" *ngIf="hasRoute('wallet')">
                        Withdraw Earnings <span> <img src="assets/images/arrow.svg" /> </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="account-header" *ngIf="hasRoute('account')">
        <div class="relative flex flex-0 items-center">
            <!-- <button mat-icon-button (click)="toggleNavigation('mainNavigation')">
                <img src="assets/images/hamburger.svg" />
            </button>-->
            <h1 class="mb-0">Account Settings</h1>

            <div class="pl-2 ml-auto space-x-0.5 sm:space-x-2">
                <setting-change-scheme></setting-change-scheme>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto pl-4 pr-4 sm:p-0">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <div class="footer">
        <ul>
            <li>
                <a [routerLink]="['/pages/help-support']">Help & Support</a>
            </li>
            <li>
                <a [routerLink]="['/pages/terms-condition']">Terms Of Use</a>
            </li>
            <li>
                <a [routerLink]="['/pages/privacy-policy']">Privacy Policy</a>
            </li>
        </ul>

        <span class="copy-right"> &copy; {{currentYear}} BitHome Inc. </span>
    </div>
</div>

<withdraw-earning-modal #withdrawEarningModal></withdraw-earning-modal>
<withdraw-wallet-modal #withdrawWalletModal></withdraw-wallet-modal>
