.common-header {
    .header-balance {
        padding: 20px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #ffffff 100%);
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        margin-bottom: 40px;

        h1 {
            font-weight: 600;
            font-family: "Chillax", sans-serif;
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 10px;
            color: #000000;
        }

        .show-balance-area {
            background: #00d091;
            padding: 20px;
            border-radius: 30px;

            .cal-amount {
                display: flex;
                .calendar {
                    background: linear-gradient(90deg, #33d9a7 0%, #62eed3 100%);
                    border-radius: 15px;
                    width: 74px;
                    height: 74px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    h6 {
                        font-size: 16px;
                        line-height: 26px;
                        text-align: center;
                        color: #ffffff;
                        margin-bottom: 0px;

                        ::ng-deep span {
                            font-weight: bold;
                            font-size: 22px;
                            display: block;
                            color: #fff;
                        }
                    }
                }

                h2 {
                    font-weight: 600;
                    font-family: "Chillax", sans-serif;
                    font-size: 64px;
                    line-height: 64px;
                    color: #fff;
                    margin-left: 50px;
                    margin-bottom: 0px;

                    ::ng-deep sub {
                        font-size: 20px;
                        right: 8px;
                        bottom: -1px;
                    }
                }
            }

            .per-amount-details {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                h6 {
                    font-family: Chillax;
                    font-size: 20px;
                    line-height: 20px;
                    text-align: right;
                    color: #ffffff;
                    margin-bottom: 0px;
                    display: flex;
                    align-items: center;

                    span {
                        font-size: 14px;
                        line-height: 14px;
                        color: #ffffff;
                        margin-left: 10px;
                    }

                    img {
                        width: 12px;
                        margin-right: 10px;
                    }
                }

                .view-earnings {
                    background: #4ddeb2;
                    border-radius: 25px;

                    margin-left: 20px;

                    a {
                        font-family: Chillax;
                        font-size: 16px;
                        line-height: 19px;
                        padding: 15px 30px;
                        text-decoration: none;
                        color: #ffffff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    img {
                        width: 20px;
                        margin-left: 8px;
                    }
                }
            }
        }
    }
}

.earning-header {
    .header-balance {
        padding: 20px;
        background: #00d091;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        margin-bottom: 40px;

        h1 {
            font-weight: 600;
            font-family: "Chillax", sans-serif;
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 10px;
            color: #fff;
        }

        .show-balance-area {
            background: #00d091;

            border-radius: 30px;

            .cal-amount {
                display: flex;
                .calendar {
                    background: linear-gradient(0deg, #ffffff, #ffffff);
                    border-radius: 19.4737px;
                    width: 74px;
                    height: 74px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    h6 {
                        font-size: 16px;
                        line-height: 26px;
                        text-align: center;
                        color: #00d091;

                        ::ng-deep span {
                            font-weight: bold;
                            font-size: 22px;
                            display: block;
                            color: #00d091;
                        }
                    }
                }

                h2 {
                    font-weight: 600;
                    font-family: "Chillax", sans-serif;
                    font-size: 64px;
                    line-height: 64px;
                    color: #fff;
                    margin-left: 50px;
                    margin-bottom: 0px;

                    ::ng-deep sub {
                        font-size: 20px;
                        right: 8px;
                        bottom: -1px;
                    }
                }
            }

            .per-amount-details {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                h6 {
                    font-family: Chillax;
                    font-size: 20px;
                    line-height: 20px;
                    text-align: right;
                    color: #ffffff;
                    margin-bottom: 0px;
                    display: flex;
                    align-items: center;

                    span {
                        font-size: 14px;
                        line-height: 14px;
                        color: #ffffff;
                        margin-left: 10px;
                    }

                    img {
                        width: 12px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .withdraw-earnings {
        background: #4ddeb2;
        border-radius: 25px;

        margin-top: 15px;

        button {
            font-family: Chillax;
            font-size: 16px;
            line-height: 19px;
            text-decoration: none;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 15px 30px;
        }

        img {
            width: 20px;
            margin-left: 8px;
        }
    }

    ::ng-deep {
        .custom-checkbox {
            input + .slider {
                background: #fff !important;
                &:before {
                    background: linear-gradient(90deg, #33d9a7 0%, #62eed3 100%);
                }
            }
            input:focus + .slider {
                box-shadow: 0 0 1px #fff !important;
            }
            span {
                color: #fff !important;
            }
        }
    }
}

.account-header {
    padding-top: 22px;
    h1 {
        font-family: Chillax;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
        color: #000000;
    }
}

.footer {
    background: #000002;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 25px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        padding: 0px;
        margin: 0px;
        li {
            display: inline-block;
            margin-right: 15px;

            a {
                font-size: 14px;
                line-height: 21px;
                text-decoration: none;
                color: #ffffff;
            }
        }
    }

    .copy-right {
        font-size: 14px;
        line-height: 21px;
        text-align: right;
        color: #ffffff;
    }
}

:host-context(.dark) .main-wrapper {
    .common-header {
        .header-balance {
            background: linear-gradient(180deg, rgba(51, 81, 76, 0.0001) 0%, #33514c 100%);

            h1 {
                color: #ffffff;
            }
        }
    }

    .account-header {
        h1 {
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 45px;

            color: #00c58a;
        }
    }

    .footer {
        background: #1e2126;
    }
}

.responsive-header {
    display: none;
}

.main-wrapper {
    padding: 0px 15px;
}

@media screen and (min-width: 319px) and (max-width: 680px) {
    .main-wrapper {
        padding: 0px;
    }
    .responsive-header {
        display: block;

        .header {
            background: #00d091;
            padding: 20px;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
        }
    }

    /*::ng-deep {
        .dark {
            .responsive-header .header {
                background: #121c1b !important;
            }
        }
    }*/

    .header-balance {
        h1 {
            white-space: nowrap;
        }
    }

    .common-header {
        .header-balance {
            .show-balance-area {
                position: relative;
                margin-top: 18px !important;
                .cal-amount {
                    flex-direction: column;
                    .calendar {
                        flex-direction: column;
                        height: inherit;
                        padding: 8px 0px;
                        border-radius: 10px;

                        h6 {
                            text-transform: uppercase;
                            font-size: 14px;

                            ::ng-deep span {
                                font-weight: bold;
                                font-size: 15px;
                                display: inline-block;
                                margin-left: 5px;
                            }
                        }
                    }

                    h2 {
                        font-size: 52px;

                        margin-left: 12px;

                        margin-top: 15px;
                        margin-bottom: 15px;

                        sub {
                            font-size: 15px;
                            bottom: 0px;
                        }
                    }
                }

                .per-amount-details {
                    justify-content: flex-start;

                    h6 {
                        position: absolute;
                        top: 32px;
                        right: 25px;
                    }

                    .view-earnings {
                        margin-left: 0px;
                    }
                }
            }
        }
    }
    .earning-header {
        .header-balance {
            margin-top: 25px;
            border-radius: 30px;
            .show-balance-area {
                position: relative;
                .cal-amount {
                    flex-direction: column;
                    .calendar {
                        flex-direction: column;

                        h6 {
                            text-transform: uppercase;
                            margin: 0px;

                            ::ng-deep span {
                                font-weight: bold;
                                font-size: 16px;
                                display: inline-block;
                                margin-left: 5px;
                            }
                        }
                    }

                    h2 {
                        font-size: 50px;
                        margin-left: 12px;
                        margin-top: 10px;
                        margin-bottom: 10px;

                        sub {
                            font-size: 15px;
                            bottom: 0px;
                        }
                    }
                }

                .per-amount-details {
                    justify-content: flex-start;

                    h6 {
                        position: absolute;
                        top: 30px;
                        right: 0px;
                    }

                    .view-earnings {
                        margin-left: 0px;
                    }
                }
            }
        }

        .withdraw-earnings {
            margin-top: 0px;
        }
    }

    .footer {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .main-wrapper {
        padding: 0px;
    }
    .responsive-header {
        display: block;

        .header {
            background: #00d091;
            padding: 20px;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
        }
    }

    .header-balance {
        h1 {
            white-space: nowrap;
        }
    }
}

.usd-bit-balance {
    ul {
        margin-bottom: 10px;
        padding-left: 112px;
        display: flex;
        align-items: center;

        li {
            margin: 0px;
            font-size: 18px;
            line-height: 20px;
            color: #fff;
            margin-right: 15px;
            font-weight: 500;
            font-family: "Chillax", sans-serif;
            display: flex;
            align-items: center;

            img {
                max-width: 22px;
                margin-right: 15px;
            }
        }
    }
}

@media screen and (min-width: 319px) and (max-width: 680px) {
    
    .account-header {
    padding: 15px;
    h1 {
        
        font-size: 40px;
        line-height: 45px;
        
    }
}
    .footer {
        ul {
            text-align: center;
            margin-bottom: 15px;
        }
    }

    .usd-bit-balance {
        ul {
            margin-bottom: 20px;
            padding-left: 0px;

            li {
                img {
                    margin-right: 25px;
                }
            }
        }
    }
}
