.modal-content-inside {
    .head {
        padding: 0px 50px 50px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 42px;
            line-height: 32px;
            color: #00d091;
            margin: 0px;
        }

        img {
            width: 40px;
        }
    }

    .modal-body {
        padding: 0px;

        .add-pc-mobile {
            h3 {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 24px;
                color: #00d091;
                margin: 0px 0px 15px;
            }

            h4 {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
                color: #000000;
                margin: 0px 0px 10px;
            }

            p {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;

                color: #7e7e80;
            }
        }

        .add-pc-steps {
            display: flex;

            .step {
                padding: 0px 50px;
                border-right: 1px solid #e4e4e6;
                width: 33.3%;

                &:last-child {
                    border-right: 0px;
                }

                h3 {
                    font-family: Chillax;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 32px;
                    color: #00d091;
                    margin-bottom: 25px;
                }

                h6 {
                    font-family: Chillax;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 25px;

                    color: #000000;
                }

                p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;

                    color: #7e7e80;
                }

                span {
                    a {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 16px;

                        text-decoration-line: underline;

                        color: #000000;
                    }
                }

                .btn {
                    background: #e3fdf8;
                    border: 2px solid #00d091;
                    border-radius: 25px;
                    padding: 8px 20px;
                    display: flex;
                    align-items: center;
                    font-family: Chillax;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    text-align: center;
                    margin-top: 30px;
                }
            }
        }
    }
}

::ng-deep {
    .dark {
        .modal-content-inside {
            .head {
                h2 {
                    color: #00d091 !important;
                }
            }

            .modal-body {

                .add-pc-mobile {
                    h3 {
                        color: #ffffff !important;
                    }

                    h4 {
                        color: #00d091 !important;
                    }

                    p {
                        color: #ffffff !important;
                    }
                }
                .add-pc-steps {
                    .step {
                        border-right: 1px solid #3b3f46 !important;
                        h3 {
                            color: #fff !important;
                        }
                        h6 {
                            color: #00d091 !important;
                        }

                        p {
                            color: #fff !important;
                        }

                        span {
                            a {
                                color: #fff !important;
                            }
                        }
                    }
                }
            }
        }

        
    }
}

@media screen and (min-device-width: 319px) and (max-device-width: 640px) {
    .modal-content-inside {
        .head {
            padding: 0px;

            h2 {
                font-size: 30px !important;
                max-width: 55%;
            }
        }
        .modal-body {
            padding: 15px 0px;
            margin-top: 0px;

            .add-pc-steps {
                flex-direction: column;

                .step {
                    padding: 15px;
                    border-right: 0px;
                    width: 100%;
                }
            }
        }
    }
}
