<ng-template #addPcModal let-modal>
    <div class="modal-content-inside">
        <div class="head">
            <h2>How to add a PC</h2>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="20" cy="20" r="20" fill="#E3FDF8" />
                    <path d="M26.364 13.636L13.636 26.3639" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                    <path d="M13.636 13.636L26.364 26.364" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                </svg>
            </button>
        </div>
        <div class="modal-body">
            <div class="add-pc-mobile lg:hidden">
                <h3>It looks like you’re on mobile.</h3>
                <h4>Head to your PC.</h4>
                <p>We’ve just sent you an email with a link to download the desktop app from your PC. Once there, you’ll be able to complete your BitHome setup!</p>
            </div>
            <div class="add-pc-steps hidden lg:flex">
                <div class="step-1 step">
                    <h3>Step 1</h3>
                    <h6>Download mining software</h6>
                    <p>Our mining software provides a simple interface for your PC to mine cryptocurrency.</p>
                    <span><a href="#"> Not sure if your PC can mine?</a></span>
                    <button type="button" class="btn download action-button" (click)="downloadPc()"><svg width="13" height="20" class="mr-2" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.50002 1V13.7273" stroke="#00D091" stroke-width="2" stroke-linecap="round"/>
                    <path d="M1 8.27273L6.5 13.7273L12 8.27273" stroke="#00D091" stroke-width="2" stroke-linecap="round"/>
                    <path d="M1 18.5455H12" stroke="#00D091" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                     Download</button>
                </div>
                <div class="step-2 step">
                    <h3>Step 2</h3>
                    <h6>Sign in & configure</h6>
                    <p>Follow the steps in the BitHome mining application to connect your PC to your BitHome account.</p>
                    
                </div>
                <div class="step-3 step">
                    <h3>Step 3</h3>
                    <h6>That’s it!</h6>
                    <p>Once you've completed the setup in the BitHome mining application, click below to see your new mining status.</p>
                    <button type="button" class="btn viewpc action-button" (click)="goToPc()">View My PCs <svg class="ml-2" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="1" y="1" width="20" height="20" rx="10" stroke="#00D091" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M9.66667 7L13.6667 11L9.66667 15" stroke="#00D091" stroke-width="1.5" stroke-linecap="round"/>
                    </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
