<div class="container">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-5">
            <div class="inside-box">
                <!-- Logo -->
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-12 mb-3">
                        <img src="assets/images/logo/bithome-logo-{{config.scheme}}.svg" />
                    </div>
                </div>

                <!-- Title -->

                <!-- Alert -->
                <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>

                <!-- Sign Up form -->
                <form class="mt-8" [formGroup]="signUpForm">
                    <!-- Name field -->
                    <mat-form-field class="w-full">
                        <input id="name" matInput [formControlName]="'name'" placeholder="User Name" />
                        <mat-error>
                            User Name is required
                        </mat-error>
                    </mat-form-field>

                    <!-- Email field -->
                    <mat-form-field class="w-full">
                        <input id="email" matInput placeholder="Email address" [formControlName]="'email'" />
                        <mat-error *ngIf="signUpForm.get('email').hasError('required')">
                            Email address is required
                        </mat-error>
                        <mat-error *ngIf="signUpForm.get('email').hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>

                    <!-- Password field -->

                    <mat-form-field class="w-full">
                        <input id="password" matInput type="password" placeholder=" Password" [formControlName]="'password'" #passwordField />
                        <button mat-icon-button type="button" (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'" matSuffix>
                            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'" [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error *ngIf="signUpForm.get('password').hasError('required')">
                            Password is required
                        </mat-error>
                        <mat-error *ngIf="signUpForm.get('password').hasError('pattern')">
                            Password requires at least 8 characters in length, one lowercase and uppercase letter, one number, one special character
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <input id="cpassword" matInput type="password" placeholder="Confirm Password" [formControlName]="'cpassword'" #cpasswordField />
                        <button mat-icon-button type="button" (click)="cpasswordField.type === 'password' ? cpasswordField.type = 'text' : cpasswordField.type = 'password'" matSuffix>
                            <mat-icon class="icon-size-5" *ngIf="cpasswordField.type === 'password'" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon class="icon-size-5" *ngIf="cpasswordField.type === 'text'" [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error>
                            Confirm Password does not match
                        </mat-error>
                    </mat-form-field>

                    <!-- ToS and PP -->
                    <div class="inline-flex items-end w-full mt-1.5">
                        <mat-checkbox [color]="'primary'" [formControlName]="'agree'">
                            <span>I agree to the</span>
                            <a class="ml-1 hover:underline" [routerLink]="['./']">Service </a>
                            <span>and</span>
                            <a class="ml-1 hover:underline" [routerLink]="['./']">Privacy Policy </a>
                        </mat-checkbox>
                        
                    </div>
                    <mat-error *ngIf="signUpForm.get('agree').invalid && signUpForm.get('agree').touched">
                        Please read and agree the service and privacy policy
                    </mat-error>

                    <!-- Submit button -->
                    <button class="fuse-mat-button-large w-full mt-6 submit-btn" mat-flat-button [color]="'primary'" [disabled]="signUpForm.disabled" (click)="signUp()">
                        <span *ngIf="!signUpForm.disabled" class="d-flex align-items-center"> Sign Up <img src="assets/images/round-arrow.svg" class="ml-2" /> </span>
                        <mat-progress-spinner *ngIf="signUpForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>

                    <div class="flex items-baseline mt-6">
                        <h6>Already have an account?</h6>
                        <a class="ml-1 hover:underline" [routerLink]="['/sign-in']">Sign in </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
