.h-100 {
    height: 100% !important;
}

a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-decoration-line: underline;

    color: #8a8a8a;
}

:host-context(.light) .inside-box {
    background: #ffffff;
    border: 2px solid #62eed3;
    border-radius: 30px;
    padding: 60px 40px;

    .mat-form-field-flex {
        border: 2px solid #a4e9d5;
        border-radius: 20px;
    }

    .submit-btn {
        background: #00d091;
        border-radius: 20px;
    }
}

:host-context(.dark) .inside-box {
    background: #1e2126;
    border: 2px solid #62eed3;
    border-radius: 30px;
    padding: 60px 40px;
}
