<ng-template #stakeModal let-modal>
    <div class="modal-content-inside">
        <div class="head">
            <h3 class="m-0">Stake Your BitHome Coin</h3>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="20" cy="20" r="20" fill="#E3FDF8" />
                    <path d="M26.364 13.636L13.636 26.3639" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                    <path d="M13.636 13.636L26.364 26.364" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                </svg>
            </button>
        </div>
        <div class="modal-body">
            <ng-container *ngIf="!isConfirmed">
                <h5>Available Balance</h5>
                <span class="text">{{ balance | currency0:'HOME':'' }} HOME</span>

                <form [formGroup]="stakedForm">
                    <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type">
                        {{alert.message}}
                    </fuse-alert>
                    <mat-form-field class="w-full amount-stake">
                        <input matInput [formControlName]="'amount'" placeholder="Amount to Stake" (keyup)="onChangeAmount($event)" />
                        <span>{{ stakePercentText }}</span>
                        <mat-error *ngIf="stakedForm.get('amount').hasError('required')">
                            Amount is required
                        </mat-error>
                        <mat-error *ngIf="stakedForm.get('amount').hasError('number')">
                            Amount must be greater than 0
                        </mat-error>
                    </mat-form-field>

                    <div class="amount-slider d-block mt-5 pt-4">
                        <mat-slider
                            class="w-100"
                            [displayWith]="formatSliderLabel"
                            (change)="sliderValue($event)"
                            [max]="100"
                            [min]="0"
                            [step]="25"
                            [thumbLabel]="true"
                            aria-labelledby="stake-amount-label"
                            [formControlName]="'stkpercent'">
                        </mat-slider>
                        <mat-button-toggle-group (change)="changeStakeAmount($event)" value="{{stakePercent}}">
                            <mat-button-toggle class="px-1.5 rounded-full font-medium" value="25">25%</mat-button-toggle>
                            <mat-button-toggle class="px-1.5 rounded-full font-medium" value="50">50%</mat-button-toggle>
                            <mat-button-toggle class="px-1.5 rounded-full font-medium" value="75">75%</mat-button-toggle>
                            <mat-button-toggle class="px-1.5 rounded-full font-medium" value="100">Max</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>

                    <div class="action-buttons mt-9 d-block">
                        <button class="fuse-mat-button-large cancel action-button" mat-flat-button [color]="'primary'" (click)="cancel()" *ngIf="!isEdit">
                            <span class="d-flex align-items-center"> Cancel <svg class="ml-2" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="1" y="1" width="20" height="20" rx="10" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                            <path d="M8.00001 8L13.6569 13.6569" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                            <path d="M13.6569 8L8 13.6569" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                        </svg></span>
                        </button>
                        <button class="fuse-mat-button-large ml-3 confirm" mat-flat-button [color]="'primary'" (click)="confirmStake()">
                            <span class="d-flex align-items-center"> Stake <svg class="ml-2" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="1" y="1" width="20" height="20" rx="10" stroke="white" stroke-width="1.5" stroke-linecap="round" />
                            <path d="M9.66667 7L13.6667 11L9.66667 15" stroke="white" stroke-width="1.5" stroke-linecap="round" />
                        </svg></span>
                        </button>
                    </div>
                </form>
            </ng-container>
            <ng-container *ngIf="isConfirmed">
                <div class="stake-message">
                    <h4>Done! Your coins have been staked.</h4>
                    <button class="fuse-mat-button-large confirm" mat-flat-button [color]="'primary'" (click)="cancel()">
                        <span class="d-flex align-items-center">
                            Done
                            <svg class="ml-2" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="1" y="1" width="20" height="20" rx="10" stroke="white" stroke-width="1.5" stroke-linecap="round" />
                                <path d="M9.66667 7L13.6667 11L9.66667 15" stroke="white" stroke-width="1.5" stroke-linecap="round" />
                            </svg>
                        </span>
                    </button>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>
