<ng-template #withdrawModal let-modal>
    <div class="modal-content-inside">
        <div class="head">
            <h2 *ngIf="!isSuccess">Available Funds</h2>
            <h2 *ngIf="isSuccess">&nbsp;</h2>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                <img src="assets/images/modal-cross.svg" />
            </button>
        </div>
        <div class="modal-body">
            <ng-container *ngIf="!isSuccess">
                <h1><sub>$</sub>0.00</h1>
                <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [dismissible]="true">
                    {{alert.message}}
                </fuse-alert>

                <form class="mt-8 add-edit-wallet" [formGroup]="withdrawalForm">
                    
                    <mat-form-field class="w-full">
                        <input class="w-full" matInput [formControlName]="'amount'" placeholder="Withdrawal Amount" />
                        <mat-error *ngIf="withdrawalForm.get('amount').hasError('required')">
                            Withdrawal Amount is required
                        </mat-error>
                        <mat-error *ngIf="withdrawalForm.get('amount').hasError('number')">
                            Withdrawal Amount must be greater than 0
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full" *ngIf="!isNewWallet">
                        <mat-select [formControlName]="'wallet_id'" value="''">
                            <mat-option [value]="''">Select Your Wallet</mat-option>
                            <mat-option *ngFor="let wallet of walletAddrs" [value]="wallet.addr">
                                {{ wallet.addr }}
                            </mat-option>
                        </mat-select>
                        <mat-error>
                            Please choose a wallet
                        </mat-error>
                    </mat-form-field>

                    <div class="row align-items-center mt-4" *ngIf="!isNewWallet">
                        <div class="col-lg-6">
                            <h5 class="d-flex align-items-center" (click)="newWallet(true)"> <img src="assets/images/plus-round.svg" class="mr-2" /> Add a new wallet</h5>
                        </div>
                        <div class="col-lg-6">
                            <h6 (click)="newWallet(true)"> Don’t have a wallet? </h6>
                        </div>
                    </div>

                    <ng-container *ngIf="isNewWallet">
                        <h4>New Wallet</h4>
                        <mat-form-field class="w-full">
                            <input class="w-full" matInput [formControlName]="'wallet_name'" placeholder="Wallet Nickname" />
                            <mat-error>
                                Wallet Nickname is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-full">
                            <input class="w-full" matInput [formControlName]="'wallet_addr'" placeholder="Wallet Address" />
                            <mat-error>
                                Wallet address is required
                            </mat-error>
                        </mat-form-field>

                        <div class="inline-flex items-end w-full mt-1.5">
                            <mat-checkbox [color]="'primary'" [formControlName]="'remember'">
                                <span>Remember this wallet for later</span>
                            </mat-checkbox>
                        </div>
                    </ng-container>

                    <!-- Submit button -->
                    <button class="fuse-mat-button-large action-button" mat-flat-button [color]="'primary'" [disabled]="withdrawalForm.disabled" (click)="sendToWallet()" *ngIf="!isEdit">
                        <span *ngIf="!withdrawalForm.disabled" class="d-flex align-items-center"> Send Now <img src="assets/images/r-arrow.svg" class="ml-2" /> </span>
                        <mat-progress-spinner *ngIf="withdrawalForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>
                </form>
            </ng-container>

            <div class="success-message" *ngIf="isSuccess">
                <img src="assets/images/earnings-withdraw-success.svg"/>
                <h1 class="mt-4 mb-4">Done!</h1>
                <p>Your funds have been sent to wallet xxxxxxxxxxxxxxxxxxxxx. Click below to view your transaction.</p>
                <button class="action-button">
                         View Transaction <img src="assets/images/vt.svg" class="ml-2" /> 
                        
                </button>
            </div>
        </div>
    </div>
</ng-template>
