.modal-content-inside {
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            color: #000000;
            margin: 0px;
        }
    }

    .close {z-index: 9;}

    button.action-button {
        background: #e3fdf8;
        border: 2px solid #00d091;
        border-radius: 25px;
        font-family: Chillax;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #00d091;
        margin-top: 80px;
    }

    h1 {
        font-family: Chillax;
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 64px;
        color: #00d091;

        sub {
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
        }
    }

    h5 {
        font-size: 16px;
        line-height: 20px;
        color: #00d091;
        cursor: pointer;

        img {
            width: 30px;
        }
    }

    h6 {
        text-align: right;
        text-decoration-line: underline;
        cursor: pointer;

        a {
            font-size: 16px;
            line-height: 16px;

            text-decoration-line: underline;

            color: #000000;
        }
    }

    h4 {
        font-family: Chillax;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        color: #000000;
        margin-bottom: 15px;
    }

    .success-message {
        img {
            max-width: 150px;
            margin-top: -40px;
        }
        button.action-button {
            background: #e3fdf8;
            border: 2px solid #00d091;
            border-radius: 25px;
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #00d091;
            margin-top: 25px;
            display: flex;
            padding: 8px 23px;
            align-items: center;

            img {
                width: 25px;
                margin-top: 0px;
            }
        }
    }
}
