<div class="bithome-wrap">
    <div class="bitHome-coin-header">
        <div class="head">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6">
                    <div class="account-box">
                        <h2 class="mb-3">The <span>BitHome Coin</span></h2>
                        <h6 class="justify-content-between"><span class="d-flex align-items-center"> <img src="assets/images/coin.svg" />$0.05 </span> <span class="dark-check md:hidden"><setting-change-scheme></setting-change-scheme></span></h6>
                        
                    </div>
                </div>

                <div class="col-lg-2 hidden md:flex">
                    <setting-change-scheme></setting-change-scheme>
                </div>
            </div>
        </div>
        <div class="bg-img hidden md:block">
            <mat-icon class="light-img" svgIcon="bithome:coin-light"></mat-icon>
            <mat-icon class="dark-img" svgIcon="bithome:dark-coin"></mat-icon>
        </div>
        <div class="bg-img-mobile md:hidden">
            <mat-icon class="light-img" svgIcon="bithome:mobile-coin-light"></mat-icon>
            <mat-icon class="dark-img" svgIcon="bithome:mobile-dark-coin"></mat-icon>
        </div>
    </div>
    <section class="cbte">
        <div class="row justify-content-end">
            
            <div class="col-lg-6">
                <div class="inside-area-center">
                    <h6>Current Balance</h6>
                    <h1>{{ bthdata.balance | currency0:'HOME':'' }}<sub>home </sub></h1>
                    <div class="dep-est">
                        <h6 *ngIf="!config.bthc_autocompound" (click)="BitcoinDepositModal.openModal()">Deposit <mat-icon class="ml-2" svgIcon="bithome:plus-round"></mat-icon></h6>
                        <span>Est. --</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="inside-right-area">
                    <h6>Total Earned</h6>
                    <h1>
                        {{ bthdata.total_earn | currency0:'HOME':'' }}<sub>HOME <span>(Est. --)</span></sub>
                    </h1>
                    <div class="ash d-block mt-8">
                        <label for="tfi" class="mr-4">Auto Stake HOME <span>{{ config.bthc_autostake ? 'on' : 'off' }}</span></label>
                        <label class="switch">
                            <input type="checkbox" (change)="setAutoStake($event)" [checked]="config.bthc_autostake" />
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <span class="d-flex align-items-center mt-2 mask hidden">Add HOME to Metamask <img src="assets/images/MetaMask_Fox.svg" /></span>
                </div>
            </div>
        </div>
    </section>
    <section class="staking">
        <h6>Staking</h6>
        <span>Earn even more money by staking your BitHome Coins.</span>
        <div class="stakin-outer">
            <div class="staking-head">
                <div class="row align-items-center">
                    <div class="col-lg-11">
                        <h6>Currently Staked</h6>
                        <h1>
                            {{ bthdata.staked | currency0:'HOME':'' }}<sub>home <span>Est. --</span></sub>
                        </h1>
                    </div>
                    <div class="col-lg-1">
                        <div class="actios-buttons-plus-minus">
                            <span class="plus action-button" (click)="BitcoinStakeModal.openModal()">
                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.53329 1.06641V17.8664" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                                <path d="M1.1333 9.46693L17.9333 9.46693" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                            </svg>
                        </span>
                        <span class="minus action-button" (click)="BitcoinUnstakeModal.openModal()">
                            <svg width="19" height="3" viewBox="0 0 19 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.1333 1.46693L17.9333 1.46693" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                            </svg>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="staking-mid">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <label class="switch">
                            <input type="checkbox" (change)="setAutoCompounding($event)" [checked]="config.bthc_autocompound" />
                            <span class="slider round"></span>
                        </label>
                        <label for="tfi" class="ml-4">Auto Compounding <span>{{ config.bthc_autocompound ? 'on' : 'off' }}</span> </label>
                    </div>
                    <ng-container *ngIf="!config.bthc_autocompound">
                    <div class="col-lg-3">
                        <h4>
                            Unstaked Earnings
                            <span>--</span>
                            <span class="hidden">{{ bthdata.unstaked_earn | currency0:'HOME':'' }} HOME</span>
                        </h4>
                    </div>
                    <div class="col-lg-5 ">
                      <div class="activity-buttons-withdraw-compound d-flex align-items-center justify-content-between">
                          <span class="button d-flex align-items-center action-button" (click)="BitcoinWithdrawModal.openModal()">
                            Withdraw
                            <svg class="ml-2" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="1" y="1" width="20" height="20" rx="10" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                                <path d="M8.375 7.5H14.5V13.625" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                                <path d="M14.5 7.5L7.5 14.5" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                            </svg>
                        </span>
                        <span class="button d-flex align-items-center action-button" (click)="BitcoinCompoundModal.openModal()">
                            Compound
                            <svg class="ml-2" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="1" y="1" width="20" height="20" rx="10" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                                <path d="M8.375 7.5H14.5V13.625" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                                <path d="M14.5 7.5L7.5 14.5" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                            </svg>
                        </span>
                      </div>
                    </div>
                    </ng-container>
                </div>
            </div>
            <div class="staking-footer">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="c-apy w-50">
                            <h5>Current APY</h5>
                            <span>{{ bthdata.apy }}</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h5>Recent Profit (7 Days)</h5>
                        <span class="hidden">{{ bthdata.recent_profit | currency0:'HOME':'' }} HOME</span>
                        <span>--</span>
                    </div>
                    <div class="col-lg-3">
                        <h5>Lifetime Profit</h5>
                        <span class="hidden">{{ bthdata.total_profit | currency0:'HOME':'' }} HOME</span>
                        <span>--</span>
                    </div>
                    <div class="col-lg-3">
                        <h5>Total Staked</h5>
                        <span class="hidden">{{ bthdata.total_staked | currency0:'HOME':'' }} HOME</span>
                        <span>--</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="r-activity">
        <h4 class="r-activity-title">
            Recent Activity
        </h4>
        <div class="r-activity-box mt-4">
            <ul *ngIf="recentActivities.length > 0">
                <ng-container *ngFor="let activity of recentActivities;">
                    <li [ngClass]="{'Profit': activity.status == 1, 'unstaked': activity.status == 3, 'Staked': activity.status == 4}">
                        <span class="r-date sm:w-3/5">
                            <img *ngIf="activity.status == 1" src="assets/images/arrow-down-p.svg" />
                            <img *ngIf="activity.status == 3" src="assets/images/un-lock.svg" />
                            <img *ngIf="activity.status == 4" src="assets/images/lock.svg" />

                            <span class=" status date">
                                <ng-container *ngIf="activity.status == 1">Received</ng-container>
                                <ng-container *ngIf="activity.status == 3">Unstaked</ng-container>
                                <ng-container *ngIf="activity.status == 4">Staked</ng-container>
                                {{ activity.currency }}
                                <small>{{ activity.date }}</small>
                            </span>
                        </span>

                        <span class="amounts sm:flex-row sm:w-2/5">
                            <span class="est">Est. {{ activity.status == 4?'-':'' }}{{ activity.amount * 0.05 | currency0 }}</span>

                            <span class="r-amount" [innerHtml]="(activity.status == 4?'-':'+') + (activity.amount | currency2:activity.currency:'code') | safeHtml"></span>
                        </span>
                    </li>
                </ng-container>
            </ul>
            <p *ngIf="recentActivities.length == 0">No activities found.</p>
            <ng-container *ngIf="totalPage > 1">
                <button *ngIf="!loadMore && totalPage != currPage" class="d-flex align-items-center load-m cursor mt-10" (click)="loadMoreActivities()">
                    <svg width="22" height="22" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect y="1" width="25" height="25" x="1" rx="12.5" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                        <path d="M8.5 12.5L13.5 17.5L18.5 12.5" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                    </svg>

                    <span class="ml-2"> Load More </span>
                </button>
                <button *ngIf="loadMore" class="d-flex align-items-center load-m mt-10 pl-1">
                    <mat-progress-spinner [diameter]="20" [mode]="'indeterminate'"></mat-progress-spinner>
                    <span class="ml-2"> Loading... </span>
                </button>
            </ng-container>
        </div>
    </section>
</div>

<bitcoin-deposit-modal #bitcoinDepositModal></bitcoin-deposit-modal>
<bitcoin-withdraw-modal #bitcoinWithdrawModal></bitcoin-withdraw-modal>
<bitcoin-compound-modal #bitcoinCompoundModal></bitcoin-compound-modal>
<bitcoin-stake-modal #bitcoinStakeModal></bitcoin-stake-modal>
<bitcoin-unstake-modal #bitcoinUnstakeModal></bitcoin-unstake-modal>
