.bithome-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 420px 0px 0px 0px;

    .bitHome-coin-header {
        .bg-img {
            position: absolute;
            top: 0;
            left: -20px;
            right: -15px;

            ::ng-deep .mat-icon {
                width: 100%;
                height: auto;
            }
        }

        .head {
            position: absolute;
            top: 0;
            z-index: 99;
            width: 100%;

            .account-box {
                background: #ffffff;
                border-radius: 0px 0px 30px 30px;
                padding: 20px;

                h2 {
                    font-family: Chillax;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 48px;

                    color: #000000;

                    span {
                        font-family: Chillax;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 48px;
                        line-height: 48px;
                        color: #00d091;
                    }
                }

                h6 {
                    font-family: Chillax;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 24px;
                    display: flex;
                    align-items: center;

                    color: #00d091;

                    img {
                        width: 35px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .cbte {
        z-index: 99;
        .inside-area-center {
            border-right: 1px solid #e4e4e6;
            padding-right: 50px;
            padding-left: 50px;

            h1 {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 62px;
                line-height: 62px;
                color: #000;

                sub {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 16px;
                    text-transform: uppercase;
                    color: #00d091;
                    margin-left: 15px;
                }
            }

            h6 {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 20px;
                color: #00d091;
                margin: 0px;
            }

            .dep-est {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;

                h6 {
                    font-family: Chillax;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    color: #00d091;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    img {
                        margin-left: 10px;
                        width: 25px;
                    }
                }

                span {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 18px;
                    color: #7e7e80;
                }
            }
        }

        .inside-right-area {
            padding-left: 25px;

            h6 {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 20px;
                color: #00d091;
            }

            h1 {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 18px;

                color: #000;

                sub {
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 12px;
                    text-transform: uppercase;
                    color: #7e7e80;
                    margin-left: 15px;

                    span {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 14px;
                        margin-left: 15px;
                        color: #7e7e80;
                    }
                }
            }

            .switch {
                position: relative;
                display: inline-block;
                width: 46px;
                height: 24px;
            }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(90deg, #33d9a7 0%, #62eed3 100%);
                border-radius: 15px;
                -webkit-transition: 0.4s;
                transition: 0.4s;
            }

            .slider:before {
                position: absolute;
                content: "";
                height: 13px;
                width: 13px;
                left: 4px;
                bottom: 6px;
                background-color: #fff;
                -webkit-transition: 0.4s;
                transition: 0.4s;
            }

            input:checked + .slider {
                background-color: #9c9c9e;
            }

            input:focus + .slider {
                box-shadow: 0 0 1px #9c9c9e;
            }

            input:checked + .slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }

            /* Rounded sliders */
            .slider.round {
                border-radius: 34px;
            }

            .slider.round:before {
                border-radius: 50%;
            }

            label {
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;

                color: #000000;

                span {
                    color: #00d091;
                }
            }

            .mask {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                text-align: center;

                color: #00d091;
                img {
                    width: 22px;
                    margin-left: 10px;
                }
            }
        }
    }

    .staking {
        margin-top: 70px;
        h6 {
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            color: #000000;
        }

        span {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 20px;
            color: #7e7e80;
        }

        .stakin-outer {
            background: #ffffff;
            border-radius: 30px;
            padding: 30px;
            margin: 25px 0px;

            .staking-head {
                background: linear-gradient(180deg, #e3fdf8 0%, rgba(227, 253, 248, 0.0001) 100%);
                border-radius: 30px 30px 0px 0px;
                padding: 30px;
                h1 {
                    font-family: Chillax;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 62px;
                    line-height: 62px;

                    color: #00d091;

                    sub {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 16px;
                        text-transform: uppercase;
                        color: #000000;
                        margin-left: 15px;

                        span {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 18px;
                            margin-left: 15px;
                            color: #7e7e80;
                        }
                    }
                }

                span.plus {
                    background: #ffffff;
                    border: 2px solid #00d091;
                    border-radius: 9.33333px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 42px;
                    height: 42px;
                    cursor: pointer;
                    margin: auto;

                    img {
                        width: 16px;
                    }
                }
                span.minus {
                    background: #ffffff;
                    border: 2px solid #00d091;
                    border-radius: 9.33333px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    width: 42px;
                    height: 42px;
                    margin-top: 10px;
                    cursor: pointer;

                    img {
                        width: 16px;
                    }
                }
            }

            .staking-mid {
                padding: 0px 30px 30px 30px;
                border-bottom: 1px solid #e4e4e6;

                .switch {
                    position: relative;
                    display: inline-block;
                    width: 56px;
                    height: 30px;
                }

                .switch input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: linear-gradient(90deg, #33d9a7 0%, #62eed3 100%);
                    border-radius: 15px;
                    -webkit-transition: 0.4s;
                    transition: 0.4s;
                }

                .slider:before {
                    position: absolute;
                    content: "";
                    height: 20px;
                    width: 20px;
                    left: 5px;
                    bottom: 5px;
                    background-color: #fff;
                    -webkit-transition: 0.4s;
                    transition: 0.4s;
                }

                input:checked + .slider {
                    background-color: #9c9c9e;
                }

                input:focus + .slider {
                    box-shadow: 0 0 1px #9c9c9e;
                }

                input:checked + .slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }

                /* Rounded sliders */
                .slider.round {
                    border-radius: 34px;
                }

                .slider.round:before {
                    border-radius: 50%;
                }

                h4 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;
                    color: #000000;

                    span {
                        display: block;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #7e7e80;
                    }
                }

                .button {
                    background: #e3fdf8;
                    border: 2px solid #00d091;
                    border-radius: 25px;

                    padding: 12px 20px;
                    cursor: pointer;
                    font-family: Chillax;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;

                    color: #00d091;

                    img {
                        width: 20px;
                        margin-left: 8px;
                    }
                }
            }

            .staking-footer {
                padding-top: 10px;
                > div > div {
                    margin: 1.5rem 0 0.3rem;
                }
                h5 {
                    font-family: Chillax;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 20px;
                    color: #00d091;
                }

                span {
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 18px;
                    display: block;
                    margin-top: 8px;
                    color: #7e7e80;
                }

                .c-apy {
                    border: 2px solid #4ddeb2;
                    border-radius: 30px;
                    padding: 15px 25px;
                }
            }
        }
    }

    .r-activity {
        padding-bottom: 20px;
        margin-top: 30px;

        .r-activity-title {
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #000000;
            justify-content: space-between;

            span {
                font-size: 16px;
                line-height: 14px;
                text-align: right;
                color: #00d091;
                display: flex;
                align-items: center;

                img {
                    margin-left: 8px;
                    width: 20px;
                }
            }
        }

        .r-activity-box {
            ul {
                padding: 0px;
                margin: 0px;
                li {
                    display: flex;
                    justify-content: space-between;
                    padding: 15px 0px;
                    border-bottom: 1px solid #e4e4e6;

                    span.r-date {
                        font-size: 16px;
                        line-height: 25px;
                        display: flex;
                        align-items: center;
                        color: #000000;

                        img {
                            width: 35px;
                            margin-right: 12px;
                        }

                        span.date {
                            line-height: 25px;
                            small {
                                font-size: 12px;
                                display: block;
                                color: #7d848b;
                            }
                        }
                    }

                    .amounts {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-left: 39px;
                        flex-direction: column-reverse;
                    }

                    span.est {
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 18px;
                        color: #7e7e80;
                    }

                    span.r-amount {
                        font-size: 22px;
                        line-height: 25px;
                        text-align: right;
                        color: #00d091;
                        font-weight: 500;

                        ::ng-deep sub {
                            font-size: 12px;
                            line-height: 14px;
                            color: #9c9c9e;
                            margin-left: 5px;
                            font-weight: 400;
                        }
                    }
                }

                .loss {
                    span.r-amount {
                        color: #000000;
                    }
                }
            }
        }

        .load-m {
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            text-align: right;
            color: #00d091;
        }
    }
}

:host-context(.dark) .bithome-wrap {
    .bitHome-coin-header {
        .head {
            .account-box {
                background: #1E2126;

                h2 {
                    color: #00d091;

                    span {
                        color: #fff;
                    }
                }
            }
        }
    }

    .cbte {
        .inside-area-center {
            border-right: 1px solid #30403b;

            h1 {
                color: #fff;

                sub {
                    color: #00d091;
                }
            }

            .dep-est {
                h6 {
                    color: #62eed3;

                    ::ng-deep svg {
                        rect {
                            stroke: #62eed3;
                        }
                        path {
                            stroke: #62eed3;
                        }
                    }
                }

                span {
                    font-weight: normal;
                }
            }
        }

        .inside-right-area {
            padding-left: 25px;

            h1 {
                color: #fff;
            }
        }
    }

    .staking {
        h6 {
            color: #fff;
        }

        .stakin-outer {
            background: #1e2126;

            .staking-head {
                background: linear-gradient(180deg, #33514c 0%, rgba(51, 81, 76, 0.0001) 100%);

                h1 {
                    color: #00d091;

                    sub {
                        color: #fff;

                        span {
                            color: #fff;
                        }
                    }
                }

                span.plus {
                    background: #24413e;
                    border: 2px solid #62eed3;

                    img {
                        width: 16px;
                    }
                }
                span.minus {
                    background: #24413e;
                    border: 2px solid #62eed3;

                    img {
                        width: 16px;
                    }
                }
            }

            .staking-mid {
                border-bottom: 1px solid #30403b;

                .switch {
                    position: relative;
                    display: inline-block;
                    width: 56px;
                    height: 30px;
                }

                .switch input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                .slider {
                    background: #05805c;
                }

                h4 {
                    color: #fff;

                    span {
                        color: #7e7e80;
                    }
                }

                .button {
                    background: #e3fdf8;
                    border: 2px solid #00d091;
                    border-radius: 25px;

                    padding: 12px 20px;
                    cursor: pointer;
                    font-family: Chillax;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;

                    color: #00d091;

                    img {
                        width: 20px;
                        margin-left: 8px;
                    }
                }
            }

            .staking-footer {
                h5 {
                    color: #00d091;
                }

                span {
                    font-weight: normal;

                    color: #7e7e80;
                }

                .c-apy {
                    border: 2px solid #62eed3;
                }
            }
        }
    }

    .r-activity {
        .r-activity-title {
            color: #fff;

            span {
                font-size: 16px;
                line-height: 14px;
                text-align: right;
                color: #00d091;
                display: flex;
                align-items: center;

                img {
                    margin-left: 8px;
                    width: 20px;
                }
            }
        }

        .r-activity-box {
            ul {
                li {
                    border-bottom: 1px solid #30403b;

                    span.r-date {
                        color: #fff;

                        img {
                            width: 35px;
                            margin-right: 12px;
                        }

                        ::ng-deep span.date {
                            line-height: 20px;
                            color: #fff;
                            small {
                                color: #7d848b;
                            }
                        }
                    }

                    span.r-amount {
                        font-size: 22px;
                        line-height: 24px;
                        text-align: right;
                        color: #00d091;

                        sub {
                            font-size: 12px;
                            line-height: 14px;
                            color: #9c9c9e;
                        }
                    }
                }

                .loss {
                    span.r-amount {
                        color: #000000;
                    }
                }
            }
        }
    }

    .load-m {
        color: #00d091;
    }

    .est {
        font-weight: 400;
    }
}

@media screen and (min-device-width: 319px) and (max-device-width: 640px) {
    .bithome-wrap {
        margin: 0px 0px 0px 0px;

        .bitHome-coin-header {
            .bg-img {
                position: relative;
                top: 0;
                left: 0;

                ::ng-deep .mat-icon {
                    width: 100%;
                    height: auto;
                }
            }

            .head {
                position: relative;
                top: 0;

                .account-box {
                    position: relative;
                    padding: 40px 20px;

                    h2 {
                        font-size: 30px;

                        span {
                            font-size: 30px;
                        }
                    }
                }
            }
        }

        .cbte {
            margin-top: 30px;
            .inside-area-center {
                border-right: 0px !important;
                padding-right: 0px;
                padding-left: 0px;

                h1 {
                    font-size: 48px;
                    margin: 0px;
                }

                .dep-est {
                    margin-top: 0px;
                }
            }

            .inside-right-area {
                padding-left: 0px !important;
                margin-top: 30px;
            }
        }

        .staking {
            .stakin-outer {
                padding: 20px;

                .staking-head {
                    padding: 25px;
                    h1 {
                        font-size: 32px;
                        line-height: 40px;

                        span {
                            margin-left: 0px !important;
                        }
                    }

                    .actios-buttons-plus-minus {
                        display: flex;
                        margin-top: 20px;
                        float: left;

                        span.plus {
                            margin-right: 15px;
                        }
                        span.minus {
                            margin-top: 0px;
                        }
                    }
                }

                .staking-mid {
                    padding: 30px 20px;
                    border-bottom: 1px solid #e4e4e6;

                    h4 {
                        margin-top: 20px;
                    }

                    .activity-buttons-withdraw-compound {
                        margin-top: 20px;
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        .button {
                            padding: 8px 8px;

                            font-size: 13px;
                        }
                    }
                }
            }
        }

        .r-activity {
            .r-activity-box {
                ul {
                    li {
                        span.r-date {
                            span.date {
                                line-height: 25px;
                                small {
                                    font-size: 15px;
                                    margin-top: 10px;
                                }
                            }
                        }

                        span.est {
                            font-weight: 400;
                            font-size: 15px;
                            line-height: inherit;
                            color: #7e7e80;
                            margin-top: 8px;
                            text-align: right;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .bg-img-mobile {

    .mat-icon { width:100%; height:100%;}

    }

    :host-context(.dark) {
        .inside-right-area {
            border-top: 1px solid #30403b;
            padding-top: 30px;
        }
    }
}
