<div class="earnings-wrap">
    <section class="earnings">
        <div class="r-activity">
            <h4 class="r-activity-title">
                Recent Activity <span> Export Transactions <img src="assets/images/xt.svg" /> </span>
            </h4>
            <div class="r-activity-box mt-4">
                <ul>
                    <li class="Profit">
                        <span class="r-date">
                            <img src="assets/images/arrow-down-p.svg" />

                            <span class="date">
                                Received USDC
                                <small>Jan 12, 2022</small>
                            </span>
                        </span>

                        <span class="r-amount">
                            +1.76
                            <sub>USD</sub>
                        </span>
                    </li>
                    <li class="Profit">
                        <span class="r-date">
                            <img src="assets/images/arrow-down-p.svg" />

                            <span class="date">
                                Received USDC
                                <small>Jan 12, 2022</small>
                            </span>
                        </span>

                        <span class="r-amount">
                            +1.76
                            <sub>USD</sub>
                        </span>
                    </li>
                    <li class="loss">
                        <span class="r-date">
                            <img src="assets/images/arrow-top-loss.svg" />

                            <span class="date">
                                Received USDC
                                <small>Jan 12, 2022</small>
                            </span>
                        </span>

                        <span class="r-amount">
                            -50.76
                            <sub>USD</sub>
                        </span>
                    </li>
                    <li class="Profit">
                        <span class="r-date">
                            <img src="assets/images/arrow-down-p.svg" />

                            <span class="date">
                                Received USDC
                                <small>Jan 12, 2022</small>
                            </span>
                        </span>

                        <span class="r-amount">
                            +1.76
                            <sub>USD</sub>
                        </span>
                    </li>
                    <li class="Profit">
                        <span class="r-date">
                            <img src="assets/images/arrow-down-p.svg" />

                            <span class="date">
                                Received USDC
                                <small>Jan 12, 2022</small>
                            </span>
                        </span>

                        <span class="r-amount">
                            +1.76
                            <sub>USD</sub>
                        </span>
                    </li>
                </ul>
                <h6 class="d-flex align-items-center mt-5 load-m cursor"><span> <img class="mr-3 w-5"src="assets/images/arrow-down.svg" /> </span> Load More</h6>
            </div>
        </div>
    </section>
</div>
