.wallet-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;

    .wallet {
        padding-bottom: 20px;

        .r-activity {
            .r-activity-title {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 20px;
                color: #000000;
                margin-bottom: 1.5rem;
            }

            .r-activity-box {
                ul {
                    padding: 0px;
                    margin: 0px;
                    li {
                        display: flex;
                        justify-content: space-between;
                        padding: 15px 0px;
                        border-bottom: 1px solid #e4e4e6;
                        flex-direction: column;

                        span.r-date {
                            font-size: 16px;
                            line-height: 24px;
                            display: flex;
                            align-items: center;
                            color: #000000;

                            img {
                                width: 30px;
                                margin-right: 12px;
                            }

                            span.date {
                                line-height: 20px;
                                small {
                                    font-size: 12px;
                                    display: block;
                                    color: #7d848b;
                                }
                            }
                        }

                        .amounts {
                            display: flex;
                            justify-content: space-between;
                            margin-top: 1rem;
                            align-items: center;
                            padding-left: 39px;
                        }
                        span.est {
                            font-weight: 500;
                            font-size: 17px;
                            line-height: 18px;
                            color: #7e7e80;
                        }

                        span.r-amount {
                            font-size: 22px;
                            line-height: 24px;
                            text-align: right;
                            color: #00d091;
                            font-weight: 500;

                            ::ng-deep sub {
                                font-size: 12px;
                                line-height: 14px;
                                color: #9c9c9e;
                                margin-left: 5px;
                                font-weight: 400;
                            }
                        }
                    }

                    .loss {
                        span.r-amount {
                            color: #000000;
                        }
                        svg {
                            fill: #00594c;
                        }
                    }

                    .receive {
                        svg {
                            fill: #00d091;
                        }
                    }
                }
            }
        }

        .exportbtn {
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 14px;
            text-align: right;
            color: #00D091;
            display: flex;
            align-items: center;
            cursor: pointer;
            &[disabled] {
                cursor: default;
            }
        }

        .filter-currency mat-button-toggle {
            background: #f1f5f9;
            border: 2px solid #62EED3 !important;
            height: 30px;

            ::ng-deep .mat-button-toggle-label-content {
                padding: 0 15px;
                line-height: 20px;
                color: #00D091;
            }
            &.mat-button-toggle-checked {
                color: #000;
                font-weight: 650 !important;
            }
        }

        .load-m {
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            text-align: right;
            margin-top: 40px;
            color: #00d091;
        }
    }
}

:host-context(.dark) .wallet-wrap {
    .filter-currency mat-button-toggle {
        background: transparent;
        border-color: #0E785B !important;

        ::ng-deep .mat-button-toggle-label-content {
            color: #0E785B;
        }
        &.mat-button-toggle-checked {
            border-color: #62EED3 !important;
            background: #24413E;

            ::ng-deep .mat-button-toggle-label-content {
                color: #62EED3 !important;
            }
        }
    }
    .r-activity {
        .r-activity-title {
            color: #fff;

            span {
                background: #24413e;
                border: 2px solid #62eed3;
                color: #62eed3;

                svg rect {
                    stroke: #62eed3;
                }
                svg path {
                    stroke: #62eed3;
                }
            }
        }

        .r-activity-box {
            ul {
                li {
                    border-bottom: 1px solid #30403b;
                }
                .loss span.r-amount {
                    color: #fff;
                }
            }
            span.date {
                color: #ffffff;
            }

            .loss {
                svg {
                    fill: #05805c !important;
                }
            }

            .receive {
                svg {
                    fill: #24413e !important;
                }
            }
        }
    }

    .load-m {
        color: #62eed3;

        svg rect {
            stroke: #62eed3;
        }
        svg path {
            stroke: #62eed3;
        }
    }
}
