<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->
<fuse-vertical-navigation
    class="side-bar print:hidden"
    [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'"
    [navigation]="navigation.adminDefault"
    [opened]="!isScreenSmall">
    <!-- Navigation header hook -->
    <ng-container fuseVerticalNavigationContentHeader>
        <!-- Logo -->
        <div class="flex items-center h-20 p-6 pb-0">
            <!-- Logo -->
            <div class="flex items-center justify-center">
                <img src="assets/images/logo/logo-nav-{{config.scheme}}.svg" />
            </div>
            <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2 mt-4">
                <user></user>
            </div>
        </div>
    </ng-container>
</fuse-vertical-navigation>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0  pl-5 pr-5 main-wrapper">

    <!-- Header -->
    <div class="relative flex flex-0 items-center header">
        <!--<button mat-icon-button (click)="toggleNavigation('mainNavigation')">
            <img src="assets/images/hamburger.svg" />
        </button>-->
        

        <div class="pl-2 ml-auto space-x-0.5 sm:space-x-2">
            <setting-change-scheme></setting-change-scheme>
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
   <div class="footer">
        <ul>
            <li>
                <a href="#">Help & Support</a>
            </li>
            <li>
                <a href="#">Terms Of Use</a>
            </li>
            <li>
                <a href="#">Privacy Policy</a>
            </li>
        </ul>

        <span class="copy-right"> &copy; {{currentYear}} BitHome Inc. </span>
    </div>

</div>


