.header { padding: 30px 0px 0px 0px;
    
h5 {
            font-weight: 600;
            font-family: "Chillax", sans-serif;
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 10px;
            color: #000000;
        }
.switch {
        position: relative;
        display: inline-block;
        width: 56px;
        height: 30px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(90deg, #33d9a7 0%, #62eed3 100%);
        border-radius: 15px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 5px;
        bottom: 5px;
        background-color: #fff;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    input:checked + .slider {
        background-color: #2196f3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    span {
        color: #9c9c9e;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 13px;
    }

}

.footer {
    background: #000002;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 25px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        padding: 0px;
        margin: 0px;
        li {
            display: inline-block;
            margin-right: 20px;

            a {
                font-size: 14px;
                line-height: 21px;
                text-decoration: none;
                color: #ffffff;
            }
        }
    }

    .copy-right {
        font-size: 14px;
        line-height: 21px;
        text-align: right;
        color: #ffffff;
    }
}
