.dashboard-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;

    .add-pc-sec {
        border: 2px dashed #e4e4e6;
        border-radius: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 60px 0px;

        .add-pc-box {
            background: #ffffff;
            border: 2px solid #62eed3;
            border-radius: 30px;
            width: 300px;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;

            img {
                width: 50px;
            }

            h4 {
                font-weight: 600;
                font-family: "Chillax", sans-serif;
                font-size: 28px;
                line-height: 39px;
                text-align: center;
                margin-top: 15px;
                color: #00d091;
            }
        }
    }

    .mining-status-box {
        background: #ffffff;
        border-radius: 30px;
        padding: 20px;

        .pc-status-box {
            background: linear-gradient(180deg, #e3fdf8 0%, rgba(227, 253, 248, 0.0001) 100%);
            padding: 30px;
            border-radius: 30px;
            text-align: center;

            h1 {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 100px;
                line-height: 100px;

                color: #00d091;

                sub {
                    font-family: Chillax;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 31.25px;
                    line-height: 31px;
                    color: #92ebd0;
                    bottom: -1px;
                }
            }

            h2 {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 28px;
                line-height: 39px;
                color: #00d091;
            }
        }

        .est-earnings {
            h3 {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 20px;
                margin-bottom: 20px;
                color: #000000;
            }

            h4 {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 42px;
                line-height: 46px;
                color: #00d091;

                span.head {
                    font-family: Chillax;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;

                    color: #9c9c9e;
                    display: block;
                    margin-bottom: 5px;
                }

                ::ng-deep sub {
                    font-family: Chillax;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 24px;
                    color: #00d091;
                    bottom: -1px;
                    right: 5px;
                }
            }
        }
    }

    .favorite-pcs {
        margin-top: 40px;
        .c-style {
            border-bottom: 1px solid #e4e4e6;
            padding: 30px 0px;

            &:nth-last-child(2) {
                border-bottom: 0px;
            }
        }

        h4.fav-pc-title {
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #000000;

            img {
                margin-left: 8px;
                width: 20px;
            }
        }

        .pc-name {
            display: flex;
            align-items: center;

            position: relative;

            .pc-icon-coin {
                display: flex;
                align-items: center;
            }
            img {
                width: 25px;
            }

            h3 {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 20px;
                color: #00d091;
                width: 80%;
            }
        }

        .mining-rates {
            h4 {
                font-family: Chillax;
                font-style: normal;
                font-weight: 500;
                font-size: 28px;
                line-height: 28px;
                margin-bottom: 0px;
                color: #000000;

                span.head {
                    font-style: normal;

                    margin-bottom: 10px;
                    letter-spacing: 0.5px;

                    display: block;
                    background: #00d091;
                    color: #fff;

                    border-radius: 11px;
                    font-size: 12px;
                    line-height: 18px;
                    text-transform: uppercase;
                    max-width: 125px;
                    padding: 3px;
                    text-align: center;
                }

                ::ng-deep sub {
                    font-family: Chillax;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 18px;
                    color: #000000;
                    bottom: -1px;
                    right: 3px;
                }
            }

            .m-status {
                display: flex;
                justify-content: flex-end;

                .running {
                    background: #e0fcf6;
                    cursor: pointer;
                    background: #e0fcf6;
                    border: 2px solid #62eed3;
                    border-radius: 10px;
                    cursor: pointer;
                    display: flex;
                    height: 60px;
                    padding: 0px 15px;

                    h5 {
                        font-family: Chillax;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 22px;
                        text-align: center;
                        color: #000000;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 0px;

                        svg {
                            fill: #000000;
                        }
                    }
                }

                .stop {
                    cursor: pointer;
                    border: 2px solid #a4e9d5;
                    border-radius: 10px;
                    display: flex;
                    height: 60px;
                    padding: 0px 15px;

                    h5 {
                        font-family: Chillax;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 22px;
                        text-align: center;
                        color: #00d091;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 0px;

                        svg {
                            fill: #00d091;
                        }
                    }
                    &.offline {
                        cursor: default;
                    }
                }

                img {
                    max-width: 100px;
                    &.anmgif {
                        margin-top: -1.12em;
                    }
                }
            }
        }
    }
}

.manage-pcs {
    padding: 0px;

    a {
        background: #e3fdf8;
        border-radius: 30px;

        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        width: 100%;
        display: block;
        padding: 20px;
        text-align: center;
        color: #00d091;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        img {
            margin-left: 10px;
            max-width: 20px;
        }
    }
}

.d-profits {
    .dp-title {
        font-family: Chillax;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #000000;

        svg {
            margin-left: 8px;
            width: 22px;
            fill: #00d091;
        }
    }
    .d-profits-box {
        background: #ffffff;
        border-radius: 30px;
        padding: 15px;
    }
}

.devider-line {
    width: 2px;
    background: #e4e4e6;
    margin: 0 auto;
    height: 100%;
}

.r-activity {
    .r-activity-title {
        font-family: Chillax;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #000000;
        justify-content: space-between;

        span {
            font-size: 16px;
            line-height: 14px;
            text-align: right;
            color: #00d091;
            display: flex;
            align-items: center;
            cursor: pointer;

            img {
                margin-left: 8px;
                width: 20px;
            }
        }
    }

    .r-activity-box {
        ul {
            padding: 0px;
            margin: 0px;
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 15px 0px;
                border-bottom: 1px solid #e4e4e6;

                span.r-date {
                    font-size: 16px;
                    line-height: 24px;
                    display: flex;
                    align-items: center;
                    color: #000000;

                    img {
                        width: 30px;
                        margin-right: 12px;
                    }

                    span.date {
                        line-height: 20px;
                        small {
                            font-size: 12px;
                            display: block;
                            color: #7d848b;
                        }
                    }
                }

                span.r-amount {
                    font-size: 22px;
                    line-height: 24px;
                    text-align: right;
                    color: #00d091;

                    ::ng-deep sub {
                        font-size: 12px;
                        line-height: 14px;
                        color: #9c9c9e;
                        margin-left: 5px;
                    }
                }
            }

            .loss {
                span.r-amount {
                    color: #000000;
                }
            }
        }
    }

    h4.pc-title {
        font-family: Chillax;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #000000;
    }
}

:host-context(.dark) .dashboard-wrap {
    .mining-status-box {
        background: #1e2126;

        .pc-status-box {
            background: linear-gradient(180deg, rgba(36, 65, 62, 0.0001) 0%, #24413e 99.79%);
        }
        .est-earnings {
            h3 {
                color: #fff;
            }
        }
    }

    .favorite-pcs {
        .c-style {
            border-bottom: 1px solid #4d4f52;

            &:nth-last-child(2) {
                border-bottom: 0px;
            }
        }

        h4.fav-pc-title {
            color: #fff;
        }

        .mining-rates {
            h4 {
                color: #fff;

                ::ng-deep sub {
                    color: #fff;
                }

                span.head {
                    background: #24413e;
                    color: #00d091;
                }
            }

            .m-status {
                .running {
                    background: linear-gradient(0deg, #24413e, #24413e);
                    border: 2px solid #62eed3;

                    h5 {
                        color: #62eed3;

                        svg {
                            fill: #62eed3;
                        }
                    }
                }

                .stop {
                    background: #1e2126;
                    border: 2px solid #0E785B;

                    h5 {
                        color: #0e785b;

                        svg {
                            fill: #0e785b;
                        }
                    }
                }
            }
        }
    }

    .manage-pcs {
        a {
            background: #24413e;
        }
    }

    .d-profits {
        .dp-title {
            color: #fff;

           /* svg {
                filter: invert(1);
            }*/
        }
        .d-profits-box {
            background: #1e2126;
        }
    }

    .devider-line {
        background: #30403b;
    }

    .r-activity {
        .r-activity-title {
            color: #fff;
        }
    }

    .r-activity-box {
        ul {
            padding: 0px;
            margin: 0px;
            li {
                border-bottom: 1px solid #30403b;

                span.r-date {
                    color: #fff;

                    svg {
                        color: #fff;
                    }
                }
            }

            .loss {
                span.r-amount {
                    color: #fff;
                }
            }
        }
    }

    ::ng-deep {
        .apexcharts-text {
            fill: #879b95;
        }
        .apexcharts-datalabel {
            fill: #879b95;
        }

 .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label.mat-tab-label-active {background-color: #24413E !important; border: 2px solid #62EED3; color:#62EED3 !important;}

    .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label {
    color:#0E785B !important;
    border: 2px solid #0E785B;
}

    }
}

h4 {
    font-family: Chillax;
    font-style: normal;
    font-weight: 600;
}

@media screen and (min-device-width: 319px) and (max-device-width: 640px) {
    .dashboard-wrap {
        .favorite-pcs {
            .mining-rates {
                margin-top: 25px;

                .m-status {
                    .stop {
                        padding: 0px 21px;
                        position: absolute;
                        top: 30px;

                        h5 {
                            svg {
                                margin-right: 0px !important;
                            }
                        }
                    }

                    .running {
                        padding: 0px 21px;
                        position: absolute;
                        top: 30px;

                        h5 {
                            svg {
                                margin-right: 0px !important;
                            }
                        }
                    }
                }
            }

            .pc-name {
                flex-direction: column; height:60px;

                .pc-icon-coin {
                    width: 100%;
                    margin-top: 15px;
                }

                h3 {
                    width: 100%;
                }
            }
        }
    }

    .favorite-pcs-sec-row {
        position: relative;
    }
    .r-activity {
        margin-top: 2.5rem;
    }


    ::ng-deep {

      .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label.mat-tab-label-active {background-color: #E0FCF5 !important; border: 2px solid #A4E9D5;}

    .mat-tab-group .mat-tab-header .mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label {
    
    border: 2px solid #A4E9D5;
}

    }

  

}
