<div class="dashboard-wrap">
    <div class="d-flex align-items-center justify-content-center h-100" *ngIf="showLoader">
        <mat-progress-spinner [diameter]="50" [mode]="'indeterminate'"></mat-progress-spinner>
    </div>
    <section class="new-user without-pc" *ngIf="!showLoader && totalPc == 0">
        <div class="add-pc-sec">
            <div class="add-pc-box" (click)="addPcModal.openModal()">
                <img src="assets/images/plus.svg" />
                <h4>Add a PC</h4>
            </div>
        </div>
    </section>
    <section class="current-user with-pcs" *ngIf="!showLoader && totalPc > 0">
        <h4 class="mb-4 pc-title">Mining Status</h4>
        <div class="mining-status-box">
            <div class="row-group">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-4">
                        <div class="pc-status-box">
                            <h1>{{ activeCount }}<sub> / {{ totalPc }} </sub></h1>
                            <h2>PCs active</h2>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="est-earnings">
                            <div class="row hidden sm:flex">
                                <h3>Total Estimated Earnings</h3>
                                <div class="col-lg-4">
                                    <h4>
                                        <span class="head">Daily</span>
                                        <span [innerHtml]="totalEstEarning.daily | currency1 | safeHtml"></span>
                                    </h4>
                                </div>
                                <div class="col-lg-4">
                                    <h4>
                                        <span class="head">Weekly</span>
                                        <span [innerHtml]="totalEstEarning.weekly | currency1 | safeHtml"></span>
                                    </h4>
                                </div>
                                <div class="col-lg-4">
                                    <h4>
                                        <span class="head">Monthly</span>
                                        <span [innerHtml]="totalEstEarning.monthly | currency1 | safeHtml"></span>
                                    </h4>
                                </div>
                            </div>
                            <div class="row sm:hidden">
                                <h3 class="text-center mt-5 mb-3">Total Estimated Earnings</h3>
                                <mat-tab-group>
                                  <mat-tab label="Daily"> <h4 class="text-center"> <span [innerHtml]="totalEstEarning.daily | currency1 | safeHtml"></span> </h4></mat-tab>
                                  <mat-tab label="Weekly"> <h4 class="text-center"> <span [innerHtml]="totalEstEarning.weekly | currency1 | safeHtml"></span> </h4> </mat-tab>
                                  <mat-tab label="Monthly"> <h4 class="text-center"> <span [innerHtml]="totalEstEarning.monthly | currency1 | safeHtml"></span> </h4> </mat-tab>
                                </mat-tab-group>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="favorite-pcs">
                    <h4 class="fav-pc-title">Favorite PCs</h4>
                    <ng-container *ngFor="let favpc of favoritePcs">
                        <div class="blue c-style favorite-pcs-sec-row">
                            <div class="row align-items-start justify-content-between">
                                <div class="col-lg-5">
                                    <div class="pc-name">
                                        <h3 class="mb-0">{{ favpc.pc_name }}</h3>
                                        <div class="pc-icon-coin" *ngIf="favpc.is_active == 1">
                                            <!--<img *ngIf="favpc.is_active == 1" src="assets/images/green-arrow.svg" />-->
                                            <img src="assets/images/blue-arrow.svg" />
                                            <span class="coin-name ml-2">{{ favpc.coin }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="mining-rates">
                                        <div class="row">
                                            <div class="col-lg-3 col-5">
                                                <h4>
                                                    <span class="head">Est. Daily</span>
                                                    <span [innerHtml]="favpc.estimate_daily | currency1 | safeHtml"></span>
                                                </h4>
                                            </div>
                                            <div class="col-lg-3 col-5">
                                                <h4>
                                                    <span class="head">Est. Monthly</span>
                                                    <span [innerHtml]="favpc.estimate_monthly | currency1 | safeHtml"></span>
                                                </h4>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="m-status">
                                                    <ng-container *ngIf="pcAppSts(favpc) == 0; else miningsts;">
                                                        <div class="stop offline">
                                                            <h5>
                                                                <svg class="mr-2" width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path
                                                                        fill-rule="evenodd"
                                                                        clip-rule="evenodd"
                                                                        d="M13.1454 7.32544C14.0073 7.87131 14.0073 9.12869 13.1454 9.67456L2.13419 16.6483C1.2085 17.2346 0 16.5695 0 15.4738L0 1.52621C0 0.430487 1.2085 -0.234615 2.13419 0.351655L13.1454 7.32544Z"
                                                                    />
                                                                </svg>
                                                                <span class="hidden sm:flex"> Offline </span>
                                                            </h5>
                                                        </div>
                                                        <img class="hidden light-img hidden sm:flex" src="assets/images/start-web-lightmode.svg" />
                                                        <img class="dark-img hidden sm:flex" src="assets/images/start-web-darkmode.svg" />
                                                    </ng-container>
                                                    <ng-template #miningsts>
                                                    <ng-container *ngIf="chkIsMining(favpc)">
                                                        <div class="running" (click)="stopMining(favpc)">
                                                            <h5>
                                                                <svg  class="mr-2" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <rect width="15" height="15" rx="1.5"  />
                                                                </svg>
                                                                <span class="hidden sm:flex"> Stop Mining </span>
                                                            </h5>
                                                        </div>
                                                        <img class="light-img hidden sm:flex anmgif" src="assets/images/device-running-light.gif" />
                                                        <img class="hidden sm:flex dark-img anmgif" src="assets/images/device-running-dark.gif" />
                                                    </ng-container>
                                                    <ng-container *ngIf="!chkIsMining(favpc)">
                                                        <div class="stop" (click)="startMining(favpc)">
                                                            <h5>
                                                                <svg class="mr-2" width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path
                                                                        fill-rule="evenodd"
                                                                        clip-rule="evenodd"
                                                                        d="M13.1454 7.32544C14.0073 7.87131 14.0073 9.12869 13.1454 9.67456L2.13419 16.6483C1.2085 17.2346 0 16.5695 0 15.4738L0 1.52621C0 0.430487 1.2085 -0.234615 2.13419 0.351655L13.1454 7.32544Z"
                                                                    />
                                                                </svg>
                                                                <span class="hidden sm:flex"> Start Mining </span>
                                                            </h5>
                                                        </div>
                                                        <img class="hidden light-img hidden sm:flex" src="assets/images/start-web-lightmode.svg" />
                                                        <img class="dark-img hidden sm:flex" src="assets/images/start-web-darkmode.svg" />
                                                    </ng-container>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <div class="row">
                        <div class="manage-pcs">
                            <a [routerLink]="['/pcs']">Manage PCs <img src="assets/images/r-arrow.svg" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-10 mb-10 justify-content-between d-p-sec">
            <div class="col-lg-5">
                <div class="d-profits">
                    <h4 class="dp-title">
                        Daily Profits
                        <svg class="ml-2" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M8 0C8.56705 0 9.03305 0.432646 9.08592 0.985847L9.09091 1.09091V2.28391C9.88655 2.43483 10.6248 2.74774 11.2701 3.18704L12.102 2.35563C12.5281 1.9297 13.2188 1.92987 13.6447 2.35599C14.044 2.75549 14.0689 3.38754 13.7193 3.81594L13.6444 3.89877L12.8129 4.72981C13.2523 5.37514 13.5652 6.11344 13.7161 6.90909H14.9091C15.5116 6.90909 16 7.39751 16 8C16 8.56705 15.5674 9.03305 15.0142 9.08592L14.9091 9.09091H13.7161C13.5652 9.88655 13.2523 10.6248 12.8129 11.2702L13.6446 12.1018C14.0706 12.5278 14.0706 13.2185 13.6446 13.6446C13.2452 14.044 12.6131 14.0689 12.1846 13.7194L12.1018 13.6446L11.2702 12.8129C10.6248 13.2523 9.88655 13.5652 9.09091 13.7161V14.9091C9.09091 15.5116 8.60249 16 8 16C7.43295 16 6.96695 15.5674 6.91408 15.0142L6.90909 14.9091V13.7161C6.11335 13.5652 5.37498 13.2522 4.7296 12.8128L3.8987 13.6441C3.47277 14.0702 2.78205 14.0704 2.35592 13.6444C1.95643 13.2451 1.93131 12.6131 2.28069 12.1845L2.35555 12.1017L3.18689 11.2699C2.74767 10.6247 2.43481 9.88646 2.28391 9.09091H1.09091C0.488417 9.09091 0 8.60249 0 8C0 7.43295 0.432646 6.96695 0.985847 6.91408L1.09091 6.90909H2.28391C2.43483 6.11345 2.74774 5.37516 3.18705 4.72983L2.35574 3.89852C1.92971 3.47249 1.92971 2.78176 2.35574 2.35574C2.75514 1.95634 3.38718 1.93138 3.81566 2.28085L3.89852 2.35574L4.72983 3.18705C5.37516 2.74774 6.11345 2.43483 6.90909 2.28391V1.09091C6.90909 0.488417 7.39751 0 8 0ZM4.36364 8C4.36364 10.0084 5.99158 11.6364 8 11.6364C10.0084 11.6364 11.6364 10.0084 11.6364 8C11.6364 5.99158 10.0084 4.36364 8 4.36364C5.99158 4.36364 4.36364 5.99158 4.36364 8Z"
                                
                            />
                        </svg>
                    </h4>
                    <div class="flex d-profits-box mt-4">
                        <div class="cOnTnTLoAdr h-80" *ngIf="showdfLoader">
                            <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
                        </div>
                        <apx-chart  *ngIf="!showdfLoader"
                            class="w-full h-80"
                            [chart]="dailyProfitChartOpts.chart"
                            [colors]="dailyProfitChartOpts.colors"
                            [dataLabels]="dailyProfitChartOpts.dataLabels"
                            [grid]="dailyProfitChartOpts.grid"
                            [labels]="dailyProfitChartOpts.labels"
                            [legend]="dailyProfitChartOpts.legend"
                            [plotOptions]="dailyProfitChartOpts.plotOptions"
                            [series]="dailyProfitChartOpts.series"
                            [states]="dailyProfitChartOpts.states"
                            [stroke]="dailyProfitChartOpts.stroke"
                            [tooltip]="dailyProfitChartOpts.tooltip"
                            [xaxis]="dailyProfitChartOpts.xaxis"
                            [yaxis]="dailyProfitChartOpts.yaxis"
                        ></apx-chart>
                    </div>
                </div>
            </div>

            <div class="col-lg-1">
                <div class="devider-line"></div>
            </div>
            <div class="col-lg-6">
                <div class="r-activity">
                    <h4 class="r-activity-title">
                        Recent Activity <span routerLink="/wallet"> All Activity <img src="assets/images/r-arrow.svg" /> </span>
                    </h4>
                    <div class="cOnTnTLoAdr h-40 mt-4" *ngIf="showRALoader">
                        <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
                    </div>
                    <div class="r-activity-box mt-4" *ngIf="!showRALoader">
                        <ul *ngIf="recentActivities.length > 0">
                            <ng-container *ngFor="let activity of recentActivities;">
                            <li [ngClass]="{'Profit': activity.status == 1, 'loss': activity.status == 2}">
                                <span class="r-date">
                                    <img *ngIf="activity.status == 1" src="assets/images/arrow-down-p.svg" />
                                    <img *ngIf="activity.status == 2" src="assets/images/arrow-top-loss.svg" />
                                    <span class="date">
                                        <ng-container *ngIf="activity.status == 1">Received</ng-container>
                                        <ng-container *ngIf="activity.status == 2">Sent</ng-container>
                                        {{ activity.currency }}
                                        <small>{{ activity.date }}</small>
                                    </span>
                                </span>

                                <span class="r-amount" [innerHtml]="(activity.status == 1?'+':(activity.status == 2?'-':'')) + (activity.amount | currency2:activity.currency:'code') | safeHtml">
                                    +1.76
                                    <sub>USD</sub>
                                </span>
                            </li>
                            </ng-container>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<add-pc-modal #addPcModal></add-pc-modal>
