body.dark {
    background: #000 !important;
}

body.dark fuse-vertical-navigation .fuse-vertical-navigation-wrapper {
    background: #1e2126 !important;
}

.dark fuse-vertical-navigation-basic-item > .fuse-vertical-navigation-item-wrapper .fuse-vertical-navigation-item:not(.fuse-vertical-navigation-item-disabled).fuse-vertical-navigation-item-active {
    background: #00c58a !important;
}

body.dark .card .card-header {
    background: #1e2126;
}

body.light .dark-img {
    display: none !important;
}
body.light .light-img {
    display: block;
}
body.dark .light-img {
    display: none !important;
}
body.dark .dark-img {
    display: block;
}

body.dark .card-body {
    background: #1e2126;
}

body.dark .modal-content {
    background: #1e2126;
    border: 2px solid #62eed3 !important;

    button.btn {
        background: #24413e !important;
        border: 2px solid #62eed3 !important;
        color: #62eed3 !important;
    }
}

body.dark .mat-menu-content {
    background: #00c58a;
}

.mat-snack-bar-container {
    color: #fff !important;
    background: #00d091 !important;
}

.mat-simple-snackbar-action button {
    color: #fff !important;
}

body.dark {
    .bg-card {
        background: #1e2126 !important;
        border: 2px solid #62eed3;
    }
    .text-white {
        color: #00d091;
    }
    label {
        color: #ffffff !important;
    }
}

.dark {
    .modal-content-inside {
        .mat-form-field-flex {
            border: 2px solid #879b95;
            border-radius: 20px !important;
        }

        button.action-button {
            background: #24413e !important;
            color: #62eed3 !important;
            border: 2px solid #62eed3 !important;

            svg rect {
                stroke: #62eed3;
            }
            svg path {
                stroke: #62eed3;
            }
        }

        .close {
            svg path {
                stroke: #00d091;
            }

            svg circle {
                fill: #24413e !important;
            }
        }
    }
}

.dark {
    .action-button {
        background: #24413e !important;
        color: #62eed3 !important;
        border: 2px solid #62eed3 !important;

        svg rect {
            stroke: #62eed3;
        }
        svg path {
            stroke: #62eed3;
        }
    }

    .load-m {
        color: #62eed3 !important;

        svg rect {
            stroke: #62eed3;
        }
        svg path {
            stroke: #62eed3;
        }
    }
}

.dark .modal-content-inside .close svg path {
    stroke: #62EED3 !important;
}



.dark svg rect {
    stroke: #62EED3 !important;
}

.dark svg circle {stroke: #62EED3 !important;}