/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
@import "~bootstrap/scss/bootstrap";
@import "dark";
.dark .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
    border-color: #879b95 !important;
    border-width: 2px;
}

.dark .mat-checkbox-label {
    color: #fff !important;
}

body.dark .mat-checkbox-frame,
body .dark .mat-checkbox-frame {
    border-color: #879b95 !important;
}

.color-black {
    color: #000;
}
.card {
    border: 0px;
    background: transparent;
    .card-header {
        background: #fff;
        border: 0px;
        padding: 0px;
    }

    .btn {
        padding: 0px !important;
        border: 0px;

        &:focus {
            box-shadow: none;
        }
    }
}

.fuse-vertical-navigation-wrapper .mat-icon {
    color: #fff !important;
}

.addpc-modal {
    display: flex !important;
    align-items: center;

    .modal-dialog {
        max-width: 1080px;

        padding: 0px;

        .modal-content {
            border: 0px;
            padding: 50px 0px;

            border-radius: 30px;
        }
    }
}

.withdraw-earning {
    .modal-dialog {
        max-width: 600px;

        padding: 0px;

        .modal-content {
            border: 0px;
            padding: 50px 50px;

            border-radius: 30px;
            .modal-body {
                padding: 0px;
            }
        }
    }
}

.add-edit-wallet {
    .modal-dialog {
        max-width: 600px;

        padding: 0px;

        .modal-content {
            border: 0px;
            padding: 50px;

            border-radius: 30px;
            .modal-body {
                padding: 0px;
            }
        }
    }
}

.delete-wallet {
    display: flex !important;
    align-items: center;
    .modal-dialog {
        max-width: 600px;
        padding: 0px;

        .modal-content {
            border: 0px;
            padding: 50px;

            border-radius: 30px;

            .modal-body {
                padding: 0px;
            }
        }
    }
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
    z-index: 99999 !important;
}
.custom-tooltip {
    background: #00594c;
    border-radius: 10px;
    padding: 15px;
    min-width: 104px;
    position: relative;
}

.custom-tooltip .label {
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #00d091;
}

.custom-tooltip .value {
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    margin-top: 5px;
}

::ng-deep mat-form-field {
    .mat-form-field-flex {
        border: 2px solid #a4e9d5;
        border-radius: 20px !important;
    }

    .mat-select-value {
        color: #7e7e80;
    }
    .mat-form-field-type-mat-input {
        color: #7e7e80;
    }
}
.mat-form-field-flex {
    border: 2px solid #a4e9d5;
    border-radius: 20px !important;
}
.cursor {
    cursor: pointer;
}

.modal-content {
    padding: 50px;
    border: 2px solid #62eed3;
    border-radius: 30px;

    .modal-body {
        padding: 0px;
        margin-top: 30px;
    }
}

.bitcoin-deposit-wallet {
    .modal-dialog {
        max-width: 600px;
    }
}

.bitcoin-stake-wallet .modal-dialog {
    max-width: 600px;
}

.bitcoin-unstake-wallet .modal-dialog {
    max-width: 600px;
}

.bitcoin-withdraw-wallet .modal-dialog {
    max-width: 600px;
}

.bitcoin-compound-wallet .modal-dialog {
    max-width: 600px;
}

.pc-row .card-body {
    padding: 1px !important;
}

.submit-btn {
    color: #fff !important;
}

.modal-content-inside .submit-btn {
    color: #00d091 !important;
}
.cOnTnTLoAdr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (min-width: 319px) and (max-width: 680px) {
    .text-mode {
        display: none;
    }
    .d-sm-none {
        display: none;
    }

    .modal-dialog {
        .modal-content {
            padding: 30px !important;
        }
    }
}
