.h-100 {
    height: 100% !important;
}

a {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
text-decoration-line: underline;

color: #8A8A8A;
}

.inside-box {
    background: #ffffff;
    border: 2px solid #62eed3;
    border-radius: 30px;
    padding: 60px 40px;

    .submit-btn {
        background: #00d091;
        border-radius: 20px;
    }

    /*.input-div {
        background: #ffffff;
        border: 2px solid #a4e9d5;
        border-radius: 20px;
        position: relative;
        padding: 16px;
        margin-bottom: 15px;

        input {
            padding-left: 30px; width: 90%;
        }

        span {
            position: absolute;
            left: 18px;
            top: 18px;
        }
    }*/

    .sign-up-text { font-size: 16px; line-height: 16px; color: #000000;}
}


:host::ng-deep.mat-form-field-flex {display:block}

:host-context(.dark) .inside-box {
    background: #1e2126;
    border: 2px solid #62eed3;
    border-radius: 30px;
    padding: 60px 40px;
}
