<ng-template #addEditWalletModal let-modal>
    <div class="modal-content-inside">
        <div class="head">
            <h2 *ngIf="!isEdit">Add Wallet</h2>
            <h2 *ngIf="isEdit">Edit Wallet</h2>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                <img src="assets/images/modal-cross.svg" />
            </button>
        </div>

        <div class="modal-body">
            <fuse-alert class="mt-5 mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type">
                {{alert.message}}
            </fuse-alert>
            <form class="mt-5 add-edit-wallet" [formGroup]="walletForm">
                <mat-form-field class="w-full" hidden="true">
                    <input class="w-full" matInput [formControlName]="'wallet_id'" placeholder="Wallet ID" />
                </mat-form-field>
                <mat-form-field class="w-full">
                    <input class="w-full" matInput [formControlName]="'wallet_name'" placeholder="Wallet Nickname" />
                    <mat-error>
                        Wallet Nickname is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <input class="w-full" matInput [formControlName]="'wallet_addr'" placeholder="Wallet Address" />
                    <mat-error>
                        Wallet address is required
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button class="fuse-mat-button-large submit-btn mt-5" mat-flat-button [color]="'primary'" [disabled]="walletForm.disabled" (click)="saveWallet()" *ngIf="!isEdit">
                    <span *ngIf="!walletForm.disabled" class="d-flex align-items-center"> Add Wallet <img src="assets/images/r-arrow.svg" class="ml-2" /> </span>
                    <mat-progress-spinner *ngIf="walletForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
                <button class="fuse-mat-button-large mt-5 submit-btn" mat-flat-button [color]="'primary'" [disabled]="walletForm.disabled" (click)="saveWallet()" *ngIf="isEdit">
                    <span *ngIf="!walletForm.disabled" class="d-flex align-items-center"> Save <img src="assets/images/r-arrow.svg" class="ml-2" /> </span>
                    <mat-progress-spinner *ngIf="walletForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>
</ng-template>
