<ng-template #compoundModal let-modal>
    <div class="modal-content-inside">
        <div class="head">
            <h2>Compound</h2>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="20" cy="20" r="20" fill="#E3FDF8" />
                    <path d="M26.364 13.636L13.636 26.3639" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                    <path d="M13.636 13.636L26.364 26.364" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                </svg>
            </button>
        </div>
        <div class="modal-body">
            <h3>You’re about to compound {{ balance | currency0:'HOME':'' }} HOME.</h3>

            <button class="fuse-mat-button-large cancel action-button" mat-flat-button [color]="'primary'" (click)="cancel()" *ngIf="!isEdit">
                <span class="d-flex align-items-center">
                    Cancel
                    <svg class="ml-2" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1" width="20" height="20" rx="10" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M8.00001 8L13.6569 13.6569" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M13.6569 8L8 13.6569" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                </span>
            </button>
            <button class="fuse-mat-button-large ml-3 delete" mat-flat-button [color]="'primary'" (click)="confirm()">
                <span class="d-flex align-items-center">
                    Confirm
                    <svg class="ml-2" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1" width="20" height="20" rx="10" stroke="white" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M9.66667 7L13.6667 11L9.66667 15" stroke="white" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                </span>
            </button>
        </div>
    </div>
</ng-template>
