<div class="admin-dashboard-wrap">
    <div class="admin-header">
        <h1>Mining Information</h1>
        <div class="header-inside">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="active-members">
                        <h1>{{activeMinersCount}}</h1>
                        <h5>Active Miners</h5>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="total-mining">
                        <h6 class="d-block mb-3">Total Mining</h6>
                        <div class="m-status-total">
                            <div class="daily">
                                <span>Daily</span>
                                <h3>22.63 <sub>coins</sub></h3>
                            </div>
                            <div class="weekly">
                                <span>Weekly</span>
                                <h3>530 <sub>coins</sub></h3>
                            </div>
                            <div class="monthly">
                                <span>Monthly</span>
                                <h3>2600 <sub>coins</sub></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="graph">
        <div class="inner-box">
            <div class="flex w-full mb-5">
                <mat-button-toggle-group class="sm:inline-flex border-none space-x-1 button-style" value="daily" #visitorsYearSelector="matButtonToggleGroup">
                    <mat-button-toggle class="px-1.5 rounded-full font-medium" value="daily">Daily </mat-button-toggle>
                    <mat-button-toggle class="px-1.5 rounded-full font-medium" value="weekly">Weekly </mat-button-toggle>
                    <mat-button-toggle class="px-1.5 rounded-full font-medium" value="monthly">Monthly </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div class="flex h-100 w-full">
                <apx-chart
                    class="flex-auto w-full h-full"
                    [chart]="avgProfitChart.chart"
                    [colors]="avgProfitChart.colors"
                    [dataLabels]="avgProfitChart.dataLabels"
                    [fill]="avgProfitChart.fill"
                    [grid]="avgProfitChart.grid"
                    [markers]="avgProfitChart.markers"
                    [series]="avgProfitChart.series[visitorsYearSelector.value]"
                    [stroke]="avgProfitChart.stroke"
                    [tooltip]="avgProfitChart.tooltip"
                    [xaxis]="avgProfitChart.xaxis[visitorsYearSelector.value]"
                    [yaxis]="avgProfitChart.yaxis[visitorsYearSelector.value]"
                ></apx-chart>
            </div>
        </div>
    </section>
    <section class="miners-status">
        <div class="head-table">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-4">
                    <h4>Miners Status <span> {{activeMinersCount}}/{{allminers.length}} active now</span></h4>
                </div>
                <div class="col-lg-4">
                    <div class="search-box">
                        <input class="w-100" type="text" placeholder="Search miners..." (input)="searchMiners($event)" [(ngModel)]="keyword" />
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="findByKeyword()">
                            <path
                                d="M15.375 4.5C9.38667 4.5 4.5 9.38667 4.5 15.375C4.5 21.3633 9.38667 26.25 15.375 26.25C17.8299 26.25 20.0917 25.4198 21.9155 24.0381L28.9395 31.0605C29.0777 31.2045 29.2432 31.3194 29.4264 31.3986C29.6096 31.4778 29.8068 31.5196 30.0063 31.5217C30.2059 31.5237 30.4038 31.4859 30.5886 31.4104C30.7734 31.335 30.9412 31.2235 31.0824 31.0824C31.2235 30.9412 31.335 30.7734 31.4104 30.5886C31.4859 30.4038 31.5237 30.2059 31.5217 30.0063C31.5196 29.8068 31.4778 29.6096 31.3986 29.4264C31.3194 29.2432 31.2045 29.0777 31.0605 28.9395L24.0381 21.9155C25.4198 20.0917 26.25 17.8299 26.25 15.375C26.25 9.38667 21.3633 4.5 15.375 4.5ZM15.375 7.5C19.742 7.5 23.25 11.008 23.25 15.375C23.25 17.4718 22.4355 19.3655 21.1113 20.7729C20.9824 20.8663 20.8692 20.9795 20.7759 21.1084C19.3681 22.4343 17.4733 23.25 15.375 23.25C11.008 23.25 7.5 19.742 7.5 15.375C7.5 11.008 11.008 7.5 15.375 7.5Z"
                                fill="#A4E9D5"
                            />
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-part">
            <table class="table"> 
                <thead>
                    <tr>
                        <th scope="col">
                            <span class="d-flex align-items-center">User Account
                                <span class="ml-1">
                                    <svg class="d-block mb-1 cursor" width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="minersSortBy('name', 'desc')">
                                        <path d="M7.36875 4.63125L8.25 3.75L4.5 -1.63918e-07L0.750001 3.75L1.63125 4.63125L4.5 1.76875L7.36875 4.63125Z" fill="black" />
                                    </svg>

                                    <svg class="d-block cursor" width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="minersSortBy('name', 'asc')">
                                        <path d="M1.63125 0.868751L0.75 1.75L4.5 5.5L8.25 1.75L7.36875 0.868751L4.5 3.73125L1.63125 0.868751Z" fill="black" />
                                    </svg>
                                </span>
                            </span>
                        </th>
                        <th class="text-center" scope="col" width="30%">Device Id</th>
                        <th class="text-center" scope="col">EST. Mining</th>
                        <th class="text-center" scope="col">Actual Mining</th>
                        <th scope="col">
                            <span class="d-flex align-items-center justify-content-center">Status
                                <span class="ml-1">
                                    <svg class="d-block mb-1 cursor" width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="minersSortBy('status', 'asc')">
                                        <path d="M7.36875 4.63125L8.25 3.75L4.5 -1.63918e-07L0.750001 3.75L1.63125 4.63125L4.5 1.76875L7.36875 4.63125Z" fill="black" />
                                    </svg>

                                    <svg class="d-block cursor" width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="minersSortBy('status', 'desc')">
                                        <path d="M1.63125 0.868751L0.75 1.75L4.5 5.5L8.25 1.75L7.36875 0.868751L4.5 3.73125L1.63125 0.868751Z" fill="black" />
                                    </svg>
                                </span>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let miner of miners">
                        <td>{{ miner.name }}</td>
                        <td class="text-center"><ng-container *ngIf="miner.devices.length == 0">DID12 123456 ID</ng-container>{{ getActiveDeviceIds(miner.devices).join(', ') }}</td>
                        <td class="text-center"><span class="mr-4">0.023 </span> | <span class="ml-4">0.625</span></td>
                        <td class="text-center"><span class="mr-4">0.0 </span> | <span class="ml-4">0.0</span></td>
                        <td class="status text-center">{{ miner.status }}</td>
                    </tr>
                    <tr *ngIf="miners.length == 0">
                        <td colspan="4" class="text-center">No miners found.</td>
                    </tr>
                </tbody>
            </table>
            <ng-container *ngIf="totalPage > 1">
                <button *ngIf="!loadMore && totalPage != currPage" class="d-flex align-items-center load-m cursor" (click)="loadMoreMiners()">
                    <svg width="22" height="22" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect y="1" width="25" height="25" x="1" rx="12.5" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                        <path d="M8.5 12.5L13.5 17.5L18.5 12.5" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                    </svg>

                    <span class="ml-2"> Load More </span>
                </button>
                <button *ngIf="loadMore" class="d-flex align-items-center load-m pl-10">
                    <mat-progress-spinner [diameter]="20" [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </ng-container>
        </div>
    </section>
</div>
