.admin-dashboard-wrap {
    display: flex;
    flex-direction: column;
    width: 100%; margin-top: -15px;

    h1 {
    font-weight: 600;
    font-family: "Chillax", sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #000000; margin-bottom:35px;}

    .admin-header {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #ffffff 100%);
        padding: 20px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        margin-bottom: 40px;
        padding-top:0px;

        .active-members {
            background: linear-gradient(180deg, #e3fdf8 0%, rgba(227, 253, 248, 0.0001) 100%);
            padding: 20px;
            text-align: center;
            h1 {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 100px;
                line-height: 100px;
                color: #00d091;
            }
            h5 {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 28px;
                line-height: 39px;
                color: #00d091;
            }
        }

        .total-mining {
            padding: 0px 50px;

            h6 {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 20px;
                color: #000000;
            }

            .m-status-total {
                display: flex;
                justify-content: space-between;
                span {
                    font-family: Chillax;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    color: #9c9c9e;
                }

                h3 {
                    font-family: Chillax;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 46px;
                    line-height: 46px;

                    color: #00d091;

                    sub {
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }
        }
    }

    .graph {
        .inner-box {
            background: #ffffff;
            border-radius: 30px;
            padding: 25px;
        }
        ::ng-deep .apexcharts-series-markers {
            .apexcharts-marker {
                cursor: pointer;
                &:hover {
                    fill: #00d091;
                    fill-opacity: 1;
                    filter: none;
                }
                &[selected="true"] {
                    fill: #ffffff;
                    fill-opacity: 1;
                    filter: none;

                    &:hover {
                        fill: #00d091;
                        fill-opacity: 1;
                        filter: none;
                    }
                }
            }
        }

        .button-style mat-button-toggle {
            background: #fff;
            border: 2px solid #62eed3 !important;
        }

        .button-style .mat-button-toggle-checked {
            background: #e0fcf6;
            border: 2px solid #62eed3 !important;
        }
    }

    .miners-status {
        .head-table {
            margin: 40px 0px;

            h4 {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 20px;
                color: #000000;
                margin: 0px;

                span {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;
                    color: #00d091;
                }
            }

            .search-box {
                background: #ffffff;
                border: 2px solid #a4e9d5;
                border-radius: 20px;
                padding: 6px 12px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                svg {
                    width: 25px;
                    cursor: pointer;
                }
            }
        }

        .table-part {
            background: #ffffff;
            border-radius: 30px;
            overflow: hidden;

            table {
                thead {
                    background: #e4e4e6;
                    th {
                        padding: 20px; position:relative;
                    }
                }

                tbody {
                    td {
                        padding: 20px;
                    }

                    .status {
                        font-size: 16px;
                        line-height: 24px;
                        color: #00d091;
                    }
                }
            }

            .load-m {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;
                text-align: right;
                color: #00d091;
                padding: 20px;
            }

            .short { width: 15px;
            margin-left: 10px;
            cursor: pointer;
            position: absolute;
            right: 45%;
            top: 33%;}
        }
    }
}
