<ng-template #withdrawModal let-modal>
    <div class="modal-content-inside step1" *ngIf="step==1">
        <div class="head">
            <h2>Which currency would you like to withdraw?</h2>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="20" cy="20" r="20" fill="#E3FDF8" />
                    <path d="M26.364 13.636L13.636 26.3639" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                    <path d="M13.636 13.636L26.364 26.364" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                </svg>
            </button>
        </div>
        <div class="modal-body">
            <div class="row align-items-center mb-4 pb-4 ">
                <div class="col-lg-6">
                    <div class="usdt">
                        <h4>USDC</h4>
                        <h5>{{ currentBalance | currency0:'USDC':'' }} <span>Est. {{ currentBalance | currency0 }}</span></h5>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="home">
                        <h4>HOME</h4>
                        <h5>10,204.110 <span>Est. {{ '10,204.11' | currency0 }}</span></h5>
                    </div>
                </div>
            </div>
            <mat-form-field class="w-full">
                <mat-select [formControl]="currencyControl">
                    <mat-option [value]="'USDC'">USDC</mat-option>
                    <mat-option [value]="'HOME'">HOME</mat-option>
                </mat-select>
                <mat-error>
                    Please choose a currency
                </mat-error>
            </mat-form-field>

            <button type="button" class="fuse-mat-button-large next-button" mat-flat-button [color]="'primary'" (click)="nextStep(2)">
                <span class="d-flex align-items-center">
                    Next
                    <svg class="ml-2" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1" width="20" height="20" rx="10" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M9.66667 7L13.6667 11L9.66667 15" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                </span>
            </button>
        </div>
    </div>

    <div class="modal-content-inside" *ngIf="step==2">
        <div class="head">
            <h2 *ngIf="!isSuccess" class="dark-white">Available {{ currencyControl.value }} Funds</h2>
            <h2 *ngIf="isSuccess">&nbsp;</h2>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="20" cy="20" r="20" fill="#E3FDF8" />
                    <path d="M26.364 13.636L13.636 26.3639" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                    <path d="M13.636 13.636L26.364 26.364" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                </svg>
            </button>
        </div>
        <div class="modal-body mt-0">
            <ng-container *ngIf="!isSuccess">
                <h1 class="current-bal" [innerHtml]="currentBalance | currency1 | safeHtml"></h1>
                <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type">
                    {{alert.message}}
                </fuse-alert>

                <form class="mt-8" #form="ngForm" [formGroup]="withdrawalForm">
                    <mat-form-field class="w-full">
                        <input class="w-full" matInput [formControlName]="'amount'" placeholder="Withdrawal Amount" />
                        <mat-error *ngIf="withdrawalForm.get('amount').hasError('required')">
                            Withdrawal Amount is required
                        </mat-error>
                        <mat-error *ngIf="withdrawalForm.get('amount').hasError('number')">
                            Withdrawal Amount must be greater than 0
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full" *ngIf="!isNewWallet">
                        <mat-select [formControlName]="'wallet_id'" value="''">
                            <mat-option [value]="''">Select Your Wallet</mat-option>
                            <mat-option *ngFor="let wallet of walletAddrs" [value]="wallet.address">
                                {{ wallet.address }}
                            </mat-option>
                        </mat-select>
                        <mat-error>
                            Please choose a wallet
                        </mat-error>
                    </mat-form-field>

                    <div class="row align-items-center mt-4" *ngIf="!isNewWallet">
                        <div class="col-lg-6">
                            <button class="d-flex align-items-center add-new-wallet" (click)="newWallet(true, form)">
                                <svg class="mr-2" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="1" y="1" width="25" height="25" rx="12.5" stroke="#00D091" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M13.5 8.5V18.5" stroke="#00D091" stroke-width="2" stroke-linecap="round"/>
                                    <path d="M8.5 13.5H18.5" stroke="#00D091" stroke-width="2" stroke-linecap="round"/>
                                </svg>
                                Add a new wallet
                            </button>
                        </div>
                        <div class="col-lg-6 text-right hidden md:flex justify-end">
                            <span class="nwlt" (click)="newWallet(true)">Don’t have a wallet?</span>
                        </div>
                    </div>

                    <ng-container *ngIf="isNewWallet">
                        <h4 class="mt-4">New Wallet</h4>
                        <mat-form-field class="w-full">
                            <input class="w-full" matInput [formControlName]="'wallet_name'" placeholder="Wallet Nickname" />
                            <mat-error>
                                Wallet Nickname is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-full">
                            <input class="w-full" matInput [formControlName]="'wallet_addr'" placeholder="Wallet Address" />
                            <mat-error>
                                Wallet address is required
                            </mat-error>
                        </mat-form-field>

                        <div class="inline-flex items-end w-full mt-1.5">
                            <mat-checkbox [color]="'primary'" [formControlName]="'remember'">
                                Remember this wallet for later
                            </mat-checkbox>
                        </div>
                    </ng-container>

                    <div class="d-flex align-items-center">
                        <button type="button" class="fuse-mat-button-large back-button" mat-flat-button [color]="'primary'" (click)="isNewWallet ? newWallet(false, form) : nextStep(1)">
                            <span class="d-flex align-items-center">
                                <svg class="mr-3" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="20" height="20" rx="10" transform="matrix(-1 0 0 1 21 1)" stroke="#00D091" stroke-width="1.5" stroke-linecap="round"/>
                                    <path d="M12.3333 7L8.33334 11L12.3333 15" stroke="#00D091" stroke-width="1.5" stroke-linecap="round"/>
                                </svg>
                                Back
                            </span>
                        </button>
                        <button class="fuse-mat-button-large send-button" mat-flat-button [color]="'primary'" [disabled]="withdrawalForm.disabled" (click)="sendToWallet()" *ngIf="!isEdit">
                            <span *ngIf="!withdrawalForm.disabled" class="d-flex align-items-center">
                                Send Now
                                <svg class="ml-2" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="1" y="1" width="20" height="20" rx="10" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" />
                                    <path d="M9.66667 7L13.6667 11L9.66667 15" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" />
                                </svg>
                            </span>
                            <mat-progress-spinner *ngIf="withdrawalForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                        </button>
                    </div>
                </form>
            </ng-container>

            <div class="success-message" *ngIf="isSuccess">
                <img src="assets/images/earnings-withdraw-success.svg" />
                <h1 class="mt-4 mb-4">Done!</h1>
                <p>Your funds have been sent to wallet xxxxxxxxxxxxxxxxxxxxx. Click below to view your transaction.</p>
                <button class="action-button" (click)="close()">View Transaction <img src="assets/images/vt.svg" class="ml-2" /></button>
            </div>
        </div>
    </div>
</ng-template>
