::ng-deep.modal-dialog {
    max-width: 600px;
}
.modal-content-inside {
    .head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        h2 {
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            color: #000000;
            margin: 0px;
            max-width: 80%;
        }
    }

    .close {
        z-index: 9;
    }

    button.back-button {
        background: #e3fdf8;
        border: 2px solid #00d091;
        border-radius: 25px;
        font-family: Chillax;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #00d091;
        margin-top: 60px;
    }

    button.send-button {
        background: #00d091;
        border: 2px solid #00d091;
        border-radius: 25px;
        font-family: Chillax;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #fff;
        margin-top: 60px;
        margin-left: 15px;
    }

    h1 {
        font-family: Chillax;
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 64px;
        color: #00d091;

        ::ng-deep sub {
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
        }
    }

    .add-new-wallet {
        font-weight: 600;
        font-size: 16px;
        color: #00d091;
    }
    span.nwlt {
        text-decoration-line: underline;
        cursor: pointer;
        color: #000000;
        
    }

    h4 {
        font-family: Chillax;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        color: #000000;
        margin-bottom: 15px;
    }

    ::ng-deep .mat-checkbox .mat-checkbox-layout .mat-checkbox-label {
        font-weight: 600;
        color: #000;
    }

    .success-message {
        img {
            max-width: 150px;
            margin-top: -40px;
        }
        button.action-button {
            background: #e3fdf8;
            border: 2px solid #00d091;
            border-radius: 25px;
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #00d091;
            margin-top: 25px;
            display: flex;
            padding: 8px 23px;
            align-items: center;

            img {
                width: 25px;
                margin-top: 0px;
            }
        }
    }

    &.step1 {
        .head {
            h2 {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 42px;
                line-height: 42px;
                color: #00d091;
            }
        }
        .modal-body {
            margin-top: 3.5rem;
            border-top: 1px solid #e4e4e6;
            padding-top: 3.5rem;
        }
        .usdt {
            padding-left: 37px;
            position: relative;

            &::before {
                content: "";
                background: url(../../../../../../assets/images/g-usdt.svg) no-repeat;
                width: 28px;
                height: 28px;
                position: absolute;
                left: 0;
            }

            h4 {
                margin-bottom: 8px;
            }

            h5 {
                font-size: 18px;
                line-height: 20px;
                color: #000002;
                font-weight: 400;

                span {
                    color: #7e7e80;
                    font-size: 14px;
                    font-weight: 400;
                    margin-left: 10px;
                }
            }
        }

        .home {
            padding-left: 37px;
            position: relative;

            &::before {
                content: "";
                background: url(../../../../../../assets/images/g-home-coin.svg) no-repeat;
                width: 28px;
                height: 28px;
                position: absolute;
                left: 0;
            }

            h4 {
                margin-bottom: 8px;
            }

            h5 {
                font-size: 18px;
                line-height: 20px;
                color: #000002;
                font-weight: 400;

                span {
                    color: #7e7e80;
                    font-size: 14px;
                    font-weight: 400;
                    margin-left: 10px;
                }
            }
        }
        .next-button {
            border-color: #00d091;
            background: #00d091;
            color: #fff;
            margin-top: 5rem;
            padding: 0 33px !important;
            font-size: 16px;

            span {
                text-decoration-line: none;
            }
        }
    }
}

::ng-deep {
    .dark {
        .modal-content-inside {
            .head {
                h2 {
                    color: #00d091 !important;
                }

                h2.dark-white {
                    color: #fff !important;
                }
            }

            h4 {
                color: #fff !important;
            }
            .usdt {
                margin-bottom: 20px;
            }
            .usdt h5 {
                color: #fff !important;
            }
            .home h5 {
                color: #fff !important;
            }
            .nwlt {
                color: #fff !important;
            }

            .add-new-wallet {
                color: #62eed3 !important;
                svg {
                    path {
                        stroke: #62eed3 !important;
                    }
                }
            }
            button.back-button {
                background: #24413e !important;
                border: 2px solid #62eed3 !important;

                color: #62eed3 !important;

                svg {
                    path {
                        stroke: #62eed3 !important;
                    }
                }
                
            }
            
        }
    }
}
