<ng-template #pcSchedulingModal let-modal>
    <div class="modal-content-inside">
        <div class="head">
            <h2>
                Scheduling Settings
                <span>{{ device.name }}</span>
            </h2>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="20" cy="20" r="20" fill="#E3FDF8" />
                    <path d="M26.364 13.636L13.636 26.3639" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                    <path d="M13.636 13.636L26.364 26.364" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                </svg>
            </button>
        </div>

        <div class="modal-body">
            <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type">
                {{alert.message}}
            </fuse-alert>
            <form class="mt-8" #form="ngForm" [formGroup]="settingsForm">
                <div class="scheduling-time">
                    <label class="mb-2">Start & End Times</label>
                    <div class="checkbox-group mb-1 mb-5">
                    <div class="start custom-checkbox mr-3">
                        <input type="checkbox" id="start" />
                        <div class="custom-checkbox-wrap">
                            <label>
                                12:00pm
                            </label>
                        </div>
                    </div>
                    <span> <svg width="10" height="2" viewBox="0 0 10 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 1H10" stroke="#879B95"/>
                    </svg>
                     </span>
                    <div class="end custom-checkbox ml-3">
                        <input type="checkbox" id="end" />
                        <div class="custom-checkbox-wrap">
                            <label>
                                1:00pm
                            </label>
                        </div>
                    </div>
                </div>
                </div>
                <div class="custom-select-dropdown">
                    <label>Repeat</label>
                    <mat-form-field class="w-full">
                        <mat-select [formControlName]="'repeat'">
                            <mat-option [value]="''">Select repeat</mat-option>
                            <mat-option [value]="'custom'">Custom</mat-option>
                        </mat-select>
                        <mat-error>
                            Please choose a repeat type
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="checkbox-group mt-2 mb-5">
                    <div class="custom-checkbox">
                        <input type="checkbox" value="SUN" (change)="onChange($event)" [disabled]="settingsForm.disabled" />
                        <div class="custom-checkbox-wrap">
                            <label>S</label>
                        </div>
                    </div>
                    <div class="custom-checkbox">
                        <input type="checkbox" value="MON" (change)="onChange($event)" [disabled]="settingsForm.disabled" />
                        <div class="custom-checkbox-wrap">
                            <label>M</label>
                        </div>
                    </div>
                    <div class="custom-checkbox">
                        <input type="checkbox"  value="TUE" (change)="onChange($event)" [disabled]="settingsForm.disabled" />
                        <div class="custom-checkbox-wrap">
                            <label>T</label>
                        </div>
                    </div>
                    <div class="custom-checkbox">
                        <input type="checkbox"  value="WED" (change)="onChange($event)" [disabled]="settingsForm.disabled" />
                        <div class="custom-checkbox-wrap">
                            <label>W</label>
                        </div>
                    </div>
                    <div class="custom-checkbox">
                        <input type="checkbox"  value="THU" (change)="onChange($event)" [disabled]="settingsForm.disabled" />
                        <div class="custom-checkbox-wrap">
                            <label>T</label>
                        </div>
                    </div>
                    <div class="custom-checkbox">
                        <input type="checkbox"  value="FRI" (change)="onChange($event)" [disabled]="settingsForm.disabled" />
                        <div class="custom-checkbox-wrap">
                            <label>F</label>
                        </div>
                    </div>
                    <div class="custom-checkbox">
                        <input type="checkbox"  value="SAT" (change)="onChange($event)" [disabled]="settingsForm.disabled" />
                        <div class="custom-checkbox-wrap">
                            <label>S</label>
                        </div>
                    </div>
                    <span class="w-full mat-error" *ngIf="(form.submitted || settingsForm.controls['repeat_days'].touched) && settingsForm.controls['repeat_days'].invalid">
                       Please choose repeat days.
                    </span>
                </div>

                <!-- Submit button -->
                <button class="fuse-mat-button-large submit-btn mt-5" mat-flat-button [color]="'primary'" [disabled]="settingsForm.disabled" (click)="saveSettings()">
                    <span class="d-flex align-items-center">
                        Save Schedule
                        <svg width="22" height="22" viewBox="0 0 22 22" class="ml-2" fill="none" xmlns="http://www.w3.org/2000/svg" *ngIf="!settingsForm.disabled">
                            <rect x="1" y="1" width="20" height="20" rx="10" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                            <path d="M9.66667 7L13.6667 11L9.66667 15" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                        </svg>
                        <mat-progress-spinner class="ml-2" *ngIf="settingsForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                    </span>
                </button>
            </form>
        </div>
    </div>
</ng-template>
