.modal-content-inside {
    .head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: 1px solid #e4e4e6;
        padding-bottom: 25px;

        h2 {
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 42px;
            line-height: 42px;
            color: #00d091;
            margin: 0px;
            max-width: 80%;

            span {
                font-size: 24px;
                color: #000000;
                font-family: Chillax;
                font-weight: 600;
                display: block;
                margin-top: 15px;
            }
        }
    }

    button.submit-btn {
        background: #e3fdf8;
        border: 2px solid #00d091;
        border-radius: 25px;
        font-family: Chillax;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #00d091;
    }
}

.checkbox-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .mat-error {
        margin-top: 4px;
        font-size: 12px;
        font-weight: 500;
    }
    .custom-checkbox {
        position: relative;
        width: 35px;
        height: 35px;
        margin-right: 10px;
        display: inline-block;
        line-height: 35px;
        margin-bottom: 10px;

        .custom-checkbox-wrap {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 25px;
            transition: 0.5s ease;
            font-size: 19px;
            font-weight: 400;
            color: #9c9c9e;
        }

        input[type="checkbox"] {
            position: absolute;
            top: 0;
            left: 0;
            width: 35px;
            height: 35px;
            opacity: 0;
            cursor: pointer;

            &[disabled] {
                cursor: default;

                ~ .custom-checkbox-wrap {
                    opacity: 0.5;
                }
            }

            ~ .custom-checkbox-wrap {
                border: 2px solid #a4e9d5;
                box-sizing: border-box;
                border-radius: 3.6px;
            }

            &:checked ~ .custom-checkbox-wrap {
                background-color: #e3fdf8;
                border: 0px;
                color: #00d091;
                border: 2px solid #00d091;
            }
        }
    }
}

.custom-select-dropdown {
    label {
        font-size: 24px;
        color: #000000;
        font-family: Chillax;
        font-weight: 600;
        margin-bottom: 10px;
    }
}

.scheduling-time {
    label {
        font-size: 24px;
        color: #000000;
        font-family: Chillax;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .checkbox-group {
        .custom-checkbox {
            width: 100px;
            .custom-checkbox-wrap {
                label {
                    font-size: 16px;
                    margin-bottom: 0px;
                }
            }
            input[type="checkbox"] {
                ~ .custom-checkbox-wrap {
                    border-radius: 17px;
                    padding: 4px 15px;
                }
            }
        }
    }
}

::ng-deep {
    .dark {
        .custom-checkbox {
            input[type="checkbox"] {
                &:checked ~ .custom-checkbox-wrap {
                    background-color: #00d091 !important;
                }
            }
        }

        button.submit-btn {background: #24413E !important;
        border: 2px solid #62EED3 !important;
        color: #62EED3 !important;


        path {
    stroke: #62EED3 !important;
}
}
        


    }
}
