.admin-home-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -15px;

    .my-rewards {
        .header-balance {
            padding: 20px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #ffffff 100%);
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            padding-top: 0px;

            h1 {
                font-weight: 600;
                font-family: "Chillax", sans-serif;
                font-size: 20px;
                line-height: 20px;
                margin-bottom: 10px;
                color: #000000;
                margin-bottom: 35px;
            }

            h5 {
                font-weight: 600;
                font-family: "Chillax", sans-serif;
                font-size: 20px;
                line-height: 20px;
                margin-bottom: 10px;
                color: #000000;
            }

            .show-balance-area {
                background: #00d091;
                padding: 20px;
                border-radius: 30px;

                .cal-amount {
                    display: flex;
                    .calendar {
                        background: linear-gradient(90deg, #33d9a7 0%, #62eed3 100%);
                        border-radius: 19.4737px;
                        width: 74px;
                        height: 74px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;

                        h6 {
                            font-size: 16px;
                            line-height: 26px;
                            text-align: center;
                            color: #ffffff;
                            margin-bottom: 0px;

                            ::ng-deep span {
                                font-weight: bold;
                                font-size: 22px;
                                display: block;
                                color: #fff;
                            }
                        }
                    }

                    h2 {
                        font-weight: 600;
                        font-family: "Chillax", sans-serif;
                        font-size: 64px;
                        line-height: 64px;
                        color: #fff;
                        margin-left: 30px;
                        margin-bottom: 0px;

                        sub {
                            font-size: 20px;
                            right: 8px;
                            bottom: -1px;
                        }
                    }
                }

                .per-amount-details {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    h6 {
                        font-family: Chillax;
                        font-size: 20px;
                        line-height: 20px;
                        text-align: right;
                        color: #ffffff;
                        margin-bottom: 0px;
                        display: flex;
                        align-items: center;

                        span {
                            font-size: 14px;
                            line-height: 14px;
                            color: #ffffff;
                            margin-left: 10px;
                        }

                        img {
                            width: 12px;
                            margin-right: 10px;
                        }
                    }

                    .view-earnings {
                        background: #4ddeb2;
                        border-radius: 25px;

                        margin-left: 20px;

                        a {
                            font-family: Chillax;
                            font-size: 16px;
                            line-height: 19px;
                            padding: 10px 30px;
                            text-decoration: none;
                            color: #ffffff;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        img {
                            width: 20px;
                            margin-left: 8px;
                        }
                    }
                }
            }
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 56px;
            height: 30px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(90deg, #33d9a7 0%, #62eed3 100%);
            border-radius: 15px;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 5px;
            bottom: 5px;
            background-color: #fff;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }

        input:checked + .slider {
            background-color: #2196f3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196f3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

        span {
            color: #9c9c9e;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 13px;
        }
    }

    .miners-status {
        position: relative;

        ::ng-deep .mat-tab-header {
            position: absolute;
            top: 46px;
            z-index: 999;
            left: 20%;
        }

        ::ng-deep .mat-tab-body-content {
            padding: 0px;
        }

        .head-table {
            margin: 40px 0px;

            h4 {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 20px;
                color: #000000;
                margin: 0px;

                span {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;
                    color: #00d091;
                }
            }

            .search-box {
                background: #ffffff;
                border: 2px solid #a4e9d5;
                border-radius: 20px;
                padding: 6px 12px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                svg {
                    width: 25px;
                    cursor: pointer;
                }
            }
        }
        .table-part {
            background: #ffffff;
            border-radius: 30px;
            overflow: hidden;

            table {
                thead {
                    background: #e4e4e6;
                    th {
                        padding: 20px;
                        position: relative;
                    }
                }

                tbody {
                    td {
                        padding: 20px;
                    }

                    .status {
                        font-size: 16px;
                        line-height: 24px;
                        color: #00d091;
                    }
                }
            }

            .load-m {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;
                text-align: right;
                color: #00d091;
                padding: 20px;
            }

            .short {
                width: 15px;
                margin-left: 10px;
                cursor: pointer;
                position: absolute;
                right: 45%;
                top: 33%;
            }
        }
    }

    .button-style mat-button-toggle {
            background: #fff;
            border: 2px solid #62eed3 !important;
        }

        .button-style .mat-button-toggle-checked {
            background: #e0fcf6;
            border: 2px solid #62eed3 !important;
        }
}
