<div class="earnings-wrap">
    <section class="earnings">
        <div class="r-activity">
            <h4 class="r-activity-title">
                Recent Activity
                <span *ngIf="recentActivities.length > 0">
                    Export Transactions
                    <svg class="ml-2" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1" width="20" height="20" rx="10" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M8.375 7.5H14.5V13.625" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M14.5 7.5L7.5 14.5" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                </span>
            </h4>
            <div class="r-activity-box mt-4">
                <ul *ngIf="recentActivities.length > 0">
                    <ng-container *ngFor="let activity of recentActivities;">
                        <li [ngClass]="{'Profit receive': activity.status == 1, 'loss sent': activity.status == 2}">
                            <span class="r-date">
                                <svg class="mr-2" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" *ngIf="activity.status == 1">
                                    <rect width="30" height="30" rx="15" transform="matrix(0 1 1 0 0 0)"/>
                                    <path d="M9 15L15 21L21 15" stroke="white" stroke-width="2" stroke-linecap="round" />
                                    <path d="M15 21V8" stroke="white" stroke-width="2" stroke-linecap="round" />
                                </svg>
                                <svg class="mr-2" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" *ngIf="activity.status == 2">
                                    <rect y="30" width="30" height="30" rx="15" transform="rotate(-90 0 30)"  />
                                    <path d="M9 15L15 9L21 15" stroke="white" stroke-width="2" stroke-linecap="round" />
                                    <path d="M15 9V22" stroke="white" stroke-width="2" stroke-linecap="round" />
                                </svg>

                                <span class="date">
                                    <ng-container *ngIf="activity.status == 1">Received</ng-container>
                                    <ng-container *ngIf="activity.status == 2">Sent</ng-container>
                                    {{ activity.currency }}
                                    <small>{{ activity.date }}</small>
                                </span>
                            </span>

                            <span class="r-amount" [innerHtml]="(activity.status == 1?'+':(activity.status == 2?'-':'')) + (activity.amount | currency2:'':'code') | safeHtml"></span>
                        </li>
                    </ng-container>
                </ul>
                <p *ngIf="recentActivities.length == 0">No activities found.</p>
                <ng-container *ngIf="totalPage > 1">
                    <button *ngIf="!loadMore && totalPage != currPage" class="d-flex align-items-center load-m cursor" (click)="loadMoreActivities()">
                        <svg width="22" height="22" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect y="1" width="25" height="25" x="1" rx="12.5" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                            <path d="M8.5 12.5L13.5 17.5L18.5 12.5" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                        </svg>

                        <span class="ml-2"> Load More </span>
                    </button>
                    <button *ngIf="loadMore" class="d-flex align-items-center load-m pl-1">
                        <mat-progress-spinner [diameter]="20" [mode]="'indeterminate'"></mat-progress-spinner>
                        <span class="ml-2"> Loading... </span>
                    </button>
                </ng-container>
            </div>
        </div>
    </section>
</div>
