.earnings-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;

    .earnings {
        padding-bottom: 20px;

        .r-activity {
            .r-activity-title {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 20px;
                display: flex;
                align-items: center;
                color: #000000;
                justify-content: space-between;

                span {
                    font-size: 16px;
                    line-height: 14px;
                    text-align: right;
                    color: #00d091;
                    display: flex;
                    align-items: center;
                    background: #e3fdf8;
                    border: 2px solid #00d091;
                    border-radius: 25px;
                    padding: 12px 20px;
                    cursor: pointer;

                    img {
                        margin-left: 8px;
                        width: 20px;
                    }
                }
            }

            .r-activity-box {
                ul {
                    padding: 0px;
                    margin: 0px;
                    li {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 15px 0px;
                        border-bottom: 1px solid #e4e4e6;

                        span.r-date {
                            font-size: 16px;
                            line-height: 24px;
                            display: flex;
                            align-items: center;
                            color: #000000;

                            img {
                                width: 30px;
                                margin-right: 12px;
                            }

                            span.date {
                                line-height: 20px;
                                small {
                                    font-size: 12px;
                                    display: block;
                                    color: #7d848b;
                                }
                            }
                        }

                        span.r-amount {
                            font-size: 22px;
                            line-height: 24px;
                            text-align: right;
                            color: #00d091;

                            ::ng-deep sub {
                                font-size: 12px;
                                line-height: 14px;
                                color: #9c9c9e;
                                margin-left: 5px;
                            }
                        }
                    }

                    .loss {
                        span.r-amount {
                            color: #000000;
                        }
                        svg {
                            fill: #00594c;
                        }
                    }

                    .receive {
                        svg {
                            fill: #00d091;
                        }
                    }
                }
            }
        }

        .load-m {
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            text-align: right;
            margin-top: 40px;
            color: #00d091;
        }
    }
}

:host-context(.dark) .earnings-wrap {
    .r-activity {
        .r-activity-title {
            color: #fff;

            span {
                background: #24413e;
                border: 2px solid #62eed3;
                color: #62eed3;

                svg rect {
                    stroke: #62eed3;
                }
                svg path {
                    stroke: #62eed3;
                }
            }
        }

        .r-activity-box {
            ul {
                li {
                    border-bottom: 1px solid #30403b;
                }
                .loss span.r-amount {
                    color: #fff;
                }
            }
            span.date {
                color: #ffffff;
            }

        .loss {
            svg {
                fill: #05805c !important;
            }
        }

        .receive {
            svg {
                fill: #24413e !important;
            }
        }


        }

        
    }

    .load-m {
        color: #62eed3;

        svg rect {
            stroke: #62eed3;
        }
        svg path {
            stroke: #62eed3;
        }
    }
}
