.modal-content-inside {
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            color: #000000;
            margin: 0px;
        }
    }

    h6 {
        font-family: Chillax;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        color: #00d091;
    }

    span {
        font-size: 16px;
        line-height: 16px;

        color: #000000;
    }

    p {
        font-size: 16px;
        line-height: 16px;

        color: #000000;
    }

    h5 {
        font-family: Chillax;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        color: #00d091;
    }

    hr {
        border: 1px solid #e4e4e6;
        margin: 35px 0px;
    }

    .qr-code {
        background: #ffffff;
        border: 2px solid #a4e9d5;
        border-radius: 20px;
        position: relative;
        padding: 15px;
        margin: 30px 0px;

        img {
            position: absolute;
            right: 15px;
            width: 15px;
            top: 18px;
            cursor: pointer;
        }
    }
}

::ng-deep {
    .dark {
        .modal-content-inside {
            .head {
                h2 {
                    color: #fff !important;
                }
            }
            span {
                color: #fff !important;
            }

            p {
                color: #879b95 !important;
            }

            hr {
                border: 1px solid #30403b !important;
            }

            .qr-code {
                background: transparent !important;
                border: 2px solid #879b95 !important;
            }
        }
    }
}

@media screen and (min-device-width: 319px) and (max-device-width: 640px) {
    .qr-code {
        input {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 85% !important;
        }
    }
}
