<ng-template #depositModal let-modal>
    <div class="modal-content-inside">
        <div class="head">
            <h2>Deposit</h2>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="20" cy="20" r="20" fill="#E3FDF8" />
                    <path d="M26.364 13.636L13.636 26.3639" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                    <path d="M13.636 13.636L26.364 26.364" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                </svg>
            </button>
        </div>

        <div class="modal-body">
            <h6>Current Balance</h6>
            <span>{{ balance | currency0:'HOME':'' }} HOME</span>
            <p class="d-block mt-3">Send only <b> HOME </b> to this deposit address. Sending any other currency to this address may result in the loss of your deposit.</p>
            <hr />
            <h5>HOME Deposit Address</h5>
            <div class="qr-code"> 
                <input class="w-100" type="text" name="qr-code" value="{{ walletAddr }}" #wallet_addr />
                <span><img src="assets/images/copy.svg" [cdkCopyToClipboard]="walletAddr" /></span> 
            </div>
            <qrcode [qrdata]="walletAddr" [width]="120" [errorCorrectionLevel]="'H'" [margin]="0" [scale]="1"></qrcode>
        </div>
    </div>
</ng-template>
