.mining-con {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -15px;

    .mining-configuration {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #ffffff 100%);
        border-radius: 30px;
        padding: 0px 20px 40px 20px;

        h1 {
            font-weight: 600;
            font-family: "Chillax", sans-serif;
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 10px;
            color: #000000;
            margin-bottom: 35px;
        }

        h5 {
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;

            margin-bottom: 15px;
            color: #00d091;
        }

        form {
            label {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 17px;
                line-height: 24px;
                color: #000000;
                margin-bottom: 6px;

                span {
                    font-size: 13px;
                    color: #7e7e80;
                }
            }
            input[type="text"] {
                background: #ffffff;
                border: 2px solid #a4e9d5;
                border-radius: 20px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;

                padding: 12px;

                color: #7e7e80;
            }

            .grey-color {
                font-style: normal;

                font-size: 14px;
                line-height: 13px;
                color: #7e7e80;
            }
        }

        hr {
            margin: 40px 0px 35px 0px;
            border-color: #e4e4e6;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 46px;
            height: 24px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(90deg, #33d9a7 0%, #62eed3 100%);
            border-radius: 15px;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 14px;
            width: 14px;
            left: 3px;
            bottom: 5px;
            background-color: #fff;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }

        input:checked + .slider {
            background-color: #9c9c9e;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #9c9c9e;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

        p {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
            color: #7e7e80;
        }
        small {
            font-size: 14px;
            line-height: 13px;

            color: #7e7e80;
        }
    }

    .miners-status {
        .head-table {
            margin: 40px 0px;

            h4 {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 20px;
                color: #000000;
                margin: 0px;

                span {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;
                    color: #00d091;
                }
            }

            .search-box {
                background: #ffffff;
                border: 2px solid #a4e9d5;
                border-radius: 20px;
                padding: 6px 12px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                svg {
                    width: 25px;
                    cursor: pointer;
                }
            }
        }
        .table-part {
            background: #ffffff;
            border-radius: 30px;
            overflow: hidden;

            table {
                thead {
                    background: #e4e4e6;
                    th {
                        padding: 20px;
                        position: relative;
                    }
                }

                tbody {
                    td {
                        padding: 20px;
                    }

                    .status {
                        font-size: 16px;
                        line-height: 24px;
                        color: #00d091;
                    }
                }
            }

            .load-m {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;
                text-align: right;
                color: #00d091;
                padding: 20px;
            }

            .short {
                width: 15px;
                margin-left: 10px;
                cursor: pointer;
                position: absolute;
                right: 34%;
                top: 33%;
            }

            .cursor {
                cursor: pointer;
            }
        }
    }
}
