<div class="mining-con">
    <section class="mining-configuration">
        <h1>Mining Configuration</h1>
        <h5>Payout Configuration</h5>
        <form>
            <div class="row mt-5">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="text">Minimum Threshold</label>
                        <input type="text" class="form-control" placeholder="Minimum Threshold" />
                    </div>
                </div>
            </div>
            <div class="row mt-5 align-items-center">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="text">payout percentage <span> for 1st coin </span> </label>
                        <input type="text" class="form-control" placeholder="Minimum Threshold" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex align-items-center mt-8">
                        <label class="switch">
                            <input type="checkbox" />
                            <span class="slider round"></span>
                        </label>
                        <label for="automatic" class="ml-4 grey-color">Automatic</label>
                    </div>
                </div>
            </div>
            <div class="row mt-5 align-items-center">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="text">payout percentage <span> for 2nd coin </span> </label>
                        <input type="text" class="form-control" placeholder="Minimum Threshold" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex align-items-center mt-8">
                        <label class="switch">
                            <input type="checkbox" />
                            <span class="slider round"></span>
                        </label>
                        <label for="manual" class="ml-4 grey-color">Manual</label>
                    </div>
                </div>
                <small class="mt-8">*Enable for automatically transferred to the user wallet </small>
            </div>
        </form>
    </section>
    <section class="miners-status">
        <div class="head-table">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-4">
                    <h4>Miners Reward Stat</h4>
                </div>
                <div class="col-lg-4">
                    <div class="search-box">
                        <input type="text" name="search" placeholder="Search miners..." />
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.375 4.5C9.38667 4.5 4.5 9.38667 4.5 15.375C4.5 21.3633 9.38667 26.25 15.375 26.25C17.8299 26.25 20.0917 25.4198 21.9155 24.0381L28.9395 31.0605C29.0777 31.2045 29.2432 31.3194 29.4264 31.3986C29.6096 31.4778 29.8068 31.5196 30.0063 31.5217C30.2059 31.5237 30.4038 31.4859 30.5886 31.4104C30.7734 31.335 30.9412 31.2235 31.0824 31.0824C31.2235 30.9412 31.335 30.7734 31.4104 30.5886C31.4859 30.4038 31.5237 30.2059 31.5217 30.0063C31.5196 29.8068 31.4778 29.6096 31.3986 29.4264C31.3194 29.2432 31.2045 29.0777 31.0605 28.9395L24.0381 21.9155C25.4198 20.0917 26.25 17.8299 26.25 15.375C26.25 9.38667 21.3633 4.5 15.375 4.5ZM15.375 7.5C19.742 7.5 23.25 11.008 23.25 15.375C23.25 17.4718 22.4355 19.3655 21.1113 20.7729C20.9824 20.8663 20.8692 20.9795 20.7759 21.1084C19.3681 22.4343 17.4733 23.25 15.375 23.25C11.008 23.25 7.5 19.742 7.5 15.375C7.5 11.008 11.008 7.5 15.375 7.5Z"
                                fill="#A4E9D5"
                            />
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-part">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            <span class="d-flex align-items-center">
                                User Account
                                <span class="ml-1">
                                    <svg class="d-block mb-1 cursor" width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.36875 4.63125L8.25 3.75L4.5 -1.63918e-07L0.750001 3.75L1.63125 4.63125L4.5 1.76875L7.36875 4.63125Z" fill="black" />
                                    </svg>

                                    <svg class="d-block cursor" width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.63125 0.868751L0.75 1.75L4.5 5.5L8.25 1.75L7.36875 0.868751L4.5 3.73125L1.63125 0.868751Z" fill="black" />
                                    </svg>
                                </span>
                            </span>
                        </th>
                        <th class="text-center" scope="col">EST. Mining</th>
                        <th class="text-center" scope="col">Reward %</th>
                        <th scope="col">
                            <span class="d-flex align-items-center justify-content-center">
                                Payout Mode
                                <span class="ml-1">
                                    <svg class="d-block mb-1 cursor" width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.36875 4.63125L8.25 3.75L4.5 -1.63918e-07L0.750001 3.75L1.63125 4.63125L4.5 1.76875L7.36875 4.63125Z" fill="black" />
                                    </svg>

                                    <svg class="d-block cursor" width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.63125 0.868751L0.75 1.75L4.5 5.5L8.25 1.75L7.36875 0.868751L4.5 3.73125L1.63125 0.868751Z" fill="black" />
                                    </svg>
                                </span>
                            </span>
                        </th>
                        <th class="text-center" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John Doe</td>
                        <td class="text-center"><span class="mr-4">0.023 </span> | <span class="ml-4">0.625</span></td>
                        <td class="text-center"><span class="mr-4">0.023 </span> | <span class="ml-4">0.625</span></td>
                        <td>
                            <span class="d-flex align-items-center justify-content-center">
                                Manual
                                <svg class="ml-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M8 0C8.56705 0 9.03305 0.432646 9.08592 0.985847L9.09091 1.09091V2.28391C9.88655 2.43483 10.6248 2.74774 11.2701 3.18704L12.102 2.35563C12.5281 1.9297 13.2188 1.92987 13.6447 2.35599C14.044 2.75549 14.0689 3.38754 13.7193 3.81594L13.6444 3.89877L12.8129 4.72981C13.2523 5.37514 13.5652 6.11344 13.7161 6.90909H14.9091C15.5116 6.90909 16 7.39751 16 8C16 8.56705 15.5674 9.03305 15.0142 9.08592L14.9091 9.09091H13.7161C13.5652 9.88655 13.2523 10.6248 12.8129 11.2702L13.6446 12.1018C14.0706 12.5278 14.0706 13.2185 13.6446 13.6446C13.2452 14.044 12.6131 14.0689 12.1846 13.7194L12.1018 13.6446L11.2702 12.8129C10.6248 13.2523 9.88655 13.5652 9.09091 13.7161V14.9091C9.09091 15.5116 8.60249 16 8 16C7.43295 16 6.96695 15.5674 6.91408 15.0142L6.90909 14.9091V13.7161C6.11335 13.5652 5.37498 13.2522 4.7296 12.8128L3.8987 13.6441C3.47277 14.0702 2.78205 14.0704 2.35592 13.6444C1.95643 13.2451 1.93131 12.6131 2.28069 12.1845L2.35555 12.1017L3.18689 11.2699C2.74767 10.6247 2.43481 9.88646 2.28391 9.09091H1.09091C0.488417 9.09091 0 8.60249 0 8C0 7.43295 0.432646 6.96695 0.985847 6.91408L1.09091 6.90909H2.28391C2.43483 6.11345 2.74774 5.37516 3.18705 4.72983L2.35574 3.89852C1.92971 3.47249 1.92971 2.78176 2.35574 2.35574C2.75514 1.95634 3.38718 1.93138 3.81566 2.28085L3.89852 2.35574L4.72983 3.18705C5.37516 2.74774 6.11345 2.43483 6.90909 2.28391V1.09091C6.90909 0.488417 7.39751 0 8 0ZM4.36364 8C4.36364 10.0084 5.99158 11.6364 8 11.6364C10.0084 11.6364 11.6364 10.0084 11.6364 8C11.6364 5.99158 10.0084 4.36364 8 4.36364C5.99158 4.36364 4.36364 5.99158 4.36364 8Z"
                                        fill="black"
                                    />
                                </svg>
                            </span>
                        </td>
                        <td class="d-flex justify-content-center cursor">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <span>Details</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Export CSV</span>
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td class="text-center"><span class="mr-4">0.023 </span> | <span class="ml-4">0.625</span></td>
                        <td class="text-center"><span class="mr-4">0.023 </span> | <span class="ml-4">0.625</span></td>
                        <td>
                            <span class="d-flex align-items-center justify-content-center">
                                Manual
                                <svg class="ml-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M8 0C8.56705 0 9.03305 0.432646 9.08592 0.985847L9.09091 1.09091V2.28391C9.88655 2.43483 10.6248 2.74774 11.2701 3.18704L12.102 2.35563C12.5281 1.9297 13.2188 1.92987 13.6447 2.35599C14.044 2.75549 14.0689 3.38754 13.7193 3.81594L13.6444 3.89877L12.8129 4.72981C13.2523 5.37514 13.5652 6.11344 13.7161 6.90909H14.9091C15.5116 6.90909 16 7.39751 16 8C16 8.56705 15.5674 9.03305 15.0142 9.08592L14.9091 9.09091H13.7161C13.5652 9.88655 13.2523 10.6248 12.8129 11.2702L13.6446 12.1018C14.0706 12.5278 14.0706 13.2185 13.6446 13.6446C13.2452 14.044 12.6131 14.0689 12.1846 13.7194L12.1018 13.6446L11.2702 12.8129C10.6248 13.2523 9.88655 13.5652 9.09091 13.7161V14.9091C9.09091 15.5116 8.60249 16 8 16C7.43295 16 6.96695 15.5674 6.91408 15.0142L6.90909 14.9091V13.7161C6.11335 13.5652 5.37498 13.2522 4.7296 12.8128L3.8987 13.6441C3.47277 14.0702 2.78205 14.0704 2.35592 13.6444C1.95643 13.2451 1.93131 12.6131 2.28069 12.1845L2.35555 12.1017L3.18689 11.2699C2.74767 10.6247 2.43481 9.88646 2.28391 9.09091H1.09091C0.488417 9.09091 0 8.60249 0 8C0 7.43295 0.432646 6.96695 0.985847 6.91408L1.09091 6.90909H2.28391C2.43483 6.11345 2.74774 5.37516 3.18705 4.72983L2.35574 3.89852C1.92971 3.47249 1.92971 2.78176 2.35574 2.35574C2.75514 1.95634 3.38718 1.93138 3.81566 2.28085L3.89852 2.35574L4.72983 3.18705C5.37516 2.74774 6.11345 2.43483 6.90909 2.28391V1.09091C6.90909 0.488417 7.39751 0 8 0ZM4.36364 8C4.36364 10.0084 5.99158 11.6364 8 11.6364C10.0084 11.6364 11.6364 10.0084 11.6364 8C11.6364 5.99158 10.0084 4.36364 8 4.36364C5.99158 4.36364 4.36364 5.99158 4.36364 8Z"
                                        fill="black"
                                    />
                                </svg>
                            </span>
                        </td>
                        <td class="d-flex justify-content-center cursor">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <span>Details</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Export CSV</span>
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td class="text-center"><span class="mr-4">0.023 </span> | <span class="ml-4">0.625</span></td>
                        <td class="text-center"><span class="mr-4">0.023 </span> | <span class="ml-4">0.625</span></td>
                        <td>
                            <span class="d-flex align-items-center justify-content-center">
                                Manual
                                <svg class="ml-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M8 0C8.56705 0 9.03305 0.432646 9.08592 0.985847L9.09091 1.09091V2.28391C9.88655 2.43483 10.6248 2.74774 11.2701 3.18704L12.102 2.35563C12.5281 1.9297 13.2188 1.92987 13.6447 2.35599C14.044 2.75549 14.0689 3.38754 13.7193 3.81594L13.6444 3.89877L12.8129 4.72981C13.2523 5.37514 13.5652 6.11344 13.7161 6.90909H14.9091C15.5116 6.90909 16 7.39751 16 8C16 8.56705 15.5674 9.03305 15.0142 9.08592L14.9091 9.09091H13.7161C13.5652 9.88655 13.2523 10.6248 12.8129 11.2702L13.6446 12.1018C14.0706 12.5278 14.0706 13.2185 13.6446 13.6446C13.2452 14.044 12.6131 14.0689 12.1846 13.7194L12.1018 13.6446L11.2702 12.8129C10.6248 13.2523 9.88655 13.5652 9.09091 13.7161V14.9091C9.09091 15.5116 8.60249 16 8 16C7.43295 16 6.96695 15.5674 6.91408 15.0142L6.90909 14.9091V13.7161C6.11335 13.5652 5.37498 13.2522 4.7296 12.8128L3.8987 13.6441C3.47277 14.0702 2.78205 14.0704 2.35592 13.6444C1.95643 13.2451 1.93131 12.6131 2.28069 12.1845L2.35555 12.1017L3.18689 11.2699C2.74767 10.6247 2.43481 9.88646 2.28391 9.09091H1.09091C0.488417 9.09091 0 8.60249 0 8C0 7.43295 0.432646 6.96695 0.985847 6.91408L1.09091 6.90909H2.28391C2.43483 6.11345 2.74774 5.37516 3.18705 4.72983L2.35574 3.89852C1.92971 3.47249 1.92971 2.78176 2.35574 2.35574C2.75514 1.95634 3.38718 1.93138 3.81566 2.28085L3.89852 2.35574L4.72983 3.18705C5.37516 2.74774 6.11345 2.43483 6.90909 2.28391V1.09091C6.90909 0.488417 7.39751 0 8 0ZM4.36364 8C4.36364 10.0084 5.99158 11.6364 8 11.6364C10.0084 11.6364 11.6364 10.0084 11.6364 8C11.6364 5.99158 10.0084 4.36364 8 4.36364C5.99158 4.36364 4.36364 5.99158 4.36364 8Z"
                                        fill="black"
                                    />
                                </svg>
                            </span>
                        </td>
                        <td class="d-flex justify-content-center cursor">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <span>Details</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Export CSV</span>
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td class="text-center"><span class="mr-4">0.023 </span> | <span class="ml-4">0.625</span></td>
                        <td class="text-center"><span class="mr-4">0.023 </span> | <span class="ml-4">0.625</span></td>
                        <td>
                            <span class="d-flex align-items-center justify-content-center">
                                Manual
                                <svg class="ml-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M8 0C8.56705 0 9.03305 0.432646 9.08592 0.985847L9.09091 1.09091V2.28391C9.88655 2.43483 10.6248 2.74774 11.2701 3.18704L12.102 2.35563C12.5281 1.9297 13.2188 1.92987 13.6447 2.35599C14.044 2.75549 14.0689 3.38754 13.7193 3.81594L13.6444 3.89877L12.8129 4.72981C13.2523 5.37514 13.5652 6.11344 13.7161 6.90909H14.9091C15.5116 6.90909 16 7.39751 16 8C16 8.56705 15.5674 9.03305 15.0142 9.08592L14.9091 9.09091H13.7161C13.5652 9.88655 13.2523 10.6248 12.8129 11.2702L13.6446 12.1018C14.0706 12.5278 14.0706 13.2185 13.6446 13.6446C13.2452 14.044 12.6131 14.0689 12.1846 13.7194L12.1018 13.6446L11.2702 12.8129C10.6248 13.2523 9.88655 13.5652 9.09091 13.7161V14.9091C9.09091 15.5116 8.60249 16 8 16C7.43295 16 6.96695 15.5674 6.91408 15.0142L6.90909 14.9091V13.7161C6.11335 13.5652 5.37498 13.2522 4.7296 12.8128L3.8987 13.6441C3.47277 14.0702 2.78205 14.0704 2.35592 13.6444C1.95643 13.2451 1.93131 12.6131 2.28069 12.1845L2.35555 12.1017L3.18689 11.2699C2.74767 10.6247 2.43481 9.88646 2.28391 9.09091H1.09091C0.488417 9.09091 0 8.60249 0 8C0 7.43295 0.432646 6.96695 0.985847 6.91408L1.09091 6.90909H2.28391C2.43483 6.11345 2.74774 5.37516 3.18705 4.72983L2.35574 3.89852C1.92971 3.47249 1.92971 2.78176 2.35574 2.35574C2.75514 1.95634 3.38718 1.93138 3.81566 2.28085L3.89852 2.35574L4.72983 3.18705C5.37516 2.74774 6.11345 2.43483 6.90909 2.28391V1.09091C6.90909 0.488417 7.39751 0 8 0ZM4.36364 8C4.36364 10.0084 5.99158 11.6364 8 11.6364C10.0084 11.6364 11.6364 10.0084 11.6364 8C11.6364 5.99158 10.0084 4.36364 8 4.36364C5.99158 4.36364 4.36364 5.99158 4.36364 8Z"
                                        fill="black"
                                    />
                                </svg>
                            </span>
                        </td>
                        <td class="d-flex justify-content-center cursor">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <span>Details</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Export CSV</span>
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td class="text-center"><span class="mr-4">0.023 </span> | <span class="ml-4">0.625</span></td>
                        <td class="text-center"><span class="mr-4">0.023 </span> | <span class="ml-4">0.625</span></td>
                        <td>
                            <span class="d-flex align-items-center justify-content-center">
                                Manual
                                <svg class="ml-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M8 0C8.56705 0 9.03305 0.432646 9.08592 0.985847L9.09091 1.09091V2.28391C9.88655 2.43483 10.6248 2.74774 11.2701 3.18704L12.102 2.35563C12.5281 1.9297 13.2188 1.92987 13.6447 2.35599C14.044 2.75549 14.0689 3.38754 13.7193 3.81594L13.6444 3.89877L12.8129 4.72981C13.2523 5.37514 13.5652 6.11344 13.7161 6.90909H14.9091C15.5116 6.90909 16 7.39751 16 8C16 8.56705 15.5674 9.03305 15.0142 9.08592L14.9091 9.09091H13.7161C13.5652 9.88655 13.2523 10.6248 12.8129 11.2702L13.6446 12.1018C14.0706 12.5278 14.0706 13.2185 13.6446 13.6446C13.2452 14.044 12.6131 14.0689 12.1846 13.7194L12.1018 13.6446L11.2702 12.8129C10.6248 13.2523 9.88655 13.5652 9.09091 13.7161V14.9091C9.09091 15.5116 8.60249 16 8 16C7.43295 16 6.96695 15.5674 6.91408 15.0142L6.90909 14.9091V13.7161C6.11335 13.5652 5.37498 13.2522 4.7296 12.8128L3.8987 13.6441C3.47277 14.0702 2.78205 14.0704 2.35592 13.6444C1.95643 13.2451 1.93131 12.6131 2.28069 12.1845L2.35555 12.1017L3.18689 11.2699C2.74767 10.6247 2.43481 9.88646 2.28391 9.09091H1.09091C0.488417 9.09091 0 8.60249 0 8C0 7.43295 0.432646 6.96695 0.985847 6.91408L1.09091 6.90909H2.28391C2.43483 6.11345 2.74774 5.37516 3.18705 4.72983L2.35574 3.89852C1.92971 3.47249 1.92971 2.78176 2.35574 2.35574C2.75514 1.95634 3.38718 1.93138 3.81566 2.28085L3.89852 2.35574L4.72983 3.18705C5.37516 2.74774 6.11345 2.43483 6.90909 2.28391V1.09091C6.90909 0.488417 7.39751 0 8 0ZM4.36364 8C4.36364 10.0084 5.99158 11.6364 8 11.6364C10.0084 11.6364 11.6364 10.0084 11.6364 8C11.6364 5.99158 10.0084 4.36364 8 4.36364C5.99158 4.36364 4.36364 5.99158 4.36364 8Z"
                                        fill="black"
                                    />
                                </svg>
                            </span>
                        </td>
                        <td class="d-flex justify-content-center cursor">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <span>Details</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Export CSV</span>
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td class="text-center"><span class="mr-4">0.023 </span> | <span class="ml-4">0.625</span></td>
                        <td class="text-center"><span class="mr-4">0.023 </span> | <span class="ml-4">0.625</span></td>
                        <td>
                            <span class="d-flex align-items-center justify-content-center">
                                Manual
                                <svg class="ml-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M8 0C8.56705 0 9.03305 0.432646 9.08592 0.985847L9.09091 1.09091V2.28391C9.88655 2.43483 10.6248 2.74774 11.2701 3.18704L12.102 2.35563C12.5281 1.9297 13.2188 1.92987 13.6447 2.35599C14.044 2.75549 14.0689 3.38754 13.7193 3.81594L13.6444 3.89877L12.8129 4.72981C13.2523 5.37514 13.5652 6.11344 13.7161 6.90909H14.9091C15.5116 6.90909 16 7.39751 16 8C16 8.56705 15.5674 9.03305 15.0142 9.08592L14.9091 9.09091H13.7161C13.5652 9.88655 13.2523 10.6248 12.8129 11.2702L13.6446 12.1018C14.0706 12.5278 14.0706 13.2185 13.6446 13.6446C13.2452 14.044 12.6131 14.0689 12.1846 13.7194L12.1018 13.6446L11.2702 12.8129C10.6248 13.2523 9.88655 13.5652 9.09091 13.7161V14.9091C9.09091 15.5116 8.60249 16 8 16C7.43295 16 6.96695 15.5674 6.91408 15.0142L6.90909 14.9091V13.7161C6.11335 13.5652 5.37498 13.2522 4.7296 12.8128L3.8987 13.6441C3.47277 14.0702 2.78205 14.0704 2.35592 13.6444C1.95643 13.2451 1.93131 12.6131 2.28069 12.1845L2.35555 12.1017L3.18689 11.2699C2.74767 10.6247 2.43481 9.88646 2.28391 9.09091H1.09091C0.488417 9.09091 0 8.60249 0 8C0 7.43295 0.432646 6.96695 0.985847 6.91408L1.09091 6.90909H2.28391C2.43483 6.11345 2.74774 5.37516 3.18705 4.72983L2.35574 3.89852C1.92971 3.47249 1.92971 2.78176 2.35574 2.35574C2.75514 1.95634 3.38718 1.93138 3.81566 2.28085L3.89852 2.35574L4.72983 3.18705C5.37516 2.74774 6.11345 2.43483 6.90909 2.28391V1.09091C6.90909 0.488417 7.39751 0 8 0ZM4.36364 8C4.36364 10.0084 5.99158 11.6364 8 11.6364C10.0084 11.6364 11.6364 10.0084 11.6364 8C11.6364 5.99158 10.0084 4.36364 8 4.36364C5.99158 4.36364 4.36364 5.99158 4.36364 8Z"
                                        fill="black"
                                    />
                                </svg>
                            </span>
                        </td>
                        <td class="d-flex justify-content-center cursor">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <span>Details</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Export CSV</span>
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td class="text-center"><span class="mr-4">0.023 </span> | <span class="ml-4">0.625</span></td>
                        <td class="text-center"><span class="mr-4">0.023 </span> | <span class="ml-4">0.625</span></td>
                        <td>
                            <span class="d-flex align-items-center justify-content-center">
                                Manual
                                <svg class="ml-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M8 0C8.56705 0 9.03305 0.432646 9.08592 0.985847L9.09091 1.09091V2.28391C9.88655 2.43483 10.6248 2.74774 11.2701 3.18704L12.102 2.35563C12.5281 1.9297 13.2188 1.92987 13.6447 2.35599C14.044 2.75549 14.0689 3.38754 13.7193 3.81594L13.6444 3.89877L12.8129 4.72981C13.2523 5.37514 13.5652 6.11344 13.7161 6.90909H14.9091C15.5116 6.90909 16 7.39751 16 8C16 8.56705 15.5674 9.03305 15.0142 9.08592L14.9091 9.09091H13.7161C13.5652 9.88655 13.2523 10.6248 12.8129 11.2702L13.6446 12.1018C14.0706 12.5278 14.0706 13.2185 13.6446 13.6446C13.2452 14.044 12.6131 14.0689 12.1846 13.7194L12.1018 13.6446L11.2702 12.8129C10.6248 13.2523 9.88655 13.5652 9.09091 13.7161V14.9091C9.09091 15.5116 8.60249 16 8 16C7.43295 16 6.96695 15.5674 6.91408 15.0142L6.90909 14.9091V13.7161C6.11335 13.5652 5.37498 13.2522 4.7296 12.8128L3.8987 13.6441C3.47277 14.0702 2.78205 14.0704 2.35592 13.6444C1.95643 13.2451 1.93131 12.6131 2.28069 12.1845L2.35555 12.1017L3.18689 11.2699C2.74767 10.6247 2.43481 9.88646 2.28391 9.09091H1.09091C0.488417 9.09091 0 8.60249 0 8C0 7.43295 0.432646 6.96695 0.985847 6.91408L1.09091 6.90909H2.28391C2.43483 6.11345 2.74774 5.37516 3.18705 4.72983L2.35574 3.89852C1.92971 3.47249 1.92971 2.78176 2.35574 2.35574C2.75514 1.95634 3.38718 1.93138 3.81566 2.28085L3.89852 2.35574L4.72983 3.18705C5.37516 2.74774 6.11345 2.43483 6.90909 2.28391V1.09091C6.90909 0.488417 7.39751 0 8 0ZM4.36364 8C4.36364 10.0084 5.99158 11.6364 8 11.6364C10.0084 11.6364 11.6364 10.0084 11.6364 8C11.6364 5.99158 10.0084 4.36364 8 4.36364C5.99158 4.36364 4.36364 5.99158 4.36364 8Z"
                                        fill="black"
                                    />
                                </svg>
                            </span>
                        </td>
                        <td class="d-flex justify-content-center cursor">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <span>Details</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Export CSV</span>
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td class="text-center"><span class="mr-4">0.023 </span> | <span class="ml-4">0.625</span></td>
                        <td class="text-center"><span class="mr-4">0.023 </span> | <span class="ml-4">0.625</span></td>
                        <td>
                            <span class="d-flex align-items-center justify-content-center">
                                Manual
                                <svg class="ml-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M8 0C8.56705 0 9.03305 0.432646 9.08592 0.985847L9.09091 1.09091V2.28391C9.88655 2.43483 10.6248 2.74774 11.2701 3.18704L12.102 2.35563C12.5281 1.9297 13.2188 1.92987 13.6447 2.35599C14.044 2.75549 14.0689 3.38754 13.7193 3.81594L13.6444 3.89877L12.8129 4.72981C13.2523 5.37514 13.5652 6.11344 13.7161 6.90909H14.9091C15.5116 6.90909 16 7.39751 16 8C16 8.56705 15.5674 9.03305 15.0142 9.08592L14.9091 9.09091H13.7161C13.5652 9.88655 13.2523 10.6248 12.8129 11.2702L13.6446 12.1018C14.0706 12.5278 14.0706 13.2185 13.6446 13.6446C13.2452 14.044 12.6131 14.0689 12.1846 13.7194L12.1018 13.6446L11.2702 12.8129C10.6248 13.2523 9.88655 13.5652 9.09091 13.7161V14.9091C9.09091 15.5116 8.60249 16 8 16C7.43295 16 6.96695 15.5674 6.91408 15.0142L6.90909 14.9091V13.7161C6.11335 13.5652 5.37498 13.2522 4.7296 12.8128L3.8987 13.6441C3.47277 14.0702 2.78205 14.0704 2.35592 13.6444C1.95643 13.2451 1.93131 12.6131 2.28069 12.1845L2.35555 12.1017L3.18689 11.2699C2.74767 10.6247 2.43481 9.88646 2.28391 9.09091H1.09091C0.488417 9.09091 0 8.60249 0 8C0 7.43295 0.432646 6.96695 0.985847 6.91408L1.09091 6.90909H2.28391C2.43483 6.11345 2.74774 5.37516 3.18705 4.72983L2.35574 3.89852C1.92971 3.47249 1.92971 2.78176 2.35574 2.35574C2.75514 1.95634 3.38718 1.93138 3.81566 2.28085L3.89852 2.35574L4.72983 3.18705C5.37516 2.74774 6.11345 2.43483 6.90909 2.28391V1.09091C6.90909 0.488417 7.39751 0 8 0ZM4.36364 8C4.36364 10.0084 5.99158 11.6364 8 11.6364C10.0084 11.6364 11.6364 10.0084 11.6364 8C11.6364 5.99158 10.0084 4.36364 8 4.36364C5.99158 4.36364 4.36364 5.99158 4.36364 8Z"
                                        fill="black"
                                    />
                                </svg>
                            </span>
                        </td>
                        <td class="d-flex justify-content-center cursor">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <span>Details</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Export CSV</span>
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td class="text-center"><span class="mr-4">0.023 </span> | <span class="ml-4">0.625</span></td>
                        <td class="text-center"><span class="mr-4">0.023 </span> | <span class="ml-4">0.625</span></td>
                        <td>
                            <span class="d-flex align-items-center justify-content-center">
                                Manual
                                <svg class="ml-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M8 0C8.56705 0 9.03305 0.432646 9.08592 0.985847L9.09091 1.09091V2.28391C9.88655 2.43483 10.6248 2.74774 11.2701 3.18704L12.102 2.35563C12.5281 1.9297 13.2188 1.92987 13.6447 2.35599C14.044 2.75549 14.0689 3.38754 13.7193 3.81594L13.6444 3.89877L12.8129 4.72981C13.2523 5.37514 13.5652 6.11344 13.7161 6.90909H14.9091C15.5116 6.90909 16 7.39751 16 8C16 8.56705 15.5674 9.03305 15.0142 9.08592L14.9091 9.09091H13.7161C13.5652 9.88655 13.2523 10.6248 12.8129 11.2702L13.6446 12.1018C14.0706 12.5278 14.0706 13.2185 13.6446 13.6446C13.2452 14.044 12.6131 14.0689 12.1846 13.7194L12.1018 13.6446L11.2702 12.8129C10.6248 13.2523 9.88655 13.5652 9.09091 13.7161V14.9091C9.09091 15.5116 8.60249 16 8 16C7.43295 16 6.96695 15.5674 6.91408 15.0142L6.90909 14.9091V13.7161C6.11335 13.5652 5.37498 13.2522 4.7296 12.8128L3.8987 13.6441C3.47277 14.0702 2.78205 14.0704 2.35592 13.6444C1.95643 13.2451 1.93131 12.6131 2.28069 12.1845L2.35555 12.1017L3.18689 11.2699C2.74767 10.6247 2.43481 9.88646 2.28391 9.09091H1.09091C0.488417 9.09091 0 8.60249 0 8C0 7.43295 0.432646 6.96695 0.985847 6.91408L1.09091 6.90909H2.28391C2.43483 6.11345 2.74774 5.37516 3.18705 4.72983L2.35574 3.89852C1.92971 3.47249 1.92971 2.78176 2.35574 2.35574C2.75514 1.95634 3.38718 1.93138 3.81566 2.28085L3.89852 2.35574L4.72983 3.18705C5.37516 2.74774 6.11345 2.43483 6.90909 2.28391V1.09091C6.90909 0.488417 7.39751 0 8 0ZM4.36364 8C4.36364 10.0084 5.99158 11.6364 8 11.6364C10.0084 11.6364 11.6364 10.0084 11.6364 8C11.6364 5.99158 10.0084 4.36364 8 4.36364C5.99158 4.36364 4.36364 5.99158 4.36364 8Z"
                                        fill="black"
                                    />
                                </svg>
                            </span>
                        </td>
                        <td class="d-flex justify-content-center cursor">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <span>Details</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Export CSV</span>
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td class="text-center"><span class="mr-4">0.023 </span> | <span class="ml-4">0.625</span></td>
                        <td class="text-center"><span class="mr-4">0.023 </span> | <span class="ml-4">0.625</span></td>
                        <td>
                            <span class="d-flex align-items-center justify-content-center">
                                Manual
                                <svg class="ml-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M8 0C8.56705 0 9.03305 0.432646 9.08592 0.985847L9.09091 1.09091V2.28391C9.88655 2.43483 10.6248 2.74774 11.2701 3.18704L12.102 2.35563C12.5281 1.9297 13.2188 1.92987 13.6447 2.35599C14.044 2.75549 14.0689 3.38754 13.7193 3.81594L13.6444 3.89877L12.8129 4.72981C13.2523 5.37514 13.5652 6.11344 13.7161 6.90909H14.9091C15.5116 6.90909 16 7.39751 16 8C16 8.56705 15.5674 9.03305 15.0142 9.08592L14.9091 9.09091H13.7161C13.5652 9.88655 13.2523 10.6248 12.8129 11.2702L13.6446 12.1018C14.0706 12.5278 14.0706 13.2185 13.6446 13.6446C13.2452 14.044 12.6131 14.0689 12.1846 13.7194L12.1018 13.6446L11.2702 12.8129C10.6248 13.2523 9.88655 13.5652 9.09091 13.7161V14.9091C9.09091 15.5116 8.60249 16 8 16C7.43295 16 6.96695 15.5674 6.91408 15.0142L6.90909 14.9091V13.7161C6.11335 13.5652 5.37498 13.2522 4.7296 12.8128L3.8987 13.6441C3.47277 14.0702 2.78205 14.0704 2.35592 13.6444C1.95643 13.2451 1.93131 12.6131 2.28069 12.1845L2.35555 12.1017L3.18689 11.2699C2.74767 10.6247 2.43481 9.88646 2.28391 9.09091H1.09091C0.488417 9.09091 0 8.60249 0 8C0 7.43295 0.432646 6.96695 0.985847 6.91408L1.09091 6.90909H2.28391C2.43483 6.11345 2.74774 5.37516 3.18705 4.72983L2.35574 3.89852C1.92971 3.47249 1.92971 2.78176 2.35574 2.35574C2.75514 1.95634 3.38718 1.93138 3.81566 2.28085L3.89852 2.35574L4.72983 3.18705C5.37516 2.74774 6.11345 2.43483 6.90909 2.28391V1.09091C6.90909 0.488417 7.39751 0 8 0ZM4.36364 8C4.36364 10.0084 5.99158 11.6364 8 11.6364C10.0084 11.6364 11.6364 10.0084 11.6364 8C11.6364 5.99158 10.0084 4.36364 8 4.36364C5.99158 4.36364 4.36364 5.99158 4.36364 8Z"
                                        fill="black"
                                    />
                                </svg>
                            </span>
                        </td>
                        <td class="d-flex justify-content-center cursor">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <span>Details</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Export CSV</span>
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h6 class="d-flex align-items-center load-m cursor">
                <svg width="22" height="22" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect y="1" width="25" height="25" x="1" rx="12.5" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                    <path d="M8.5 12.5L13.5 17.5L18.5 12.5" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                </svg>

                <span class="ml-2"> Load More </span>
            </h6>
        </div>
    </section>
</div>
