.modal-content-inside {
    .head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        h3 {
            max-width: 50%;
        }
    }

    h3 {
        font-family: Chillax;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        margin-top: 30px;
        margin-bottom: 40px;
        color: #00d091;
    }

    h5 {
        font-family: Chillax;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        color: #000000;
    }

    span.text {
        font-size: 16px;
        line-height: 16px;
        color: #000000;
    }
    .amount-stake {
        margin: 25px 0 0;
        position: relative;

        &.mat-form-field.mat-form-field-appearance-fill {
            ::ng-deep .mat-form-field-wrapper {
                margin-bottom: 0;
                .mat-form-field-flex {
                    border: 2px solid #a4e9d5;
                    border-radius: 20px;
                    height: 57px;
                }
            }
        }
        input {
            width: 100%;
        }
        span {
            background: #e0fcf6;
            border: 2px solid #62eed3;
            border-radius: 30px;
            font-size: 16px;
            line-height: 20px;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 11px;
            padding: 4px 20px;
            color: #000000;
            text-align: center;
        }
    }

    .amount-slider {
        mat-slider {
            min-width: 100%;
        }
        mat-button-toggle-group {
            justify-content: space-between;
            width: 100%;
        }
        mat-button-toggle {
            border: 2px solid #a4e9d5 !important;
        }
        ::ng-deep .mat-slider-thumb {
            background: #00d091 !important;
            bottom: -13px;
            right: -20px;
            width: 30px;
            height: 30px; transform: none;
        }
        ::ng-deep .mat-slider-ticks {
            border: 2px solid #a4e9d5;
        }
        ::ng-deep .mat-slider:not(.mat-slider-disabled).cdk-focused.mat-slider-thumb-label-showing .mat-slider-thumb {
        transform: none;}

        ::ng-deep .mat-slider-horizontal .mat-slider-thumb-label {
            right: -16px;
            top: -44px;
            transform: none;
            background-color: transparent !important;
            font-weight: 600; 
        }

        ::ng-deep .mat-slider-thumb-label-text { color:#000; transform: none; opacity: 1;}
    }

    .cancel {
        background: #e3fdf8;
        border: 2px solid #00d091;
        border-radius: 25px;
        font-family: Chillax;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;

        color: #00d091;
    }
    .confirm {
        background: #00d091;
        border-radius: 25px;
        color: #fff;
    }
    .stake-message {
        h4 {
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;

            color: #000000;
        }

        .confirm {
            min-width: 180px;
            text-align: center;
            margin-top: 180px;
        }
    }
}


::ng-deep {
    .dark {
        .modal-content-inside {
            h5 {
                color: #fff !important;
            }

            .amount-stake {
                span {
                    background: #24413e !important;
                }
            }

            

            mat-button-toggle {
                border: 2px solid #62eed3 !important;
                background: #1e2126;
            }

            .mat-accent .mat-slider-track-fill {
                background-color: #879b95 !important;
            }

            ::ng-deep .mat-slider-thumb-label-text {
                color: #fff !important;
            }
        }
    }
}

@media screen and (min-device-width: 319px) and (max-device-width: 640px) {
    .modal-content-inside {
        

        .head {
            h3 {
                max-width: 80%;
            }
        }

        mat-slider {
                width: 100% !important;
            }
    }

 ::ng-deep .mat-button-toggle-label-content {
            padding: 0 8px !important;
        }
}