<div class="container">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-5">
            <div class="inside-box">
                <!-- Logo -->
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-12 mb-3">
                        <img src="assets/images/logo/bithome-logo-{{config.scheme}}.svg" />
                    </div>
                </div>

                <!-- Alert -->
                <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>

                <!-- Sign in form -->
                <form class="mt-8 signIn" [formGroup]="signInForm">
                    <!-- Email field -->
                    <mat-form-field class="w-full">
                        <div class="input-div w-full">
                            <input id="email" class="w-full" matInput [formControlName]="'email'" placeholder="Email Address" />
                        </div>
                        <mat-error *ngIf="signInForm.get('email').hasError('required')">
                            Email address is required
                        </mat-error>
                        <mat-error *ngIf="signInForm.get('email').hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>

                    <!-- Password field -->
                    <mat-form-field class="w-full">
                        <input id="password" matInput type="password" [formControlName]="'password'" placeholder="Password" #passwordField />
                        <button mat-icon-button type="button" (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'" matSuffix>
                            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'" [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error>
                            Password is required
                        </mat-error>
                    </mat-form-field>

                    <!-- Actions -->
                    <!--<div class="inline-flex items-end justify-between w-full mt-1.5">
                        <mat-checkbox [color]="'primary'" [formControlName]="'rememberMe'">
                            Remember me
                        </mat-checkbox>
                        
                    </div>-->

                    <!-- Submit button -->
                    <button class="fuse-mat-button-large w-full submit-btn" mat-flat-button [color]="'primary'" [disabled]="signInForm.disabled" (click)="signIn()">
                        <span *ngIf="!signInForm.disabled" class="d-flex align-items-center"> Sign in <img src="assets/images/round-arrow.svg" class="ml-2" /> </span>
                        <mat-progress-spinner *ngIf="signInForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>
                </form>
                <div class="flex items-baseline mt-5">
                    <a class="hover:underline" [routerLink]="['/forgot-password']">Forgot password? </a>
                </div>

                <div class="flex items-baseline mt-5 text-center sign-up-text">
                    <h6>Don't have an account?</h6>
                    <a class="ml-1" [routerLink]="['/sign-up']">Sign up </a>
                </div>
            </div>
        </div>
    </div>
</div>
