.h-100 {
    height: 100% !important;
}

a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #8a8a8a;
}

.inside-box {
    background: #ffffff;
    border: 2px solid #62eed3;
    border-radius: 30px;
    padding: 60px 40px;

    .submit-btn {
        background: #00d091;
        border-radius: 20px;
    }

    .sign-up-text {
        font-size: 15px;
        line-height: 16px;
        color: #000000;
        h6 {
            font-size: 15px;
            font-weight: 400;
        }
        a {
            color: #000000;
            font-weight: 600;
        }
    }
}

:host::ng-deep.mat-form-field-flex {
    display: block;
}

:host-context(.dark) .inside-box {
    background: #1e2126;
    border: 2px solid #62eed3;
    border-radius: 30px;
    padding: 60px 40px;

    h6 {
        color: #fff;
    }
}
