.modal-content-inside {
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            color: #000000;
            margin: 0px;
        }
    }

    h3 {
        font-family: Chillax;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        margin-top: 30px; margin-bottom:40px;
        color: #00d091;
    }

    .cancel {
        background: #e3fdf8;
        border: 2px solid #00d091;
        border-radius: 25px;
        font-family: Chillax;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;

        color: #00d091;
    }
    .delete {
        background: #00d091;
        border-radius: 25px;
        color: #fff;
    }
}
