<ng-template #deleteWalletModal let-modal>
    <div class="modal-content-inside">
        <div class="head">
            <h2>Delete Wallet</h2>
        </div>
        <div class="modal-body">
            <h3>Are you sure you want to delete this wallet?</h3>

            <button class="fuse-mat-button-large cancel action-button" mat-flat-button [color]="'primary'" (click)="cancel()">
                <span class="d-flex align-items-center">
                    No cancel
                    <svg class="ml-2" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1" width="20" height="20" rx="10" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M8.00001 8L13.6569 13.6569" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M13.6569 8L8 13.6569" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                </span>
            </button>
            <button class="fuse-mat-button-large ml-3 delete" mat-flat-button [color]="'primary'" (click)="deleteWallet()">
                <span class="d-flex align-items-center">
                    Yes Delete
                    <svg class="ml-2" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1" width="20" height="20" rx="10" stroke="white" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M9.66667 7L13.6667 11L9.66667 15" stroke="white" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                </span>
            </button>
        </div>
    </div>
</ng-template>
