<div class="pcs-wrap">
    <div class="d-flex align-items-center justify-content-center h-100" *ngIf="showLoader">
        <mat-progress-spinner [diameter]="50" [mode]="'indeterminate'"></mat-progress-spinner>
    </div>
    <ng-container *ngIf="!showLoader">
        <div class="row">
            <div class="col-lg-6 col-6">
                <h4 class="my-pc">My PCs <span *ngIf="totalPc > 0"> {{ activeCount }}/{{ totalPc }} active </span></h4>
            </div>
            <div class="col-lg-6 col-6 text-right">
                <button class="add-pc" (click)="addPcModal.openModal()">
                    Add a PC
                    <span>
                        <img src="assets/images/plus-round.svg" />
                    </span>
                </button>
            </div>
        </div>
        <div class="pc-row-group">
            <ng-container *ngIf="totalPc > 0">
                <div class="pc-row" id="pc-row-{{ pidx }}" *ngFor="let pc of all_pcs; let pidx = index;">
                    <ngb-accordion (panelChange)="expandPcDetails($event)">
                        <ngb-panel id="pcrow-{{ pidx }}">
                            <ng-template ngbPanelTitle>
                                <img src="assets/images/rectangle.svg" />
                            </ng-template>

                            <ng-template ngbPanelContent>
                                <div class="bottom">
                                    <div class="m-view-rates md:hidden">
                                        <div class="mining-rates pt-5 pb-5 mb-5">
                                            <div class="row">
                                                <div class="col-6">
                                                    <h4>
                                                        <span class="head">Est. Daily</span>
                                                        <span [innerHtml]="pc.estimate_daily | currency1 | safeHtml"></span>
                                                    </h4>
                                                </div>
                                                <div class="col-6">
                                                    <h4>
                                                        <span class="head">Est. Monthly</span>
                                                        <span [innerHtml]="pc.estimate_monthly | currency1 | safeHtml"></span>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row d-flex align-items-start">
                                        <div class="col-lg-4 col-md-4">
                                            <div class="ist-col">
                                                <h6>{{ pc.gpu }}<span> DaggerHashimoto: {{ commonUtils.convertHashRate(pc.hash_rate)+'/s' }} </span></h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 text-center">
                                            <div class="middle-col d-flex align-items-center justify-content-center">
                                                <h4>Temp. <span class="d-block"> {{ pc.temperature }} </span></h4>
                                                <h4>Load <span class="d-block"> {{ pc.cpu_load }} </span></h4>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="last-col">
                                                <div class="top-part d-flex align-items-center">
                                                    <label class="switch">
                                                        <input type="checkbox" [checked]="pc.scheduling" (change)="changeScheduling($event, pc)" />
                                                        <span class="slider round"></span>
                                                    </label>
                                                    <div class="d-flex align-items-center">
                                                        <span class="ml-2">Scheduling <span class="status" [class.active]="pc.scheduling"> {{pc.scheduling?'On':'Off'}} </span> </span>
                                                        <svg class="ml-2 cursor-pointer" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="schedulingModal.openModal(pc)">
                                                            <path
                                                                fill-rule="evenodd"
                                                                clip-rule="evenodd"
                                                                d="M8 0C8.56705 0 9.03305 0.432646 9.08592 0.985847L9.09091 1.09091V2.28391C9.88655 2.43483 10.6248 2.74774 11.2701 3.18704L12.102 2.35563C12.5281 1.9297 13.2188 1.92987 13.6447 2.35599C14.044 2.75549 14.0689 3.38754 13.7193 3.81594L13.6444 3.89877L12.8129 4.72981C13.2523 5.37514 13.5652 6.11344 13.7161 6.90909H14.9091C15.5116 6.90909 16 7.39751 16 8C16 8.56705 15.5674 9.03305 15.0142 9.08592L14.9091 9.09091H13.7161C13.5652 9.88655 13.2523 10.6248 12.8129 11.2702L13.6446 12.1018C14.0706 12.5278 14.0706 13.2185 13.6446 13.6446C13.2452 14.044 12.6131 14.0689 12.1846 13.7194L12.1018 13.6446L11.2702 12.8129C10.6248 13.2523 9.88655 13.5652 9.09091 13.7161V14.9091C9.09091 15.5116 8.60249 16 8 16C7.43295 16 6.96695 15.5674 6.91408 15.0142L6.90909 14.9091V13.7161C6.11335 13.5652 5.37498 13.2522 4.7296 12.8128L3.8987 13.6441C3.47277 14.0702 2.78205 14.0704 2.35592 13.6444C1.95643 13.2451 1.93131 12.6131 2.28069 12.1845L2.35555 12.1017L3.18689 11.2699C2.74767 10.6247 2.43481 9.88646 2.28391 9.09091H1.09091C0.488417 9.09091 0 8.60249 0 8C0 7.43295 0.432646 6.96695 0.985847 6.91408L1.09091 6.90909H2.28391C2.43483 6.11345 2.74774 5.37516 3.18705 4.72983L2.35574 3.89852C1.92971 3.47249 1.92971 2.78176 2.35574 2.35574C2.75514 1.95634 3.38718 1.93138 3.81566 2.28085L3.89852 2.35574L4.72983 3.18705C5.37516 2.74774 6.11345 2.43483 6.90909 2.28391V1.09091C6.90909 0.488417 7.39751 0 8 0ZM4.36364 8C4.36364 10.0084 5.99158 11.6364 8 11.6364C10.0084 11.6364 11.6364 10.0084 11.6364 8C11.6364 5.99158 10.0084 4.36364 8 4.36364C5.99158 4.36364 4.36364 5.99158 4.36364 8Z"
                                                                fill="black"
                                                            />
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="bottom-part mt-3 d-flex align-items-center">
                                                    <label class="switch">
                                                        <input type="checkbox" [checked]="pc.game_detection" (change)="changeGameDetection($event, pc)" />
                                                        <span class="slider round"></span>
                                                    </label>
                                                    <div class="d-flex gane-detection align-items-center">
                                                        <span class="ml-2">Game Detection <span class="status" [class.active]="pc.game_detection"> {{pc.game_detection?'On':'Off'}} </span> </span>
                                                    </div>
                                                </div>
                                                <div class="mt-3 optimized-mining d-flex align-items-center">
                                                    <label class="switch">
                                                        <input type="checkbox" [checked]="pc.is_optimized" (change)="changeOptimizedMining($event, pc)" />
                                                        <span class="slider round"></span>
                                                    </label>
                                                    <div class="d-flex align-items-center">
                                                        <span class="ml-2">Optimized Mining <span class="status" [class.active]="pc.is_optimized"> {{pc.is_optimized?'On':'Off'}}</span> </span>
                                                    </div>
                                                    <div class="custom_tooltip d-inline-block ml-2">
                                                        <div class="pc-tooltip">
                                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <circle cx="8" cy="8" r="8" fill="#879B95"/>
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.9848 9.38728V3.08008H9.0872V9.38728H6.9848ZM9.2024 11.7489C9.2024 12.4113 8.6552 12.9585 7.9928 12.9585C7.3448 12.9585 6.7832 12.4113 6.7832 11.7489C6.7832 11.0865 7.3448 10.5393 7.9928 10.5393C8.6552 10.5393 9.2024 11.0865 9.2024 11.7489Z" fill="white"/>
                                                            </svg>
                                                            <div class="pc-tooltip-bottom">
                                                                <p> <strong> WARNING:  </strong> Enabling Optimized Mining applies a moderate overclock to your graphics card. The overclock settings applied are tested and determined to be safe with your particular graphics card model. Do not enable this setting if you are manually applying your own overclock settings.</p>
                                                                <i></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>

                    <div class="top">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-lg-4 col-md-4 col-8">
                                <div class="pc-name">
                                    <h5 class="mb-0">{{ pc.pc_name }}</h5>
                                    <ng-container>
                                        <span class="badge badge-pill mining" *ngIf="pc.is_active == 1; else notMining">Mining</span>
                                    </ng-container>
                                    <ng-template #notMining>
                                        <span class="badge badge-pill n-mining">Not Mining</span>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3 d-none d-lg-block">
                                <div class="coin-name-part d-flex align-items-center" *ngIf="pc.is_active == 1">
                                    <!--<img src="assets/images/green-arrow.svg" />-->
                                    <img src="assets/images/blue-arrow.svg" />
                                    <span class="coin-name ml-2">{{ pc.coin }}</span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-8 col-4">
                                <div class="mining-rates">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 hidden md:flex">
                                            <h4>
                                                <span class="head">Est. Daily</span>
                                                <span [innerHtml]="pc.estimate_daily | currency1 | safeHtml"></span>
                                            </h4>
                                        </div>
                                        <div class="col-lg-4 col-md-4 hidden md:flex">
                                            <h4>
                                                <span class="head">Est. Monthly</span>
                                                <span [innerHtml]="pc.estimate_monthly | currency1 | safeHtml"></span>
                                            </h4>
                                        </div>
                                        <div class="col-lg-5 col-md-4">
                                            <ng-container *ngIf="pcAppSts(pc) == 0; else miningsts;">
                                            <div class="m-status stopped offline">
                                                <h5>
                                                    <svg class="mr-2" width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            fill-rule="evenodd"
                                                            clip-rule="evenodd"
                                                            d="M13.1454 7.32544C14.0073 7.87131 14.0073 9.12869 13.1454 9.67456L2.13419 16.6483C1.2085 17.2346 0 16.5695 0 15.4738L0 1.52621C0 0.430487 1.2085 -0.234615 2.13419 0.351655L13.1454 7.32544Z"
                                                            fill="#00D091"
                                                        />
                                                    </svg>
                                                    <span class="d-none d-lg-block"> Offline </span>
                                                </h5>
                                            </div>
                                            </ng-container>

                                            <ng-template #miningsts>
                                            <div class="m-status stopped" *ngIf="!chkIsMining(pc)" (click)="startMining(pc)">
                                                <h5>
                                                    <svg class="mr-2" width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            fill-rule="evenodd"
                                                            clip-rule="evenodd"
                                                            d="M13.1454 7.32544C14.0073 7.87131 14.0073 9.12869 13.1454 9.67456L2.13419 16.6483C1.2085 17.2346 0 16.5695 0 15.4738L0 1.52621C0 0.430487 1.2085 -0.234615 2.13419 0.351655L13.1454 7.32544Z"
                                                            fill="#00D091"
                                                        />
                                                    </svg>
                                                    <span class="d-none d-lg-block"> Start Mining </span>
                                                </h5>
                                            </div>
                                            <div class="m-status running" *ngIf="chkIsMining(pc)" (click)="stopMining(pc)">
                                                <h5>
                                                    <svg class="mr-2" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <rect width="15" height="15" rx="1.5" />
                                                    </svg>
                                                    <span class="d-none d-lg-block"> Stop Mining </span>
                                                </h5>
                                            </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="mt-5" *ngIf="totalPc == 0">
                <div class="d-flex align-items-center justify-content-center">
                    <p>No PC found.</p>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<add-pc-modal #addPcModal></add-pc-modal>
<pc-scheduling-modal #schedulingModal></pc-scheduling-modal>
