.pcs-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    .my-pc {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        color: #000;
        font-family: Chillax;
        margin-right: 6px;

        span {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 16px;
            text-transform: uppercase;
            color: #00d091;
        }
    }

    .add-pc {
        font-family: Chillax;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        text-align: right;
        color: #00d091;
        display: inline-flex;

        align-items: center;
        cursor: pointer;

        img {
            width: 25px;
            margin-left: 8px;
        }
    }

    .pc-row {
        background: #ffffff;
        border-radius: 30px;
        margin-top: 20px;
        padding: 55px 30px 55px;
        position: relative;
        border: 2px solid transparent;

        &.expanded {
            border-color: #62eed3;
        }
        .top {
            position: absolute;
            top: 44px;
            left: 8%;
            width: 90%;
        }

        .bottom {
            border-top: 1px solid #e4e4e6;
            padding-top: 40px;
            margin-top: 40px;
        }
    }

    .pc-name {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;

        h5 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 90%;
        }

        .badge {
            border-radius: 11px;
            font-weight: bold;
            font-size: 13px;
            line-height: 14px;
            text-transform: uppercase;
            margin-left: 15px;
            color: #fff;
        }

        .mining {
            background: #00d091;
        }
        .n-mining {
            background: #9c9c9e;
        }
    }

    .coin-name-part {
        img {
            width: 25px;
        }
    }

    .mining-rates {
        h4 {
            font-family: Chillax;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 0px;
            color: #000000;

            span.head {
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 14px;
                margin-bottom: 5px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                display: block;
                color: #00d091;
            }

            ::ng-deep sub {
                font-family: Chillax;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 18px;
                color: #000000;
                bottom: -1px;
            }
        }

        .m-status {
            border: 2px solid #62eed3;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            h5 {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                color: #00d091;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 0px;
            }

            &.running {
                background: #e0fcf6;
                h5 {
                    color: #000000;
                    svg {
                        fill: #000;
                    }
                }
            }
            &.offline {
                cursor: default;
            }
        }
    }

    .pc-row-group {
        .bottom {
            .ist-col {
                h6 {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #7e7e80;
                    margin: 0px;

                    span {
                        display: block;
                        color: #a1a1a3;
                    }
                }
            }

            .last-col {
                float: right;

                .status {
                    color: #7e7e80;
                }
                .switch {
                    position: relative;
                    display: inline-block;
                    width: 46px;
                    height: 24px;
                }

                .switch input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: linear-gradient(90deg, #33d9a7 0%, #62eed3 100%);
                    border-radius: 15px;
                    -webkit-transition: 0.4s;
                    transition: 0.4s;
                }

                .slider:before {
                    position: absolute;
                    content: "";
                    height: 14px;
                    width: 14px;
                    left: 3px;
                    bottom: 5px;
                    background-color: #fff;
                    -webkit-transition: 0.4s;
                    transition: 0.4s;
                }

                input:checked + .slider {
                    background-color: #2196f3;
                }

                input:focus + .slider {
                    box-shadow: 0 0 1px #2196f3;
                }

                input:checked + .slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }

                /* Rounded sliders */
                .slider.round {
                    border-radius: 34px;
                }

                .slider.round:before {
                    border-radius: 50%;
                }

                span {
                    color: #000;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                }
            }

            .middle-col {
                h4 {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;
                    margin-right: 15px;
                    color: #000000;

                    span {
                        font-size: 16px;
                        line-height: 24px;
                        color: #7e7e80;
                    }
                }
            }
        }
    }

    .bottom-part {
        .slider {
            background-color: #9c9c9e !important;
            background-image: none !important;
        }
    }

    .m-view-rates .mining-rates {
        border-bottom: 1px solid #e4e4e6;
    }
}

:host-context(.dark) {
    .pcs-wrap {
        .my-pc {
            color: #fff;
        }

        .pc-row-group {
            .bottom {
                .ist-col {
                    h6 {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #7e7e80;
                        margin: 0px;

                        span {
                            display: block;
                            color: #a1a1a3;
                        }
                    }
                }

                .last-col {
                    span {
                        color: #fff;

                        .status {
                            color: #05805C;


                        }

                        .status.active { color:#00D091;}
                    }

                    .bottom-part {
                        .slider {
                            background-color: #05805C !important;
                          
                        }
                    }
                }
            }
        }

        .pc-row {
            background: #1e2126;

            border: 2px solid transparent;

            &.expanded {
                border-color: #62eed3;
            }

            .mining-rates {
                    h4 {
                        color: #fff;

                        ::ng-deep sub {
                            color: #fff !important;
                        }
                    }
            }

            .top {
                .mining-rates {
                    h4 {
                        color: #fff;

                        ::ng-deep sub {
                            color: #fff !important;
                        }
                    }
                }
                .running {
                    background: #24413e;
                    border: 2px solid #62eed3;

                    h5 {
                        color: #62eed3;
                    }

                    svg {
                        fill: #62eed3;
                    }
                }

                .stopped {
                    background: #1e2126;
                    border: 2px solid #24413e;
                    h5 {
                        color: #0e785b;
                    }
                }

                .pc-name {
                    .n-mining {
                        background: #24413e;
                        color: #00d091;
                    }
                }
            }

            .bottom {
                border-top: 1px solid #879b95;

                .middle-col {
                    h4 {
                        color: #fff;
                    }
                }

                .top-part {
                    span {
                        color: #fff;
                    }
                    svg {
                        filter: invert(1);
                    }
                }

                .bottom-part {
                    span {
                        color: #fff;
                    }

                    svg {
                        filter: invert(1);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 319px) and (max-width: 680px) {
    .pcs-wrap {
        .my-pc {
            span {
                display: block;
                font-size: 14px;
                line-height: 25px;
            }
        }

        .pc-row {
            padding: 45px 15px 45px;

            .top {
                top: 28px;
                padding-left: 20px;
                left: 10%;
            }

            .bottom {
                border-top: 0px;
                padding-top: 0px;
                margin-top: 40px;
            }

            .running {
                width: 60px;
                height: 60px;
            }

            .stopped {
                width: 60px;
                height: 60px;
            }
        }

        .pc-name {
            align-items: flex-start;
            flex-direction: column;

            .badge {
                font-size: 12px;
                margin-top: 3px;
                margin-left: 0px;
            }

            .mining {
                background: #00d091;
            }
            .n-mining {
                background: #9c9c9e;
            }
        }

        .mining-rates {
            h5 {
                svg {
                    margin: 0px !important;
                }
            }
        }

        .pc-row-group {
            .bottom {
                .last-col {
                    float: left;
                }

                .middle-col.justify-content-center {
                    justify-content: flex-start !important;
                    margin: 10px 0px;
                }
            }
        }
    }


}

@media screen and (min-width: 766px) and (max-width: 1023px) {
    .pcs-wrap {
        padding: 0px 15px;

        .my-pc {
            span {
                display: block;
                font-size: 14px;
                line-height: 25px;
            }
        }

        .pc-row {
            padding: 30px 15px 20px;

            .top {
                top: 12px;
                padding-left: 30px;
            }

            .bottom {
                border-top: 1px solid #e4e4e6;
                padding-top: 15px;
                margin-top: 25px;
            }
        }

        .pc-name {
            align-items: flex-start;
            flex-direction: column;

            .badge {
                font-size: 12px;
                margin-top: 3px;
                margin-left: 0px;
            }

            .mining {
                background: #00d091;
            }
            .n-mining {
                background: #9c9c9e;
            }
        }

        .mining-rates {
            h5 {
                svg {
                    margin: 0px !important;
                }
            }
        }
    }
}




.pc-tooltip {position: relative;}

.pc-tooltip .pc-tooltip-bottom {
   min-width: 320px;
    top: 28px;
    right: -185px;
    transform: translate(-50%, 0);
    padding: 20px;
    color: #000002;
    background-color: #E3FDF8;
    font-weight: normal;
    font-size: 13px;
    border-radius: 20px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    
    border: 2px solid #62EED3;
    display:none;
}
.pc-tooltip .pc-tooltip-bottom p { margin:0px;}

.pc-tooltip:hover .pc-tooltip-bottom {
    display:block; cursor: pointer;
}



.pc-tooltip .pc-tooltip-bottom i {
    position:absolute;
    bottom:100%;
    right:6%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.pc-tooltip .pc-tooltip-bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background:transparent; border: 2px solid #62EED3; background-color: #E3FDF8;
 
}



:host-context(.dark) {
 .pc-tooltip .pc-tooltip-bottom {
  
    color: #62EED3;
    background-color: #24413E;
    
    
    border: 2px solid #62EED3;
    
}   
.pc-tooltip .pc-tooltip-bottom i::after {
   border: 2px solid #62EED3; background-color: #24413E;
 
}

}