<ng-template #deleteWalletModal let-modal>
    <div class="modal-content-inside">
        <div class="head">
            <h2>Delete Wallet</h2>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                <img src="assets/images/modal-cross.svg" />
            </button>
        </div>
        <div class="modal-body">

                <h3>Are you sure you want to delete this wallet?</h3>
            
                <button class="fuse-mat-button-large cancel" mat-flat-button [color]="'primary'" (click)="cancel()" *ngIf="!isEdit">
                    <span class="d-flex align-items-center"> No cancel <img src="assets/images/r-arrow.svg" class="ml-2" /></span>
                </button>
                <button class="fuse-mat-button-large ml-3 delete" mat-flat-button [color]="'primary'" (click)="deleteWallet()">
                    <span class="d-flex align-items-center"> Yes Delete <img src="assets/images/white-round.svg" class="ml-2" /></span>
                </button>
        </div>
    </div>
</ng-template>
