<div class="container">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-5">
            <div class="inside-box">
                <!-- Logo -->
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-12 mb-3">
                        <img src="assets/images/logo/bithome-logo-{{config.scheme}}.svg" />
                    </div>
                </div>

                <!-- Title -->

                <!-- Alert -->
                <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>

                <form class="mt-8" [formGroup]="forgotPasswordForm">
                    <!-- Email field -->
                    <mat-form-field class="w-full">
                        <input id="email" matInput [formControlName]="'email'" placeholder="Email Address" />
                        <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                            Email address is required
                        </mat-error>
                        <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>

                    <!-- Submit button -->
                    <button class="fuse-mat-button-large w-full mt-3 submit-btn" mat-flat-button [color]="'primary'" [disabled]="forgotPasswordForm.disabled" (click)="sendResetLink()">
                        <span *ngIf="!forgotPasswordForm.disabled" class="d-flex align-items-center"> Send reset link <img src="assets/images/round-arrow.svg" class="ml-2" /> </span>
                        <mat-progress-spinner *ngIf="forgotPasswordForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>

                    <div class="flex items-baseline mt-5 text-center">
                        <div>Return to</div>
                        <a class="ml-1" [routerLink]="['/sign-in']">Sign in </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
