.earnings-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 360px 0px 0px 0px;

    .cbte {
        h1 {
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 62px;
            line-height: 62px;

            color: #000;

            sub {
                font-weight: bold;
                font-size: 16px;
                line-height: 16px;
                text-transform: uppercase;
                color: #00d091;
                margin-left: 15px;
            }
        }

        h6 {
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;

            color: #00d091;
        }
    }

    .staking { margin-top:70px;
        h6 {
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            color: #000000;
        }

        span {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 20px;
            color: #7e7e80;
        }

        .stakin-outer {
            background: #ffffff;
            border-radius: 30px;
            padding: 30px;
            margin: 25px 0px;

            .staking-head {
                background: linear-gradient(180deg, #e3fdf8 0%, rgba(227, 253, 248, 0.0001) 100%);
                border-radius: 30px 30px 0px 0px;
                padding: 30px;
                h1 {
                    font-family: Chillax;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 62px;
                    line-height: 62px;

                    color: #00d091;

                    sub {
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 16px;
                        text-transform: uppercase;
                        color: #000000;
                        margin-left: 15px;

                        span {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 18px;
                            margin-left: 15px;
                            color: #7e7e80;
                        }
                    }
                }

                span.plus {
                    background: #ffffff;
                    border: 2px solid #00d091;
                    border-radius: 9.33333px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 42px;
                    height: 42px;
                    cursor: pointer;
                    margin: auto;

                    img {
                        width: 16px;
                    }
                }
                span.minus {
                    background: #ffffff;
                    border: 2px solid #00d091;
                    border-radius: 9.33333px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    width: 42px;
                    height: 42px;
                    margin-top: 10px;
                    cursor: pointer;

                    img {
                        width: 16px;
                    }
                }
            }

            .staking-mid {
                padding: 0px 30px 30px 30px;
                border-bottom: 1px solid #e4e4e6;

                .switch {
                    position: relative;
                    display: inline-block;
                    width: 56px;
                    height: 30px;
                }

                .switch input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: linear-gradient(90deg, #33d9a7 0%, #62eed3 100%);
                    border-radius: 15px;
                    -webkit-transition: 0.4s;
                    transition: 0.4s;
                }

                .slider:before {
                    position: absolute;
                    content: "";
                    height: 20px;
                    width: 20px;
                    left: 5px;
                    bottom: 5px;
                    background-color: #fff;
                    -webkit-transition: 0.4s;
                    transition: 0.4s;
                }

                input:checked + .slider {
                    background-color: #9c9c9e;
                }

                input:focus + .slider {
                    box-shadow: 0 0 1px #9c9c9e;
                }

                input:checked + .slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }

                /* Rounded sliders */
                .slider.round {
                    border-radius: 34px;
                }

                .slider.round:before {
                    border-radius: 50%;
                }

                h4 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;
                    color: #000000;

                    span {
                        display: block;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #7e7e80;
                    }
                }

                .button {
                    background: #e3fdf8;
                    border: 2px solid #00d091;
                    border-radius: 25px;

                    padding: 12px 20px;
                    cursor: pointer;

                    img {
                        width: 20px;
                        margin-left: 8px;
                    }
                }
            }

            .staking-footer {
                padding-top: 30px;
                h5 {
                    font-family: Chillax;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 20px;

                    color: #00d091;
                }

                span {
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 18px;
                    display: block;
                    margin-top: 8px;

                    color: #7e7e80;
                }

                .c-apy {
                    border: 2px solid #4ddeb2;
                    border-radius: 30px;
                    padding: 12px 20px;
                }
            }
        }
    }

    .earnings {
        padding-bottom: 20px; margin-top:30px;

        .r-activity {
            .r-activity-title {
                font-family: Chillax;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 20px;
                display: flex;
                align-items: center;
                color: #000000;
                justify-content: space-between;

                span {
                    font-size: 16px;
                    line-height: 14px;
                    text-align: right;
                    color: #00d091;
                    display: flex;
                    align-items: center;

                    img {
                        margin-left: 8px;
                        width: 20px;
                    }
                }
            }

            .r-activity-box {
                ul {
                    padding: 0px;
                    margin: 0px;
                    li {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 15px 0px;
                        border-bottom: 1px solid #e4e4e6;

                        span.r-date {
                            font-size: 16px;
                            line-height: 24px;
                            display: flex;
                            align-items: center;
                            color: #000000;

                            img {
                                width: 35px;
                                margin-right: 12px;
                            }

                            span.date {
                                line-height: 20px;
                                small {
                                    font-size: 12px;
                                    display: block;
                                    color: #7d848b;
                                }
                            }
                        }

                        span.r-amount {
                            font-size: 22px;
                            line-height: 24px;
                            text-align: right;
                            color: #00d091;

                            sub {
                                font-size: 12px;
                                line-height: 14px;
                                color: #9c9c9e;
                            }
                        }
                    }

                    .loss {
                        span.r-amount {
                            color: #000000;
                        }
                    }
                }
            }
        }

        .load-m {
            font-family: Chillax;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            text-align: right;
            color: #00d091;
        }
    }
    .est {
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        color: #7e7e80;
    }
}
