<div class="earnings-wrap">
    <section class="cbte">
        <div class="row align-items-center">
            <div class="col-lg-2">
               <img src="assets/images/bithome-coin-hero-lightmode-round.png" />
            </div>
            <div class="col-lg-6">
                        <h6>Current Balance</h6>
                        <h1>124,259.103<sub>home </sub></h1>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </section>
    <section class="staking">
        <h6>Staking</h6>
        <span>Earn even more money by staking your BitHome Coins.</span>
        <div class="stakin-outer">
            <div class="staking-head">
                <div class="row align-items-center">
                    <div class="col-lg-11">
                        <h6>Currently Staked</h6>
                        <h1>167,394.002<sub>home <span>Est. $8,350.89</span></sub></h1>
                    </div>
                    <div class="col-lg-1">
                        <span class="plus"><img src="assets/images/plus.svg" /></span>
                        <span class="minus"><img src="assets/images/minus.svg" /></span>
                    </div>
                </div>
            </div>
            <div class="staking-mid">

                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <label class="switch">
                            <input type="checkbox" />
                            <span class="slider round"></span>
                        </label>
                        <label for="tfi" class="ml-4">Auto Compounding ON</label>
                    </div>
                    <div class="col-lg-3">
                        <h4>Unstaked Earnings
                            <span>16,205.028 HOME</span>
                        </h4>
                    </div>
                    <div class="col-lg-5 d-flex align-items-center justify-content-between">
                        <span class="button d-flex align-items-center">
                             Withdraw <img src="assets/images/xt.svg" /> 
                        </span>
                        <span class="button d-flex align-items-center">
                            Compound <img src="assets/images/xt.svg" /> 
                        </span>
                    </div>
                </div>


            </div>
            <div class="staking-footer">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="c-apy">
                            <h5>Current APY</h5>
                            <span>78.96%</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h5>Recent Profit (7 Days)</h5>
                        <span>253.590 HOME</span>
                    </div>
                    <div class="col-lg-3">
                        <h5>Lifetime Profit</h5>
                        <span>253.590 HOME</span>
                    </div>
                    <div class="col-lg-3">
                        <h5>Total Staked</h5>
                        <span>82,342,092.992 HOME</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="earnings">
        <div class="r-activity">
            <h4 class="r-activity-title">
                Recent Activity 
            </h4>
            <div class="r-activity-box mt-4">
                <ul>
                    <li class="Profit">
                        <span class="r-date">
                            <img src="assets/images/arrow-down-p.svg" />

                            <span class="date">
                               Received HOME

                                <small>September 16, 2021</small>
                            </span>
                        </span>

                        <span class="est">Est. $0.01 </span>

                        <span class="r-amount">
                            +0.313
                            <sub>HOME</sub>
                        </span>
                    </li>
                    <li class="unstaked">
                        <span class="r-date">
                            <img src="assets/images/un-lock.svg" />

                            <span class="date">
                               Unstaked HOME

                                <small>September 16, 2021</small>
                            </span>
                        </span>

                        <span class="est">Est. $0.01 </span>

                        <span class="r-amount">
                            +0.313
                            <sub>HOME</sub>
                        </span>
                    </li>
                    <li class="Profit">
                        <span class="r-date">
                            <img src="assets/images/arrow-down-p.svg" />

                            <span class="date">
                               Received HOME

                                <small>September 16, 2021</small>
                            </span>
                        </span>

                        <span class="est">Est. $0.01 </span>

                        <span class="r-amount">
                            +0.313
                            <sub>HOME</sub>
                        </span>
                    </li>
                    <li class="Profit">
                        <span class="r-date">
                            <img src="assets/images/arrow-down-p.svg" />

                            <span class="date">
                               Received HOME

                                <small>September 16, 2021</small>
                            </span>
                        </span>

                        <span class="est">Est. $0.01 </span>

                        <span class="r-amount">
                            +0.313
                            <sub>HOME</sub>
                        </span>
                    </li>
                    <li class="Staked">
                        <span class="r-date">
                            <img src="assets/images/lock.svg" />

                            <span class="date">
                               Staked HOME


                                <small>September 16, 2021</small>
                            </span>
                        </span>

                        <span class="est">Est. $0.01 </span>

                        <span class="r-amount">
                            +0.313
                            <sub>HOME</sub>
                        </span>
                    </li>
                    
                </ul>
                <h6 class="d-flex align-items-center mt-8 load-m mb-0 cursor"><span> <img class="mr-3 w-5"src="assets/images/arrow-down.svg" /> </span> Load More</h6>
            </div>
        </div>
    </section>
</div>
