<ng-template #addEditWalletModal let-modal>
    <div class="modal-content-inside">
        <div class="head">
            <h2 *ngIf="!isEdit">Add Wallet</h2>
            <h2 *ngIf="isEdit">Edit Wallet</h2>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="20" cy="20" r="20" fill="#E3FDF8" />
                    <path d="M26.364 13.636L13.636 26.3639" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                    <path d="M13.636 13.636L26.364 26.364" stroke="#00D091" stroke-width="2" stroke-linecap="round" />
                </svg>
            </button>
        </div>

        <div class="modal-body">
            <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type">
                {{alert.message}}
            </fuse-alert>
            <form class="mt-8 add-edit-wallet" [formGroup]="walletForm">
                <mat-form-field class="w-full" hidden="true">
                    <input class="w-full" matInput [formControlName]="'wallet_id'" placeholder="Wallet ID" />
                </mat-form-field>
                <mat-form-field class="w-full">
                    <input class="w-full" matInput [formControlName]="'wallet_name'" placeholder="Wallet Nickname" />
                    <mat-error>
                        Wallet Nickname is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <input class="w-full" matInput [formControlName]="'wallet_addr'" placeholder="Wallet Address" />
                    <mat-error>
                        Wallet address is required
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button class="fuse-mat-button-large submit-btn mt-5 action-button" mat-flat-button [color]="'primary'" [disabled]="walletForm.disabled" (click)="saveWallet()" *ngIf="!isEdit">
                    <span *ngIf="!walletForm.disabled" class="d-flex align-items-center">
                        Add Wallet
                           <svg class="ml-2" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1" width="25" height="25" rx="12.5" stroke="#00D091" stroke-width="2" stroke-linecap="round"/>
                        <path d="M13.5 8.5V18.5" stroke="#00D091" stroke-width="2" stroke-linecap="round"/>
                        <path d="M8.5 13.5H18.5" stroke="#00D091" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                    </span>
                    <mat-progress-spinner *ngIf="walletForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
                <button class="fuse-mat-button-large mt-5 submit-btn action-button" mat-flat-button [color]="'primary'" [disabled]="walletForm.disabled" (click)="saveWallet()" *ngIf="isEdit">
                    <span *ngIf="!walletForm.disabled" class="d-flex align-items-center">
                        Save
                        <svg width="22" height="22" viewBox="0 0 22 22" class="ml-2" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="1" y="1" width="20" height="20" rx="10" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                            <path d="M9.66667 7L13.6667 11L9.66667 15" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                        </svg>
                    </span>
                    <mat-progress-spinner *ngIf="walletForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>
</ng-template>
