<div class="container">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-5">
            <div class="inside-box">
                <!-- Logo -->
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-12 mb-3">
                        <img src="assets/images/logo/bithome-logo-{{config.scheme}}.svg" />
                    </div>
                </div>

                <!-- Alert -->
                <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>

                <!-- Reset password form -->
                <form class="mt-8" [formGroup]="resetPasswordForm">

                    <!-- Password field -->
                    <mat-form-field class="w-full">
                        <mat-label>Password</mat-label>
                        <input
                            id="password"
                            matInput
                            type="password"
                            [formControlName]="'password'"
                            #passwordField>
                        <button
                            mat-icon-button
                            type="button"
                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                            matSuffix>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error *ngIf="resetPasswordForm.get('password').hasError('required')">
                                Password is required
                            </mat-error>
                            <mat-error *ngIf="resetPasswordForm.get('password').hasError('pattern')">
                                Password requires at least 8 characters in length, one lowercase and uppercase letter, one number, one special character
                            </mat-error>
                    </mat-form-field>

                    <!-- Password confirm field -->
                    <mat-form-field class="w-full">
                        <mat-label>Password (Confirm)</mat-label>
                        <input
                            id="password-confirm"
                            matInput
                            type="password"
                            [formControlName]="'passwordConfirm'"
                            #passwordConfirmField>
                        <button
                            mat-icon-button
                            type="button"
                            (click)="passwordConfirmField.type === 'password' ? passwordConfirmField.type = 'text' : passwordConfirmField.type = 'password'"
                            matSuffix>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordConfirmField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordConfirmField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                            Password confirmation is required
                        </mat-error>
                        <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('mustMatch')">
                            Password confirmation does not match
                        </mat-error>
                    </mat-form-field>

                    <!-- Submit button -->
                    <button
                        class="fuse-mat-button-large w-full mt-3 submit-btn"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="resetPasswordForm.disabled"
                        (click)="resetPassword()">
                        <span *ngIf="!resetPasswordForm.disabled" class="d-flex align-items-center">
                            Reset your password <img src="assets/images/round-arrow.svg" class="ml-2" /> 
                        </span>
                        <mat-progress-spinner
                            *ngIf="resetPasswordForm.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>

                    <!-- Form footer -->
                    <div class="mt-8 text-md font-medium text-secondary">
                        <span>Return to</span>
                        <a
                            class="ml-1 hover:underline"
                            [routerLink]="['/admin/sign-in']">sign in
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
