<div class="account-wrap">
    <form>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" placeholder="Email Address" value="{{ user.email }}" disabled="" />
                </div>
            </div>
        </div>
    </form>
    <hr />
    <form [formGroup]="changePasswordForm">
        <div class="row">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-9">
                        <label for="pwd" class="mb-2">Reset Password</label>
                        <p class="mt-0 mb-5">To change your password, enter your current password followed by your new password.</p>
                    </div>
                </div>
                <fuse-alert class="mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [dismissible]="true">
                    {{alert.message}}
                </fuse-alert>
                <div class="row align-items-center ">
                    <div class="col-lg-6 mb-4">
                        <input type="password" class="form-control" placeholder="Current Password" [formControlName]="'currentPwd'" />
                        <span class="error text-danger" *ngIf="changePasswordForm.get('currentPwd').touched && changePasswordForm.get('currentPwd').hasError('required')">
                            Current password is required
                        </span>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <a class="text-decoration-none" [routerLink]="['/forgot-password']"><span class="fp-text">Forgot your password?</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="New Password" [formControlName]="'password'" />
                    <span class="error text-danger" *ngIf="changePasswordForm.get('password').touched && changePasswordForm.get('password').hasError('required')">
                        Password is required
                    </span>
                    <span class="error text-danger" *ngIf="changePasswordForm.get('password').touched && changePasswordForm.get('password').hasError('pattern')">
                        Password requires at least 8 characters in length, one lowercase and uppercase letter, one number, one special character
                    </span>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm New Password" [formControlName]="'passwordConfirm'" />
                    <span class="error text-danger" *ngIf="changePasswordForm.get('passwordConfirm').touched && changePasswordForm.get('passwordConfirm').hasError('required')">
                        Confirm password is required
                    </span>
                    <span class="error text-danger" *ngIf="changePasswordForm.get('passwordConfirm').touched && changePasswordForm.get('passwordConfirm').hasError('mustMatch')">
                        Confirm password does not match
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <button class="fuse-mat-button-large w-full mt-3" mat-flat-button [disabled]="changePasswordForm.disabled" (click)="changePassword()">
                    <span *ngIf="!changePasswordForm.disabled" class="d-flex align-items-center">
                        Update Password
                        <svg class="ml-2" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="1" y="1" width="20" height="20" rx="10" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                            <path d="M9.66667 7L13.6667 11L9.66667 15" stroke="#00D091" stroke-width="1.5" stroke-linecap="round" />
                        </svg>
                    </span>
                    <mat-progress-spinner *ngIf="changePasswordForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </div>
        </div>
    </form>
    <hr />
    <div class="row">
        <div class="two-factor">
            <div class="col-lg-8">
                <div class="d-flex align-items-center">
                    <label for="tfi" class="mr-4">Two-Factor Identification</label>
                    <label class="switch">
                        <input type="checkbox" (change)="setTwoFactorIdentify($event)" [checked]="config.acc_tfidnf" />
                        <span class="slider round"></span>
                    </label>
                </div>
                <p class="mt-2">Set up two-factor identification to protect your account from unauthorized access.</p>
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="withdrawal">
            <h5>Withdrawal Addresses</h5>
            <ng-container *ngIf="wallets.length > 0">
                <div class="titles">
                    <div class="row">
                        <div class="col-lg-3 pl-2"><h6>Wallet Nickname</h6></div>
                        <div class="col-lg-7"><h6>Wallet Address</h6></div>
                    </div>
                </div>
                <div class="address-row" *ngFor="let wallet of wallets;">
                    <div class="row align-items-center">
                        <div class="col-lg-3"><h6>{{ wallet.nickname }}</h6></div>
                        <div class="col-lg-7"><h6>{{ wallet.address }}</h6></div>
                        <div class="edit_delete">
                            <ul class="d-flex align-items-center justify-content-end p-0 m-0">
                                <li class="mr-3">
                                    <img class="light-img" src="assets/images/edit.svg" (click)="AddEditWalletModal.openModal(wallet)" />
                                    <img class="dark-img" src="assets/images/dark-edit.svg" (click)="AddEditWalletModal.openModal(wallet)" />
                                </li>
                                <li>
                                    <img class="light-img" src="assets/images/delete.svg" (click)="DeleteWalletConfirm.openModal(wallet)" />
                                    <img class="dark-img" src="assets/images/dark-del.svg" (click)="DeleteWalletConfirm.openModal(wallet)" />  
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="wallets.length == 0">
                <p>No wallets found.</p>
            </ng-container>

            <button class="d-flex align-items-center add-new" (click)="AddEditWalletModal.openModal()">
                <svg class="mr-2" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="1" y="1" width="25" height="25" rx="12.5" stroke="#00D091" stroke-width="2" stroke-linecap="round"/>
                    <path d="M13.5 8.5V18.5" stroke="#00D091" stroke-width="2" stroke-linecap="round"/>
                    <path d="M8.5 13.5H18.5" stroke="#00D091" stroke-width="2" stroke-linecap="round"/>
                </svg>
                Add a new wallet
            </button>
        </div>
    </div>
</div>

<add-edit-wallet-modal #addEditWalletModal [wallets]="wallets" (addOrEdit)="walletAddedOrUpdated($event)"></add-edit-wallet-modal>
<delete-wallet-confirm #deleteWalletConfirm (deleted)="walletDeleted($event)"></delete-wallet-confirm>
