<div class="custom-checkbox flex items-center space-x-0.5 sm:space-x-2">
    <label class="switch">
        <input type="checkbox" (change)="setScheme($event)" [checked]="config.scheme === 'dark'" />
        <span class="slider round"></span>
    </label>
    <span class="text-mode">{{ config.scheme | titlecase }} Mode</span>
</div>